  <h4>Datos de la Cuenta</h4>
  <hr/>
  <div class="row">
    <div class="col">     
      <%= label :user, :username, 'Login', class: "control-label required" %>  
    </div>
    <!--
    <div class="col">     
      <%# label :user, :password, 'Clave', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%# label :user, :password_confirmation, 'Confirmación Clave', class: "control-label required" %>  
    </div>
    -->
    <div class="col">  
        <%= label :cfg_usuario_cfg_perfiles_usuario_id, 'Perfil', class: "control-label required" %>  
    </div>
    <div class="col">     
        <%= label :cfg_usuario, :tipo_usuario, 'Tipo de Usuario', class: "control-label required" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">      
      <%= text_field :user, :username, {class: "form-control", required: true, placeholder: "INGRESE EL LOGIN", maxlength: 20 } %>
    </div>  
    <!--
    <div class="col">
      <%# password_field :user, :password, {class: "form-control", autocomplete: "off", required: true, placeholder: "INGRESE LA CLAVE", maxlength: 20 } %>
    </div>
    <div class="col">
       <%# password_field :user, :password_confirmation, {class: "form-control", autocomplete: "off", required: true, placeholder: "INGRESE LA CONFIRMACION DE LA CLAVE", maxlength: 20 } %>
    </div>  
    -->
    <div class="col">  
        <%= collection_select(:cfg_usuario, :cfg_perfiles_usuario_id, obtener_perfiles_usuarios_activos, :id, :nombre_perfil, {prompt: "SELECCIONE EL PERFIL DE USUARIO"}, {id: "cfg_perfiles_usuario_id", class: "form-control", required: true}) %>
    </div>  
    <div class="col">
        <%= collection_select(:cfg_usuario, :tipo_usuario, obtener_tipo_usuarios, :id, :descripcion, {prompt: "SELECCIONE EL TIPO DE USUARIO"}, {id: "cfg_usuario_tipo_usuario", class: "form-control", required: true}) %>
    </div>
  </div>

  <div class="row">    
    <div class="col">  
        <%= label :cfg_usuario, :estado_cuenta, 'Estado de la Cuenta', class: "control-label required" %>  
    </div> 
    <div class="col">     
        <%= label :cfg_usuario, :visible, 'Visible', class: "control-label required" %>  
    </div>
    <div class="col">  
        <%= label :cfg_usuario, :mostrar_en_historias, 'Mostrar en historias', class: "control-label required" %>  
    </div>  
  </div>
  <div class="row">    
    <div class="col">  
        <%= select(:cfg_usuario, :estado_cuenta, obtener_estatus_activo_inactivo, { prompt: "SELECCIONE EL ESTADO DE LA CUENTA"  }, {id: "cfg_usuario_estado_cuenta", class: "form-control", required: true }) %>
    </div> 
    <div class="col">
        <%= select(:cfg_usuario, :visible, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS VISIBLE"  }, {id: "cfg_usuario_visible", class: "form-control", required: true }) %>
    </div>
    <div class="col">  
        <%= select(:cfg_usuario, :mostrar_en_historias, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS MOSTRAR EN HISTORIA"  }, {id: "cfg_usuario_mostrar_en_historias", class: "form-control", required: true }) %>
    </div>  
  </div>

  <!-- DATOS DE EMPRESA CUANDO EL PERFIL ESTE ASOCIADO-->
  <div id="area_empresa">
    <br/><br/>
    <h4>Datos de la Empresa - Sede</h4>
    <hr/>
    <div class="row">
      <div class="col">
        <%= label :cfg_usuario, :empresa_id, 'Empresa - Sede', class: "control-label required" %>  
      </div>         
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <% if session[:perfiles_asociados_empresa].include?(session[:perfil_usuario_id]) %>
            <%= grouped_collection_select :cfg_usuario, :cfg_sede_id, obtener_empresas_activas_id(session[:empresa_id]), :cfg_sedes, :razon_social, :id, :nombre_sede, {prompt: "SELECCIONE LA EMPRESA-SEDE" }, {class: "form-control"} %>
          <% else %>
            <%= grouped_collection_select :cfg_usuario, :cfg_sede_id, obtener_empresas_activas, :cfg_sedes, :razon_social, :id, :nombre_sede, {prompt: "SELECCIONE LA EMPRESA-SEDE" }, {class: "form-control"} %>
          <% end %>
        </div>  
      </div>        
    </div>
  </div>

  <!-- DATOS CUANDO EL TIPO DE USUARIO SEA PRESTADOR-->
  <div id="area_tipo_usuario_prestador">
    <br/><br/>
    <h4>Datos del Prestador</h4>
    <hr/>
    <div class="row">   
      <div class="col">  
          <%= label :cfg_usuario, :especialidad, 'Especialidad', class: "control-label required" %>  
      </div> 
      <div class="col">     
          <%= label :cfg_usuario, :registro_profesional, 'Registro Profesional', class: "control-label required" %>  
      </div>
       <div class="col">     
          <%= label :cfg_usuario, :tipo_personal, 'Tipo Personal', class: "control-label required" %>  
      </div>
    </div>
    <div class="row">   
      <div class="col">  
        <%= collection_select(:cfg_usuario, :cfg_especialidad_id, obtener_especialidades_turno, :id, :descripcion, {prompt: "SELECCIONE LA ESPECIALIDAD"}, {id: "cfg_usuario_cfg_especialidad_id", class: "form-control"}) %>
      </div>
      <div class="col">  
        <%= text_field :cfg_usuario, :registro_profesional, {class: "form-control", style: "text-transform: uppercase", placeholder: "INGRESE EL REGISTRO PROFESIONAL", maxlength: 30 } %>
      </div>
      <div class="col">  
        <%= collection_select(:cfg_usuario, :personal_atiende, obtener_tipo_personal, :id, :descripcion, {prompt: "SELECCIONE EL TIPO DE PERSONAL", :selected => 1854}, {id: "cfg_usuario_personal_atiende", class: "form-control"}) %>
      </div>
    </div>    
  
    <div class="row">   
      <div class="col">  
          <%= label :cfg_usuario, :unidad_funcional, 'Unidad Funcional', class: "control-label required" %>  
      </div> 
      <div class="col">     
          <%= label :cfg_usuario, :porcentaje_honorario, 'Porcentaje Honorario', class: "control-label required" %>  
      </div>
      <div class="col">     
      </div>  
    </div>
    <div class="row">   
      <div class="col">  
        <%= text_field :cfg_usuario, :unidad_funcional, {class: "form-control", style: "text-transform: uppercase", placeholder: "INGRESE LA UNIDAD FUNCIONAL", maxlength: 100 } %>
      </div>
      <div class="col">  
        <%= text_field :cfg_usuario, :porcentaje_honorario, {class: "form-control", placeholder: "INGRESE EL PORCENTAJE HONORARIO", maxlength: 3 } %>
      </div>
      <div class="col">  
      </div>
    </div>  
  </div> 
  
