  <h4>Imágenes del usuario</h4>
  <hr/>
  <div class="row">
    <div class="col">
      <%= label :cfg_imagen, :imagen, 'Foto', class: "control-label" %>   
    </div>
    <div class="col">
      <%= label :imagen_firma, :imagen, 'Firma', class: "control-label" %>   
    </div>
  </div>
  <div class="row">
    <div class="col">      
      <div class="field">
        <%= file_field :cfg_imagen, :image %>
        &nbsp;
        <%# image_tag @cfg_imagen.image.url(:med) if !@cfg_imagen.nil? %>
        <%= mostrar_imagen(@cfg_imagen).html_safe %>
      </div>
    </div>  
    <div class="col">      
      <div class="field">
        <%= file_field :imagen_firma, :image %>
        &nbsp;
        <%# image_tag @imagen_firma.image.url(:med) if !@imagen_firma.nil? %>
        <%= mostrar_imagen(@imagen_firma).html_safe %>
      </div>
    </div>
 </div>