<h4>Usuario</h4>
<div class="row">
  <div class="col titulos-campos">     
    Login      
  </div>
  <div class="col titulos-campos">     
    Nombres
  </div>
  <div class="col titulos-campos">     
    Apellidos      
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_usuario.login_usuario %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_usuario.nombres %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_usuario.apellidos %>&nbsp;
  </div>
</div>  