<% if !@cfg_usuarios.nil? and @cfg_usuarios.size > 0 %>
  <table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
    <thead>
      <tr>        
        <th scope="col">Login</th>
        <th scope="col">Perfil</th>
        <th scope="col">Identificación</th>
        <th scope="col">Tipo Usuario</th>
        <th scope="col">Nombres</th>  
        <th scope="col">Apellidos</th>
        <th scope="col">Empresa-Sede </th>
        <th scope="col">Estatus Cuenta</th>         
        <th scope="col" colspan="4">Operaciones</th>
      </tr>
    </thead>

    <tbody>
      <% @cfg_usuarios.each do |cfg_usuario| %>
        <tr>
          <td><%= cfg_usuario.login_usuario %></td>
          <td><%= cfg_usuario.nombre_perfil %></td>
          <td><%= cfg_usuario.descripcion_tipo_identificacion %> - <%= cfg_usuario.identificacion %></td>
          <td><%= cfg_usuario.nombre_tipo_usuario %></td>
          <td><%= cfg_usuario.nombres %></td>          
          <td><%= cfg_usuario.apellidos %></td>  
          <td>
             <%= cfg_usuario.razon_social %> 
             <%# if !cfg_usuario.nombre_sede.blank? %>
                 - <%= cfg_usuario.nombre_sede %> 
             <%# end %>
          </td>          
          <td><%= cfg_usuario.estado_cuenta_descripcion? %></td>
          <td align="center">           
            <%= link_to(cfg_usuario) do %>           
              <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
            <% end %> 
          </td>
          <td align="center">           
            <%= link_to(reiniciar_clave_cfg_usuario_path(cfg_usuario)) do %>
              <span class="oi oi-key" title="Cambiar contraseña" aria-hidden="true"></span>  
            <% end %>
          </td>
          <td align="center">           
            <%= link_to(edit_cfg_usuario_path(cfg_usuario)) do %>
              <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>  
            <% end %>
          </td>
          <td align="center">
            <%= link_to(estatus_usuario_path(cfg_usuario, devolver_valor_activo(cfg_usuario.estado_cuenta)), method: :post,data: { confirm: '¿Está seguro que desea activar/inactivar la cuenta del usuario?' }) do %>           
                 <%= mostrar_operacion_activar(cfg_usuario.estado_cuenta).html_safe  %>
            <% end %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="sin_registros"> No existen usuarios registrados </div> 
<% end %>  