
<div id="modal_buscar_usuarios" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar usuarios</h5>
      </div>
      <%# form_for @cfg_usuario, remote: true do |f| %>
      <%= form_for :cfg_usuario, url: buscar_cfg_usuarios_path,  remote: true, 
          :html => {:method => "get", :id => "form" } do |f| %>
        <!-- modal-body -->
        <div class="modal-body">
            <!-- Búsqueda por login y nombres/apellidos-->
            <div class="row">
              <div class="col">
                <%= label_tag 'login', 'Login', class: "control-label" %>    
              </div>
              <div class="col">
                <%= label_tag 'identificacion', 'Identificación', class: "control-label" %>    
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">    
                  <%= text_field_tag 'login', nil, class: "form-control", placeholder: "INGRESE EL LOGIN", maxlength: 15 %>
                </div>
              </div>
              <div class="col">  
                <div class="form-group">    
                  <%= text_field_tag 'identificacion', nil, class: "form-control", placeholder: "INGRESE LA IDENTIFICACION", maxlength: 50 %>
                </div>
              </div>
            </div>
            <!-- Búsqueda por nombre/ apellido  -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'nombre_apellidos', 'Nombres o Apellidos', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">
                  <div class="form-group">    
                  <%= text_field_tag 'nombres_apellidos', nil, class: "form-control", placeholder: "INGRESE EL NOMBRE O APELLIDO", maxlength: 15, style: "text-transform: uppercase" %>
                </div>
              </div>
            </div>   
            <!-- Búsqueda por perfil de usuario / tipo de usuario -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'perfil_id', 'Perfil', class: "control-label" %>    
              </div>
              <div class="col">
                  <%= label_tag 'tipo_usuario_id', 'Tipo de Usuario', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">  
                <div class="form-group"> 
                  <% perfiles = obtener_perfiles_usuarios_activos %>
                  <%= select_tag 'perfil_id', options_for_select(perfiles.collect{ |u| [u.nombre_perfil, u.id] }), {class: "form-control", :include_blank => true} %>
                </div>
              </div>
              <div class="col">  
                <div class="form-group">    
                  <% tipo_usuarios = obtener_tipo_usuarios %>
                  <%= select_tag 'tipo_usuario_id', options_for_select(tipo_usuarios.collect{ |u| [u.descripcion, u.id] }), {class: "form-control", :include_blank => true} %>
                </div>
              </div>
            </div>    
            <!-- Búsqueda por empresa / sede -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'empresa_id', 'Empresa', class: "control-label" %>    
              </div>
              <div class="col">
                  <%= label_tag 'sede_id', 'Sede', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">  
                <div class="form-group"> 
                  <% empresas = obtener_empresas_todas %>
                  <%= select_tag 'empresa_id', options_for_select(empresas.collect{ |u| [u.razon_social, u.id] }), {class: "form-control", :include_blank => true} %>
                </div>
              </div>
              
              <div class="col">  
                <div class="form-group">    
                  <div id="area_sedes">  
                  <%= render 'sedes', empresa_id: params[:empresa_id] %>
                  </div>
                </div>
              </div>

            </div> 
            <!-- Búsqueda por empresa / sede -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'estado_cuenta', 'Estatus Cuenta', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">
                <div class="form-group"> 
                  <% estados_cuenta = obtener_estatus_activo_inactivo%>
                  <%= select_tag 'estado_cuenta', options_for_select(estados_cuenta.collect{ |u| [u[0], u[1]] }), {class: "form-control", :include_blank => true} %>
                </div>    
              </div>
            </div> 


            <!-- --> 
        </div><!-- fin modal-body-->
        <!-- BOTONES -->
        <div class="modal-footer">          
          <%= f.submit " Buscar ", class: "btn btn-primary", id: "enviar" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
        </div>

      <% end %>
    </div>
  </div>
</div>
