<script> 
  $(document).ready(function() {
    // AREA DE PRESTADOR
    $("#area_tipo_usuario_prestador").hide();
    if ($("#cfg_usuario_tipo_usuario").val() == <%= CONFIG["TIPO_USUARIO_PRESTADOR"] %>  ) {
      $("#area_tipo_usuario_prestador").show();
    }
    // AREA DE EMPRESA
    $("#area_empresa").hide();
    //if ($("#cfg_usuario_tipo_usuario").val() == <%= CONFIG["TIPO_USUARIO_PRESTADOR"] %>  ) {
    var asociado = jQuery.inArray( parseInt($("#cfg_perfiles_usuario_id").val()), <%= session[:perfiles_asociados_empresa] %> )
    if( asociado == "-1"   ){ // El perfil no esta asociado a empresa  
      $("#area_empresa").hide();
    }else{
      $("#area_empresa").show();
    }

    // EVENTO AL CAMBIAR EL VALOR DEL COMBO TIPO DE USUARIO
    $("#cfg_usuario_tipo_usuario").change(function() {
      // Ocultar el area de los datos del prestador
      $("#area_tipo_usuario_prestador").hide();
      if($(this).val() == <%= CONFIG["TIPO_USUARIO_PRESTADOR"] %>  ){ // Prestador
        // Mostrar el area de los datos del prestador
        $("#area_tipo_usuario_prestador").show();
      }else{
        $("#area_tipo_usuario_prestador").hide();
      }
    });
    
    // EVENTO AL CAMBIAR EL VALOR DEL COMBO PERFIL
    $("#cfg_perfiles_usuario_id").change(function() {
      // Ocultar el area de los datos de la empresa
      $("#area_empresa").hide();
      var asociado = jQuery.inArray( parseInt($(this).val()), <%= session[:perfiles_asociados_empresa] %> )
      if( asociado == "-1"   ){ // El perfil no esta asociado a empresa
        // Ocultar el area de los datos de la empresa
        $("#area_empresa").hide();        
      }else{
        // Mostrar el area de los datos de la empresa
        $("#area_empresa").show();
      }
    });
  });
</script>  
<h2>Editar Usuario</h2>

<%# form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true } ) do |f| %>
<%= form_with(model: @cfg_usuario, local: true, html: { multipart: true }) do |f| %>

  <%# devise_error_messages! %>
  <%= a = []
    a << @cfg_usuario
    a << @user
    render 'general/errores', modelos: a %>

<br/>
<!-- Encabezado tabuladores -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#datos_personales">Datos Personales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#datos_cuenta">Datos de la Cuenta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#datos_imagenes">Imágenes</a>
  </li>
</ul>
<br/>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active container" id="datos_personales">
    <%= render 'datos_personales' %>
  </div>
  <div class="tab-pane container" id="datos_cuenta">
    <%= render 'datos_cuenta' %>
  </div>
  <div class="tab-pane container" id="datos_imagenes">
    <%= render 'datos_imagenes' %>
  </div>
</div>   


  <!-- BOTONES -->
  <br/><br/>
  <div class="actions text-center">
    <%= f.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_usuarios_path, class: "btn btn-secondary" %>
  </div>
  <br>
<% end %>
