<script> 
  $(document).ready(function() {
    // AREA DE PRESTADOR
    $("#area_tipo_usuario_prestador").hide();
    if ($("#cfg_usuario_tipo_usuario").val() == <%= CONFIG["TIPO_USUARIO_PRESTADOR"] %>  ) {
      $("#area_tipo_usuario_prestador").show();
    }
    // AREA DE EMPRESA
    $("#area_empresa").hide();
    //if ($("#cfg_usuario_tipo_usuario").val() == <%= CONFIG["TIPO_USUARIO_PRESTADOR"] %>  ) {
    var asociado = jQuery.inArray( parseInt($("#cfg_perfiles_usuario_id").val()), <%= session[:perfiles_asociados_empresa] %> )
    if( asociado == "-1"   ){ // El perfil no esta asociado a empresa  
      $("#area_empresa").hide();
    }else{
      $("#area_empresa").show();
    }

    // EVENTO AL CAMBIAR EL VALOR DEL COMBO TIPO DE USUARIO
    $("#cfg_usuario_tipo_usuario").change(function() {
      // Ocultar el area de los datos del prestador
      $("#area_tipo_usuario_prestador").hide();
      if($(this).val() == <%= CONFIG["TIPO_USUARIO_PRESTADOR"] %>  ){ // Prestador
        // Mostrar el area de los datos del prestador
        $("#area_tipo_usuario_prestador").show();
      }else{
        $("#area_tipo_usuario_prestador").hide();
      }
    });
    
    // EVENTO AL CAMBIAR EL VALOR DEL COMBO PERFIL
    $("#cfg_perfiles_usuario_id").change(function() {
      // Ocultar el area de los datos de la empresa
      $("#area_empresa").hide();
      var asociado = jQuery.inArray( parseInt($(this).val()), <%= session[:perfiles_asociados_empresa] %> )
      if( asociado == "-1"   ){ // El perfil no esta asociado a empresa
        // Ocultar el area de los datos de la empresa
        $("#area_empresa").hide();        
      }else{
        // Mostrar el area de los datos de la empresa
        $("#area_empresa").show();
      }
    });
  });
</script>  
<h2>Editar Usuario</h2>

<%# form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true } ) do |f| %>
<%= form_with(model: @cfg_usuario, local: true, html: { multipart: true }) do |f| %>

  <%# devise_error_messages! %>
  <%= a = []
    a << @cfg_usuario
    a << @user
    render 'general/errores', modelos: a %>

  <br/>
  <h4>Datos Personales</h4>
<hr/>
<div class="row">
    <div class="col">     
      <%= label :cfg_usuario, :tipo_identificacion, 'Tipo Documento Identificación', class: "control-label required", autofocus: true %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :identificacion, 'Documento Identificación', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :genero, 'Género', class: "control-label required" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= collection_select(:cfg_usuario, :tipo_identificacion, obtener_tipo_identificacion, :id, :descripcion, { prompt: "SELECCIONE EL TIPO DE DOCUMENTO"}, {id: "cfg_usuario_tipo_identificacion", class: "form-control", required: true}) %>
      </div>
    </div>
    <div class="col">
      <%= text_field :cfg_usuario, :identificacion, {id: :cfg_usuario_identificacion, class: "form-control",  required: true, placeholder: "INGRESE EL NO. DE IDENTIFICACION", maxlength: 20 } %>
    </div>
    <div class="col">
      <div class="form-group">  
        <%= collection_select(:cfg_usuario, :genero, obtener_generos, :id, :descripcion, {prompt: "SELECCIONE EL GENERO"}, {id: "cfg_usuario_genero", class: "form-control", required: true}) %>
      </div>  
    </div>
  </div>
  <!-- -->
  <div class="row">
    <div class="col">     
      <%= label :cfg_usuario, :primer_nombre, 'Primer Nombre:', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :segundo_nombre, 'Segundo Nombre:', class: "control-label" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :primer_apellido, 'Primer Apellido:', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :primer_apellido, 'Segundo Apellido:', class: "control-label" %>  
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= text_field :cfg_usuario, :primer_nombre, {id: :cfg_usuario_primer_nombre, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el primer nombre", maxlength: 60} %>        
      </div>      
    </div>
    <div class="col">
      <div class="form-group">  
        <%= text_field :cfg_usuario, :segundo_nombre, {id: :cfg_usuario_segundo_nombre, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el segundo nombre", maxlength: 60} %>
      </div>  
    </div>
    <div class="col">
      <div class="form-group">                        
        <%= text_field :cfg_usuario, :primer_apellido, {id: :cfg_usuario_primer_apellido, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el primer apellido", maxlength: 60} %>        
      </div>      
    </div>
    <div class="col">
      <div class="form-group">  
        <%= text_field :cfg_usuario, :segundo_apellido, {id: :cfg_usuario_segundo_apellido, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el segundo apellido", maxlength: 60} %>
      </div>  
    </div>
    
  </div>    

  <div class="row">
    <div class="col">
      <%= label :cfg_usuario, :cfg_municipio_id, 'Departamento-Municipio', class: "control-label" %>  
    </div>
    <div class="col">
      <%= label :cfg_usuario, :direccion, 'Dirección', class: "control-label" %>  
    </div>
  </div>
  <div class="row">
    <div class="col"> 
      <%= grouped_collection_select :cfg_usuario, :cfg_municipio_id, CfgDepartamento.order(:nombre), :cfg_municipios, :nombre, :id, :nombre, {include_blank: true, prompt: "SELECCIONE EL DEPARTAMENTO-MUNICIPIO" }, {class: "form-control"} %>
    </div>
    <div class="col">   
      <%= text_field :cfg_usuario, :direccion, {id: :cfg_usuario_direccion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese la dirección", maxlength: 20 } %>
    </div>
  </div>  

  <div class="row">
    <div class="col">
      <%= label :cfg_usuario, :telefono_residencia, 'Teléfono Residencia', class: "control-label" %>  
    </div>
    <div class="col">  
      <%= label :cfg_usuario, :telefono_oficina, 'Teléfono Oficina', class: "control-label" %>  
    </div>
    <div class="col">  
      <%= label :cfg_usuario, :celular, 'Teléfono Celular', class: "control-label" %>  
    </div>
  </div>

  <div class="row">
    <div class="col"> 
       <%= phone_field(:cfg_usuario, :telefono_residencia, {id: :cfg_usuario_telefono_residencia, class: "form-control", placeholder: "INGRESE EL TELEFONO DE RESIDENCIA", :data => {:mask=> '9999999999'} }) %>
    </div>
    <div class="col">      
      <div class="form-group">
        <%= phone_field(:cfg_usuario, :telefono_oficina, {id: :cfg_usuario_telefono_oficina, class: "form-control", placeholder: "INGRESE EL TELEFONO DE OFICINA", :data => {:mask=> '9999999999'} }) %>
      </div>
    </div>
    <div class="col">
      <%= phone_field(:cfg_usuario, :celular, {id: :cfg_usuario_celular, class: "form-control", placeholder: "INGRESE EL TELEFONO CELULAR", :data => {:mask=> '99999999999999999999'} }) %>
    </div>
  </div>

  <div class="row">
    <div class="col">  
      <%= label :cfg_usuario, :email, 'Correo Electrónico', class: "control-label" %>  
    </div>
    <div class="col">  
      <%= label :cfg_usuario, :cargo_actual, 'Cargo Actual', class: "control-label" %> 
    </div>     
  </div>
  <div class="row">    
    <div class="col">      
      <div class="form-group">
        <%= email_field :cfg_usuario, :email, autocomplete: "email", class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el correo electrónico", maxlength: 60 %>
      </div>
    </div>
    <div class="col">
      <%= text_field :cfg_usuario, :cargo_actual, {id: :cfg_usuario_cargo_actual, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el cargo actual", maxlength: 100} %>
    </div>    
  </div>

  <div class="row">  
    <div class="col">
      <%= label :cfg_usuario, :observacion, 'Observaciones', class: "control-label" %>  
    </div>   
  </div>
  <div class="row">  
    <div class="col">
      <%= text_field :cfg_usuario, :observacion, {id: :cfg_usuario_observacion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese las observaciones", maxlength: 500} %>
    </div>
  </div>


  <br/><br/>
  <h4>Datos de la Cuenta</h4>
  <hr/>
  <div class="row">
    <div class="col">     
      <%= label :user, :username, 'Login', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%# label :user, :password, 'Clave', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%# label :user, :password_confirmation, 'Confirmación Clave', class: "control-label required" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">      
      <%= text_field :user, :username, {class: "form-control", required: true, placeholder: "INGRESE EL LOGIN", maxlength: 20 } %>
    </div>  
    <div class="col">
      <%# password_field :user, :password, {class: "form-control", autocomplete: "off", required: true, placeholder: "INGRESE LA CLAVE", maxlength: 20 } %>
    </div>
    <div class="col">
       <%# password_field :user, :password_confirmation, {class: "form-control", autocomplete: "off", required: true, placeholder: "INGRESE LA CONFIRMACION DE LA CLAVE", maxlength: 20 } %>
    </div>  
  </div>

  <div class="row">
    <div class="col">  
        <%= label :cfg_usuario_cfg_perfiles_usuario_id, 'Perfil', class: "control-label required" %>  
    </div>
    <div class="col">     
        <%= label :cfg_usuario, :tipo_usuario, 'Tipo de Usuario', class: "control-label required" %>  
    </div>
    <div class="col">  
    </div>  
  </div>
  <div class="row">
    <div class="col">  
        <%= collection_select(:cfg_usuario, :cfg_perfiles_usuario_id, obtener_perfiles_usuarios_activos, :id, :nombre_perfil, {prompt: "SELECCIONE EL PERFIL DE USUARIO"}, {id: "cfg_perfiles_usuario_id", class: "form-control", required: true}) %>
    </div>  
    <div class="col">
        <%= collection_select(:cfg_usuario, :tipo_usuario, obtener_tipo_usuarios, :id, :descripcion, {prompt: "SELECCIONE EL TIPO DE USUARIO"}, {id: "cfg_usuario_tipo_usuario", class: "form-control", required: true}) %>
    </div>
    <div class="col">  
    </div>  
  </div>

  <div class="row">
    <div class="col">  
        <%= label :cfg_usuario, :estado_cuenta, 'Estado de la Cuenta', class: "control-label required" %>  
    </div>
    <div class="col">     
        <%= label :cfg_usuario, :visible, 'Visible', class: "control-label required" %>  
    </div>
    <div class="col">  
        <%= label :cfg_usuario, :mostrar_en_historias, 'Mostrar en historias', class: "control-label required" %>  
    </div>  
  </div>
  <div class="row">
    <div class="col">  
        <%= select(:cfg_usuario, :estado_cuenta, obtener_estatus_activo_inactivo, { prompt: "SELECCIONE EL ESTADO DE LA CUENTA"  }, {id: "cfg_usuario_estado_cuenta", class: "form-control", required: true }) %>
    </div>  
    <div class="col">
        <%= select(:cfg_usuario, :visible, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS VISIBLE"  }, {id: "cfg_usuario_visible", class: "form-control", required: true }) %>
    </div>
    <div class="col">  
        <%= select(:cfg_usuario, :mostrar_en_historias, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS MOSTRAR EN HISTORIA"  }, {id: "cfg_usuario_mostrar_en_historias", class: "form-control", required: true }) %>
    </div>  
  </div>

  <!-- DATOS CUANDO EL TIPO DE USUARIO SEA PRESTADOR-->
  <div id="area_tipo_usuario_prestador">
    <br/><br/>
    <h4>Datos del Prestador</h4>
    <hr/>
    <div class="row">   
      <div class="col">  
          <%= label :cfg_usuario, :especialidad, 'Especialidad', class: "control-label required" %>  
      </div> 
      <div class="col">     
          <%= label :cfg_usuario, :registro_profesional, 'Registro Profesional', class: "control-label required" %>  
      </div>
       <div class="col">     
          <%= label :cfg_usuario, :tipo_personal, 'Tipo Personal', class: "control-label required" %>  
      </div>
    </div>
    <div class="row">   
      <div class="col">  
        <%= collection_select(:cfg_usuario, :especialidad, obtener_especialidades, :id, :descripcion, {prompt: "SELECCIONE LA ESPECIALIDAD"}, {id: "cfg_usuario_especialidad", class: "form-control"}) %>
      </div>
      <div class="col">  
        <%= text_field :cfg_usuario, :registro_profesional, {class: "form-control", style: "text-transform: uppercase", placeholder: "INGRESE EL REGISTRO PROFESIONAL", maxlength: 30 } %>
      </div>
      <div class="col">  
        <%= collection_select(:cfg_usuario, :personal_atiende, obtener_tipo_personal, :id, :descripcion, {prompt: "SELECCIONE EL TIPO DE PERSONAL", :selected => 1854}, {id: "cfg_usuario_personal_atiende", class: "form-control"}) %>
      </div>
    </div>    
  
    <div class="row">   
      <div class="col">  
          <%= label :cfg_usuario, :unidad_funcional, 'Unidad Funcional', class: "control-label required" %>  
      </div> 
      <div class="col">     
          <%= label :cfg_usuario, :porcentaje_honorario, 'Porcentaje Honorario', class: "control-label required" %>  
      </div>
      <div class="col">     
      </div>  
    </div>
    <div class="row">   
      <div class="col">  
        <%= text_field :cfg_usuario, :unidad_funcional, {class: "form-control", style: "text-transform: uppercase", placeholder: "INGRESE LA UNIDAD FUNCIONAL", maxlength: 100 } %>
      </div>
      <div class="col">  
        <%= text_field :cfg_usuario, :porcentaje_honorario, {class: "form-control", placeholder: "INGRESE EL PORCENTAJE HONORARIO", maxlength: 3 } %>
      </div>
      <div class="col">  
      </div>
    </div>  
  </div> 
  
  <!-- DATOS DE EMPRESA CUANDO EL PERFIL ESTE ASOCIADO-->
  <div id="area_empresa">
    <br/><br/>
    <h4>Datos de la Empresa - Sede</h4>
    <hr/>
    <div class="row">
      <div class="col">
        <%= label :cfg_usuario, :empresa_id, 'Empresa - Sede', class: "control-label required" %>  
      </div>         
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <% if session[:perfiles_asociados_empresa].include?(session[:perfil_usuario_id]) %>
            <%= grouped_collection_select :cfg_usuario, :cfg_sede_id, obtener_empresas_activas_id(session[:empresa_id]), :cfg_sedes, :razon_social, :id, :nombre_sede, {prompt: "SELECCIONE LA EMPRESA-SEDE" }, {class: "form-control"} %>
          <% else %>
            <%= grouped_collection_select :cfg_usuario, :cfg_sede_id, obtener_empresas_activas, :cfg_sedes, :razon_social, :id, :nombre_sede, {prompt: "SELECCIONE LA EMPRESA-SEDE" }, {class: "form-control"} %>
          <% end %>
        </div>  
      </div>        
    </div>
  </div>
  
  <br/><br/>
  <h4>Imágenes del usuario</h4>
  <hr/>
  <div class="row">
    <div class="col">
      <%= label :cfg_imagen, :imagen, 'Foto', class: "control-label" %>   
    </div>
    <div class="col">
      <%= label :imagen_firma, :imagen, 'Firma', class: "control-label" %>   
    </div>
  </div>
  <div class="row">
    <div class="col">      
      <div class="field">
        <%= file_field :cfg_imagen, :image %>
        &nbsp;
        <%# image_tag @cfg_imagen.image.url(:med) if !@cfg_imagen.nil? %>
        <%= mostrar_imagen(@cfg_imagen).html_safe %>
      </div>
    </div>  
    <div class="col">      
      <div class="field">
        <%= file_field :imagen_firma, :image %>
        &nbsp;
        <%# image_tag @imagen_firma.image.url(:med) if !@imagen_firma.nil? %>
        <%= mostrar_imagen(@imagen_firma).html_safe %>
      </div>
    </div>
 </div>



  <!-- BOTONES -->
  <br/><br/>
  <div class="actions text-center">
    <%= f.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_usuarios_path, class: "btn btn-primary" %>
  </div>
<% end %>
