<SCRIPT>
  $(document).ready(function(){
      // Al cambiar el combo de empresa,
      // actualizar las sedes 
      $("#empresa_id").change(function() {    
        $.ajax({
          url: "/cfg_usuarios/actualizar_sedes_por_empresa",
          type: "POST",
          data: { "empresa_id": $(this).val() },
          success: function(resp){}
        });   
      });
  }); 
</SCRIPT>

<h2> Usuarios</h2>
<br/>
<div class="actions text-left">
    <%= link_to 'Usuario', new_user_registration_path %> <br/>
    <%= link_to "Buscar", "#modal_buscar_usuarios", "data-toggle" => "modal" %>
</div>
<!-- VENTANA MODAL CON LOS CRITERIOS DE BUSQUEDA-->
<%= render 'modal_buscar_usuarios' %>

<!-- LISTA DE LOS USUARIOS -->
<div id="lista">
   <%= render 'lista_usuarios' %>
</div>
<br/>
<div id="paginacion">
   <%= render 'paginacion' %>
</div>