<h2>Reiniciar Clave de Usuario</h2><br/>

<%= a = []
    a << @user if !@user.nil?
    render 'general/errores', modelos: a %>

<%= render 'datos_usuario'%><br/>
<%# form_for(@user, :url => {:controller => "cfg_usuarios", :action => "guardar_reinicio_clave" } ) do |f| %>
<%# form_for(@user, url: guardar_reinicio_clave_cfg_usuario_path(@cfg_usuario) ) do |f| %>
<%# form_for(@cfg_usuario, url: guardar_reinicio_clave_path(@cfg_usuario) ) do |f| %>
<%= form_for :user, url: {action: "guardar_reinicio_clave"}, :method => :POST do |f| %>
  <h4>Datos de la Cuenta</h4>
  <hr/>
  <div class="row">
    <div class="col">     
      <%= f.label :password, 'Clave', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= f.label :password_confirmation, 'Confirmación Clave', class: "control-label required" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.password_field :password, {class: "form-control", autocomplete: "off", required: true, placeholder: "INGRESE LA CLAVE", maxlength: 20 } %>
    </div>
    <div class="col">
       <%= f.password_field :password_confirmation, {class: "form-control", autocomplete: "off", required: true, placeholder: "INGRESE LA CONFIRMACION DE LA CLAVE", maxlength: 20 } %>
    </div>  
  </div>

  <!-- BOTONES -->
  <br/><br/>
  <div class="actions text-center">
    <%= f.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_usuarios_path, class: "btn btn-secondary" %>
  </div>

<% end %>