<h2>Consultar Usuario</h2>
<br/>
<h4>Datos Personales</h4>
<hr/>
<div class="row">
  <div class="col titulos-campos">     
    Foto
  </div>
  <div class="col titulos-campos">     
    Documento Identificación
  </div>
  <div class="col titulos-campos">     
    Nombres y Apellidos   
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= mostrar_imagen(@cfg_imagen).html_safe %>
    <%# image_tag @cfg_imagen.image.url(:med) if !@cfg_imagen.nil? %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_usuario.clasif_tipo_identificacion.descripcion %> - <%= @cfg_usuario.identificacion %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_usuario.nombres %> &nbsp; <%= @cfg_usuario.apellidos %>&nbsp;
  </div>
</div>    

<div class="row">
  <div class="col titulos-campos">     
    Género
  </div>
  <div class="col titulos-campos">     
    Departamento - Municipio
  </div>
  <div class="col titulos-campos">     
    Dirección
  </div>
</div>  
<div class="row">
  <div class="col">  
    <%= @cfg_usuario.clasif_genero.descripcion %>&nbsp;
  </div>
  <div class="col">  
    <%= obtener_departamento_municipio(@cfg_usuario.cfg_municipio_id) %>&nbsp;
  </div>
  <div class="col">  
    <%= @cfg_usuario.direccion %>&nbsp;
  </div>
</div>   

<div class="row">
  <div class="col titulos-campos">     
    Teléfono Residencia
  </div>
  <div class="col titulos-campos">     
    Teléfono Oficina
  </div>
  <div class="col titulos-campos">     
    Teléfono Celular
  </div>
</div>  
<div class="row">
  <div class="col">  
    <%= @cfg_usuario.telefono_residencia %>&nbsp;
  </div>
  <div class="col">  
    <%= @cfg_usuario.telefono_oficina %>&nbsp;
  </div>
  <div class="col">  
    <%= @cfg_usuario.celular %>&nbsp;
  </div>
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Email
  </div>
  <div class="col titulos-campos">     
    Cargo Actual
  </div>
  <div class="col titulos-campos">     
    Fecha de Creación
  </div>
</div>  
<div class="row">
  <div class="col">  
    <%= @cfg_usuario.email %>&nbsp;
  </div>
  <div class="col">  
    <%= @cfg_usuario.cargo_actual %>&nbsp;
  </div>
  <div class="col">  
    <%= mostrar_fecha(@cfg_usuario.fecha_creacion) %>&nbsp;
  </div>  
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Observaciones
  </div>
</div>  
<div class="row">
  <div class="col">  
    <%= @cfg_usuario.observacion %>&nbsp;
  </div>
</div>  
<div class="row">
  <div class="col titulos-campos">     
    Firma
  </div>
</div> 
<div class="row">
  <div class="col"> 
    <%= mostrar_imagen(@imagen_firma).html_safe %>
    &nbsp;
  </div>
</div>  

<br/>
<h4>Datos de la Cuenta</h4>
<hr/>
<div class="row">
  <div class="col titulos-campos">     
    Login
  </div>
  <div class="col titulos-campos">     
    Perfil
  </div>
  <div class="col titulos-campos">     
    Tipo de usuario   
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_usuario.login_usuario %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_usuario.descripcion_perfil %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_usuario.descripcion_tipo_usuario %>&nbsp;
  </div>
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Cuenta Activa
  </div>
  <div class="col titulos-campos">     
    Visible
  </div>
  <div class="col titulos-campos">     
    Mostrar historias
  </div>
</div>  
<div class="row">
  <div class="col">  
    <%= @cfg_usuario.estatus?(@cfg_usuario.estado_cuenta) %>&nbsp;
  </div>
  <div class="col">  
    <%= @cfg_usuario.estatus?(@cfg_usuario.visible) %>&nbsp;
  </div>
  <div class="col">  
    <%= @cfg_usuario.estatus?(@cfg_usuario.mostrar_en_historias) %>&nbsp;
  </div>
</div>  

<% if @cfg_usuario.tipo_usuario == CONFIG["TIPO_USUARIO_PRESTADOR"] %>
  <br/>
  <h4>Datos del Prestador</h4>
  <hr/>
  <div class="row">
    <div class="col titulos-campos">     
      Especialidad
    </div>
    <div class="col titulos-campos">     
      Registro Profesional
    </div>
    <div class="col titulos-campos">     
      Tipo Personal
    </div>
  </div>
  <div class="row">
    <div class="col">  
      <%= @cfg_usuario.cfg_especialidad.descripcion if !@cfg_usuario.cfg_especialidad.nil? %>&nbsp;
    </div>
    <div class="col">  
      <%= @cfg_usuario.registro_profesional %>&nbsp;
    </div>
    <div class="col">  
      <%= @cfg_usuario.descripcion_tipo_personal %>&nbsp;&nbsp;
    </div>
  </div>

  <div class="row">
    <div class="col titulos-campos">     
      Unidad Funcional
    </div>
    <div class="col titulos-campos">     
      Porcentaje Honorario
    </div>
    <div class="col titulos-campos">     
      &nbsp;
    </div>
  </div>  
  <div class="row">
    <div class="col">  
      <%= @cfg_usuario.unidad_funcional %>&nbsp;
    </div>
    <div class="col">  
      <%# @cfg_usuario.porcentaje_honorario %>
      <%= number_with_precision(@cfg_usuario.porcentaje_honorario, :precision => 2) %>&nbsp;
    </div>
    <div class="col">  
      &nbsp;
    </div>
  </div>  
<% end %>

<% if @cfg_usuario.perfil_asociado_empresa? %>
  <br/>
  <h4>Datos de la Empresa - Sede</h4>
  <hr/>
  <div class="row">
    <div class="col titulos-campos">     
      Empresa - Sede
    </div>       
  </div>
  <div class="row">
    <div class="col">  
      <%= @cfg_usuario.empresa_sede %>&nbsp;
    </div>       
  </div> 
<% end %>

<br>
<hr/>
<div class="actions text-center">
    <%= link_to 'Editar', edit_cfg_usuario_path(@cfg_usuario), class: "btn btn-primary" %>  
    <%= link_to 'Regresar', cfg_usuarios_path, class: "btn btn-secondary" %>
</div>
<br>