
<div class="row">
    <div class="col">     
      <%= label :cfg_usuario, :tipo_identificacion, 'Tipo Documento Identificación', class: "control-label required", autofocus: true %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :identificacion, 'Documento Identificación', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :genero, 'Género', class: "control-label required" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= collection_select(:cfg_usuario, :tipo_identificacion, obtener_tipo_identificacion, :id, :descripcion, { prompt: "SELECCIONE EL TIPO DE DOCUMENTO"}, {id: "cfg_usuario_tipo_identificacion", class: "form-control", required: true}) %>
      </div>
    </div>
    <div class="col">
      <%= text_field :cfg_usuario, :identificacion, {id: :cfg_usuario_identificacion, class: "form-control",  required: true, placeholder: "INGRESE EL NO. DE IDENTIFICACION", maxlength: 20 } %>
    </div>
    <div class="col">
      <div class="form-group">  
        <%= collection_select(:cfg_usuario, :genero, obtener_generos, :id, :descripcion, {prompt: "SELECCIONE EL GENERO"}, {id: "cfg_usuario_genero", class: "form-control", required: true}) %>
      </div>  
    </div>
  </div>
  <!-- -->
  <div class="row">
    <div class="col">     
      <%= label :cfg_usuario, :primer_nombre, 'Primer Nombre:', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :segundo_nombre, 'Segundo Nombre:', class: "control-label" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :primer_apellido, 'Primer Apellido:', class: "control-label required" %>  
    </div>     
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= text_field :cfg_usuario, :primer_nombre, {id: :cfg_usuario_primer_nombre, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el primer nombre", maxlength: 60} %>        
      </div>      
    </div>
    <div class="col">
      <div class="form-group">  
        <%= text_field :cfg_usuario, :segundo_nombre, {id: :cfg_usuario_segundo_nombre, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el segundo nombre", maxlength: 60} %>
      </div>  
    </div>
    <div class="col">
      <div class="form-group">                        
        <%= text_field :cfg_usuario, :primer_apellido, {id: :cfg_usuario_primer_apellido, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el primer apellido", maxlength: 60} %>        
      </div>      
    </div>
  </div>   

  <div class="row">
    <div class="col">     
      <%= label :cfg_usuario, :segundo_apellido, 'Segundo Apellido:', class: "control-label" %>  
    </div> 
    <div class="col">  
      <%= label :cfg_usuario, :email, 'Correo Electrónico', class: "control-label" %>  
    </div>
    <div class="col">  
      <%= label :cfg_usuario, :cargo_actual, 'Cargo Actual', class: "control-label" %> 
    </div>  
  </div>   
  <div class="row">
    <div class="col">
      <div class="form-group">  
        <%= text_field :cfg_usuario, :segundo_apellido, {id: :cfg_usuario_segundo_apellido, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el segundo apellido", maxlength: 60} %>
      </div>  
    </div>
    <div class="col">      
      <div class="form-group">
        <%= email_field :cfg_usuario, :email, autocomplete: "email", class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el correo electrónico", maxlength: 60 %>
      </div>
    </div>
    <div class="col">
      <%= text_field :cfg_usuario, :cargo_actual, {id: :cfg_usuario_cargo_actual, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el cargo actual", maxlength: 100} %>
    </div>  
  </div>     

  <div class="row">
    <div class="col">
      <%= label :cfg_usuario, :telefono_residencia, 'Teléfono Residencia', class: "control-label" %>  
    </div>
    <div class="col">  
      <%= label :cfg_usuario, :telefono_oficina, 'Teléfono Oficina', class: "control-label" %>  
    </div>
    <div class="col">  
      <%= label :cfg_usuario, :celular, 'Teléfono Celular', class: "control-label" %>  
    </div>
  </div>

  <div class="row">
    <div class="col"> 
       <%= phone_field(:cfg_usuario, :telefono_residencia, {id: :cfg_usuario_telefono_residencia, class: "form-control", placeholder: "INGRESE EL TELEFONO DE RESIDENCIA", :data => {:mask=> '9999999999'} }) %>
    </div>
    <div class="col">      
      <div class="form-group">
        <%= phone_field(:cfg_usuario, :telefono_oficina, {id: :cfg_usuario_telefono_oficina, class: "form-control", placeholder: "INGRESE EL TELEFONO DE OFICINA", :data => {:mask=> '9999999999'} }) %>
      </div>
    </div>
    <div class="col">
      <%= phone_field(:cfg_usuario, :celular, {id: :cfg_usuario_celular, class: "form-control", placeholder: "INGRESE EL TELEFONO CELULAR", :data => {:mask=> '99999999999999999999'} }) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= label :cfg_usuario, :cfg_municipio_id, 'Departamento-Municipio', class: "control-label" %>  
    </div>
    <div class="col">
      <%= label :cfg_usuario, :direccion, 'Dirección', class: "control-label" %>  
    </div>
    <div class="col">
      <%= label :cfg_usuario, :observacion, 'Observaciones', class: "control-label" %>  
    </div>  
  </div>
  <div class="row">
    <div class="col"> 
      <%= grouped_collection_select :cfg_usuario, :cfg_municipio_id, CfgDepartamento.order(:nombre), :cfg_municipios, :nombre, :id, :nombre, {include_blank: true, prompt: "SELECCIONE EL DEPARTAMENTO-MUNICIPIO" }, {class: "form-control"} %>
    </div>
    <div class="col">   
      <%= text_area :cfg_usuario, :direccion, {id: :cfg_usuario_direccion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese la dirección", maxlength: 20 } %>
    </div>
    <div class="col">
      <%= text_area :cfg_usuario, :observacion, {id: :cfg_usuario_observacion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese las observaciones", maxlength: 500} %>
    </div>
  </div>  