<% if !@cfg_opciones_menu.nil? and @cfg_opciones_menu.size > 0 %>
<table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opción Padre</th>
      <th>Url</th>
      <th>Orden</th>
      <th>¿Activo?</th>
      <th colspan="4">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cfg_opciones_menu.each do |cfg_opciones_menu| %>
      <tr>
        <td><%= cfg_opciones_menu.nombre_opcion.upcase %></td>
        <td>
          <%# cfg_opciones_menu.id_opcion_padre %>
          <%= cfg_opciones_menu.descripcion_opcion_padre %>    
        </td>
        <td><%= cfg_opciones_menu.url_opcion %></td>
        <td><%= cfg_opciones_menu.orden %></td>
        <td><%= cfg_opciones_menu.estatus?(cfg_opciones_menu.activo) %></td>
        
        <td align="center">           
          <%= link_to(cfg_opciones_menu) do %>           
            <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
          <% end %> 
        </td>
        <td align="center">           
          <%= link_to(edit_cfg_opciones_menu_path(cfg_opciones_menu)) do %>
            <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>  
          <% end %>
        </td>
        <td align="center">
            <%= link_to(estatus_opcion_path(cfg_opciones_menu, devolver_valor_activo(cfg_opciones_menu.activo)), method: :post,data: { confirm: '¿Está seguro que desea activar/inactivar la opción del menú?' }) do %>           
                 <%= mostrar_operacion_activar(cfg_opciones_menu.activo).html_safe  %>
            <% end %> 
        </td>
        <td align="center">
          <%= link_to(cfg_opciones_menu_cfg_operaciones_opciones_menu_index_path(cfg_opciones_menu)) do %>          
          <span class="oi oi-list" title="Asociar Operaciones" aria-hidden="true"></span>
        <% end %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="sin_registros"> No existen opciones registradas </div> 
<% end %>  