<div id="modal_buscar_opciones" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar opciones de menú</h5>
      </div>
      <%= form_for :cfg_opciones_menu, url: buscar_cfg_opciones_menus_path,  
          remote: true, :html => {:method => "get", :id => "form" } do |f| %>
        <!-- modal-body -->
        <div class="modal-body">
            <!-- Búsqueda por nombre / nombre_padre -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'nombre', 'Nombre de Opción', class: "control-label" %>    
              </div>
              <div class="col">
                  <%= label_tag 'nombre_padre', 'Nombre de Opción Padre', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">
                <div class="form-group">    
                  <%= text_field_tag 'nombre', nil, class: "form-control", placeholder: "INGRESE EL NOMBRE ", maxlength: 40, style: "text-transform: uppercase" %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">    
                  <%= text_field_tag 'nombre_padre', nil, class: "form-control", placeholder: "INGRESE EL NOMBRE DE LA OPCION PADRE", maxlength: 40, style: "text-transform: uppercase" %>
                </div>
              </div>
            </div>   
            <!-- Búsqueda por url / activo  -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'url', 'Url', class: "control-label" %>    
              </div>
              <div class="col">
                  <%= label_tag 'activo', '¿Activo?', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">
                <div class="form-group"> 
                  <%= text_field_tag 'url', nil, class: "form-control", placeholder: "INGRESE EL URL", maxlength: 40, style: "text-transform: uppercase" %>
                </div>    
              </div>
              <div class="col">
                <div class="form-group"> 
                  <% estatus = obtener_estatus_si_no %>
                  <%= select_tag 'activo', options_for_select(estatus.collect{ |u| [u[0], u[1]] }), {class: "form-control", :include_blank => 'SELECCIONE EL ESTATUS ACTIVO'} %>
                  <%# select_tag "activo", options_for_select(estatus.collect{ |u| [u[0], u[1]] }), include_blank: true %>
                </div>   
              </div>
            </div> 


            <!-- --> 
        </div><!-- fin modal-body-->
        <!-- BOTONES -->
        <div class="modal-footer">          
          <%= f.submit "Buscar", class: "btn btn-primary", id: "enviar" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
        </div>

      <% end %>
    </div>
  </div>
</div>