<h2>Editar Opción de Menú</h2>
<br/>
<%# render 'form', cfg_opciones_menus: @cfg_opciones_menu %>
<%= form_for(@cfg_opciones_menu, url: cfg_opciones_menu_path(@cfg_opciones_menu), method: :put) do |form| %>
  <%= a = []
    a << @cfg_opciones_menu
    render 'general/errores', modelos: a %>

  <div class="row">
    <div class="col"> 
      <%= form.label :nombre_opcion, 'Nombre', class: "control-label required" %>  
    </div>
    <div class="col"> 
      <%= form.label :id_opcion_padre, 'Opción padre', class: "control-label required" %>  
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= form.text_field :nombre_opcion, {id: :cfg_opciones_menu_nombre_opcion, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el nombre de la opción", maxlength: 40} %>
      </div>
    </div>
    <div class="col">
       <div class="form-group">   
          <%= form.collection_select(:id_opcion_padre, obtener_opciones_padres_activas, :id, :nombre_opcion, {:include_blank => 'SELECCIONE LA OPCION PADRE'}, {id: "cfg_opciones_menu_id_opcion_padre", class: "form-control", required: true} )%>
       </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col"> 
      <%= form.label :url_opcion, 'Url', class: "control-label required" %>  
    </div>
    <div class="col"> 
      <%= form.label :orden, 'Orden', class: "control-label required" %>  
    </div>
  </div> 
  <div class="row">
    <div class="col">
      <div class="form-group">  
        <%= form.text_field :url_opcion, {id: :cfg_opciones_menu_url_opcion, class: "form-control",  required: true, placeholder: "INGRESE EL URL DE LA OPCION", maxlength: 100} %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">  
        <%= form.number_field :orden, {id: :cfg_opciones_menu_orden,
          class: "form-control",  required: true, placeholder: "INGRESE EL ORDEN"} %>
      </div>
    </div>
  </div>    
  
  <div class="row">
    <div class="col">     
      <%= form.label :activo, '¿Activo?', class: "control-label required" %>        
    </div>
    <div class="col">     
      <%= form.label :observaciones, 'Observaciones', class: "control-label" %>        
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">  
        <%= select(:cfg_opciones_menu, :activo, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS ACTIVO"  }, {id: "cfg_opciones_menu_activo", class: "form-control", required: true }) %>
      </div>
    </div>
    <div class="col">
      <div class="form-group"> 
         <%= form.text_area :observaciones, {id: :cfg_opciones_menu_observaciones, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese las observaciones", maxlength: 400} %>
      </div>
    </div>  
  </div>  

  <!-- BOTONES -->
  <br/>
  <hr>
  <div class="actions text-center">
    <%= form.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_opciones_menus_path, class: "btn btn-primary" %>
  </div>
<% end %>

