<h2> Opciones de Menú</h2>
<br/>
<div class="actions text-left">
    <%= link_to 'Opciones de Menú', new_cfg_opciones_menu_path %> <br/>
    <%= link_to "Buscar ", "#modal_buscar_opciones", "data-toggle" => "modal" %>
</div>
<!-- VENTANA MODAL CON LOS CRITERIOS DE BUSQUEDA-->
<%= render 'modal_buscar_opciones' %>

<!-- LISTA DE LAS OPCIONES -->
<div id="lista">
   <%= render 'lista_opciones' %>
</div>
<br/>
<div id="paginacion">
   <%= render 'paginacion' %>
</div>