
<script>
  $(document).ready(
    function(){    
      // Habilitar propiedades de selección múltiple   
      $("#cfg_opciones_menu_id_opcion_padre").select2(); 
      // Evento keypress del campo orden para validar solo numeros
      $("input[type=number]").keypress(function(event) {
        if (!event.charCode) return true;          
        ch = String.fromCharCode(event.charCode);
        return (/[\d]/.test(ch));
      }); 
    }    
  );
</script>
<h2>Datos de Opciones de Menú</h2>
<br/>
<%= render 'form', cfg_opciones_menus: @cfg_opciones_menu %>