<h2>Empresa</h2>
<div class="row">
  <div class="col titulos-campos">     
    Código empresa        
  </div>
  <div class="col titulos-campos">     
    Razón social
  </div>
  <div class="col titulos-campos">     
    Departamento-Municipio       
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= cfg_empresa.codigo_empresa %>&nbsp;
  </div>
  <div class="col"> 
    <%= cfg_empresa.razon_social %>&nbsp;
  </div>  
  <div class="col">  
    <%= obtener_departamento_municipio(cfg_empresa.cfg_municipio_id) %>&nbsp;
  </div>
</div>   