<%= form_for([@cfg_empresa, @cfg_sede]) do |form| %>

<%= render 'general/errores', modelos: [@cfg_sede] %>

<div class="row">
  <div class="col"> 
    <%= form.label :codigo_sede, 'Código', class: "control-label required" %>  
  </div>
  <div class="col"> 
    <%= form.label :nombre_sede, 'Nombre', class: "control-label required" %>  
  </div>
  <div class="col"> 
    <%= form.label :cfg_municipio_id, 'Departamento-Municipio', class: "control-label required" %>   
  </div>
</div> 
<div class="row">
  <div class="col">
    <div class="form-group">      
      <%= form.text_field :codigo_sede, {class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el código", maxlength: 10} %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">      
      <%= form.text_field :nombre_sede, {class: "form-control", style: "text-transform: uppercase", required: true, placeholder: "Ingrese el nombre", maxlength: 200} %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">    
      <%= form.grouped_collection_select :cfg_municipio_id, CfgDepartamento.order(:nombre), :cfg_municipios, :nombre, :id, :nombre, {include_blank: true, prompt: "SELECCIONE EL DEPARTAMENTO-MUNICIPIO"}, {class: "form-control", required: true} %>
    </div>    
  </div>
</div>

<div class="row">  
  <div class="col">
   <%= form.label :direccion, 'Dirección', class: "control-label" %>   
  </div>  
</div>
<div class="row">
  <div class="col">
    <div class="form-group">    
       <%= form.text_field :direccion, {class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese la dirección", maxlength: 200} %>
    </div>
  </div>
</div>  


<div class="row">
  <div class="col">     
    <%= form.label :encargado, 'Encargado', class: "control-label" %>   
  </div>
  <div class="col">     
    <%= form.label :telefono1, 'Teléfono 1 ', class: "control-label" %>   
  </div>
  <div class="col"> 
    <%= form.label :telefono2, 'Teléfono 2 ', class: "control-label" %>   
  </div>  
</div>
<div class="row">
  <div class="col">
    <div class="form-group">    
      <%= form.text_field :encargado, {class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el nombre del encargado", maxlength: 200} %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">    
      <%= form.text_field :telefono1, {class: "form-control", placeholder: "INGRESE EL TELÉFONO", :data => {:mask=> '999-999-9999'}} %>
    </div>
  </div>  
  <div class="col">
    <div class="field">
      <%= form.text_field :telefono2, {class: "form-control", placeholder: "INGRESE EL TELÉFONO", :data => {:mask=> '999-999-9999'}} %>
    </div>
  </div>
</div>

<br><hr>
  <div class="actions text-center">
    <%= form.submit " Guardar ", class: "btn btn-primary" %>    
    <%# link_to 'Regresar', cfg_empresa_cfg_sedes_path, class: "btn btn-primary" %>
    <a class="btn btn-secondary" href="<%=params[:regresar]%>">Regresar</a>
  </div>
<% end %>
