<!-- LISTA DE LAS SEDES -->
<% cfg_sedes = lista_todas_sedes_por_empresa(@cfg_empresa) %>
<% if !cfg_sedes.nil? and cfg_sedes.size > 0 %>
    <table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
      <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Departamento-Municipio</th>
            <th scope="col">¿Activo?</th>  
            <th scope="col" colspan="3">Operaciones</th>
            <th scope="col">Consultorios</th>
          </tr>
      </thead>
    <% cfg_sedes.each do |cfg_sede| %>
      <tr>
        <td><%= cfg_sede.codigo_sede %></td>
        <td><%= cfg_sede.nombre_sede %></td>
        <td>
          <%# obtener_departamento_municipio(cfg_sede.cfg_municipio_id) %>
          <%= cfg_sede.descripcion_departamento_municipio %>         
        </td>
        <td><%= cfg_sede.esta_activo?%></td>
        
        <td align="center">           
          <%= link_to([cfg_sede.cfg_empresa, cfg_sede]) do %>           
            <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
          <% end %> 
        </td>
        <td align="center">           
          <%= link_to(edit_cfg_empresa_cfg_sede_path(cfg_sede.cfg_empresa, cfg_sede)) do %>
              <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>  
          <% end %>
        </td>
        <td align="center">
          <%= link_to(estatus_sede_path(cfg_sede.cfg_empresa, cfg_sede, devolver_valor_activo(cfg_sede.activo)), method: :post,data: { confirm: '¿Está seguro que desea activar/inactivar la sede?' }) do %>           
              <%= mostrar_operacion_activar(cfg_sede.activo).html_safe  %>
          <% end %> 
        </td>         
        <td>
          <%#link_to 'Crear', new_cfg_empresa_cfg_sede_cfg_consultorio_path(@cfg_empresa,cfg_sede) %>
          <a href="/cfg_empresas/<%=cfg_empresa.id%>/cfg_sedes/<%=cfg_sede.id%>/cfg_consultorios/new?regresar=<%=request.fullpath%>">Consultorio</a> <br/>
          <%= link_to 'Listar', cfg_empresa_cfg_sede_cfg_consultorios_path(@cfg_empresa,cfg_sede) %>    
        </td>
      </tr>
    <% end %>
    </table>
<% else %>
  <div class="sin_registros"> No existen sedes para la empresa seleccionada </div>  
<% end %>