<!-- INFORMACION DE LA EMPRESA SELECCIONADA -->
<%= render 'datos_empresa', cfg_empresa: @cfg_empresa %>
<br/>
<h2>Sedes</h2>
<div class="actions text-left">
    <%# link_to 'Crear Sede', new_cfg_empresa_cfg_sede_path(params[:cfg_empresa_id]) %>
    <a href="/cfg_empresas/<%=@cfg_empresa.id%>/cfg_sedes/new?regresar=<%=request.path%>">Sede</a>
</div>

<!-- LISTA DE LAS SEDES -->
<%= render 'lista_sedes', cfg_empresa: @cfg_empresa %>
<br/>
<hr/>
<div class="actions text-center">    
    <%= link_to 'Regresar', cfg_empresas_path, class: "btn btn-primary" %>
</div>