<!-- INFORMACION DE LA EMPRESA SELECCIONADA -->
<%= render 'datos_empresa', cfg_empresa: @cfg_empresa %>
<br>
<h2>Consultar Sede</h2>
<br>
<div class="row">
  <div class="col titulos-campos">
    Codigo sede    
  </div>
  <div class="col titulos-campos">
    Nombre sede    
  </div>
  <div class="col titulos-campos">
    Departamento    
  </div>
</div>
<div class="row">
  <div class="col">
    <%= @cfg_sede.codigo_sede %>
  </div>
  <div class="col">
    <%= @cfg_sede.nombre_sede %>
  </div>
  <div class="col">
    <%= @cfg_sede.departamento %>
  </div>  
</div>

<div class="row">
  <div class="col titulos-campos">
    Municipio   
  </div>
  <div class="col titulos-campos">
    Encargado
  </div>
  <div class="col titulos-campos">
    Dirección    
  </div>
</div>
<div class="row">
  <div class="col">
    <%= @cfg_sede.municipio %>
  </div>
  <div class="col">
    <%= @cfg_sede.encargado %>
  </div>
  <div class="col">
    <%= @cfg_sede.direccion %>
  </div>  
</div>

<div class="row">
  <div class="col titulos-campos">
    Telefono1   
  </div>
  <div class="col titulos-campos">
    Telefono2
  </div>  
</div>
<div class="row">
  <div class="col">
    <%= @cfg_sede.telefono1 %>
  </div>
  <div class="col">
    <%= @cfg_sede.telefono2 %>
  </div>
</div>


<BR>
<hr>
<h4> Lista de consultorios </h4>
<a href="/cfg_empresas/<%=@cfg_empresa.id%>/cfg_sedes/<%=@cfg_sede.id%>/cfg_consultorios/new?regresar=<%=request.fullpath%>">Crear</a>
<!-- LISTA DE LOS CONSULTORIOS -->
<%= render 'cfg_consultorios/lista_consultorios', cfg_empresa: @cfg_empresa, cfg_sede: @cfg_sede %>
<br>
<hr/>
<div class="actions text-center">
    <%= link_to 'Editar', edit_cfg_empresa_cfg_sede_path(@cfg_empresa,@cfg_sede), class: "btn btn-primary" %>  
    <%= link_to 'Regresar', cfg_empresa_cfg_sedes_path, class: "btn btn-primary" %>
</div>