<h2>Crear usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div class="row">
    <div class="col">     
      <%= label :cfg_usuario, :tipo_identificacion, 'Tipo Documento Identificación', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :identificacion, 'Documento Identificación', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :tipo_usuario, 'Tipo de Usuario', class: "control-label required" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= collection_select(:cfg_usuario, :tipo_identificacion, obtener_tipo_identificacion, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL TIPO DE DOCUMENTO"}, {id: "cfg_usuario_tipo_identificacion", class: "form-control"}) %>
      </div>
    </div>
    <div class="col">
      <%= text_field :cfg_usuario, :identificacion, {id: :cfg_usuario_identificacion, class: "form-control", placeholder: "INGRESE EL NO. DE IDENTIFICACION", maxlength: 20 } %>
    </div>
    <div class="col">
      <%= collection_select(:cfg_usuario, :tipo_usuario, obtener_tipo_usuarios, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL TIPO DE USUARIO"}, {id: "cfg_usuario_tipo_usuario", class: "form-control"}) %>
    </div>
  </div>
  <!-- -->
  <div class="row">
    <div class="col">     
      <%= label :cfg_usuario, :primer_nombre, 'Primer Nombre:', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :segundo_nombre, 'Segundo Nombre:', class: "control-label" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :primer_apellido, 'Primer Apellido:', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :primer_apellido, 'Segundo Apellido:', class: "control-label" %>  
    </div>
    <div class="col">     
      <%= label :cfg_usuario, :genero, 'Género', class: "control-label required" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= text_field :cfg_usuario, :primer_nombre, {id: :cfg_usuario_primer_nombre, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el primer nombre", maxlength: 60} %>        
      </div>      
    </div>
    <div class="col">
      <div class="form-group">  
        <%= text_field :cfg_usuario, :segundo_nombre, {id: :cfg_usuario_segundo_nombre, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el segundo nombre", maxlength: 60} %>
      </div>  
    </div>
    <div class="col">
      <div class="form-group">                        
        <%= text_field :cfg_usuario, :primer_apellido, {id: :cfg_usuario_primer_apellido, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el primer apellido", maxlength: 60} %>        
      </div>      
    </div>
    <div class="col">
      <div class="form-group">  
        <%= text_field :cfg_usuario, :segundo_apellido, {id: :cfg_usuario_segundo_apellido, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el segundo apellido", maxlength: 60} %>
      </div>  
    </div>
    <div class="col">
      <div class="form-group">  
        <%= collection_select(:cfg_usuario, :genero, obtener_generos, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL GENERO"}, {id: "cfg_usuario_genero", class: "form-control"}) %>
      </div>  
    </div>
  </div>    
  <!-- -->
  <div class="row">
    <div class="col">
      <%= f.label :email, 'Email', class: "control-label" %>  
    </div>
  </div>
  <div class="row">
    <div class="col">      
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
  </div>
  <!-- -->
  <div class="row">
    <div class="col">
    </div>
  </div>



  <div class="row">
    <div class="col">     
      <%= f.label :username, 'Login', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= f.label :password, 'Clave', class: "control-label required" %>  
    </div>
    <div class="col">     
      <%= f.label :password_confirmation, 'Confirmación clave', class: "control-label required" %>  
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <%= f.text_field :username %>
    </div>  
    <div class="col">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="col">
       <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>  
  </div>


  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
