<h1>Especialidades</h1>
 <%= link_to 'Crear especialidad', new_especialidad_path %>
<table>
  <tr>
    <th>Código</th>
    <th>Descripción</th>
  </tr>
 
  <% @especialidades.each do |especialidad| %>
    <tr>
      <td><%= especialidad.codigo %></td>
      <td><%= especialidad.descripcion %></td>
      <td><%= link_to 'Consultar', especialidad_path(especialidad) %></td>
      <td><%= link_to 'Editar', edit_especialidad_path(especialidad) %></td>
      <td><%= link_to 'Eliminar', especialidad_path(especialidad), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>