<%= form_for @cfg_dias_no_laborales do |form| %>
    <%= render 'general/errores', modelos: [@cfg_dias_no_laborales] %>
	<div class="row">
	  <div class="col">
	  	<%= form.label 'cfg_sede_id','Sede', class: "control-label required" %>
	  </div>
	  <div class="col">
	  	<%= form.label 'fecha_no_laboral', 'Día No Laboral', class: "control-label required" %>
	  </div>  
	</div>
	<div class="row">
	  <div class="col">
	  	<div class="form-group">	  	  
	  	  <%= form.collection_select :cfg_sede_id, CfgSede.all, :id, :nombre_sede, {include_blank: "FERIADO NACIONAL", prompt: "SELECCIONE SEDE DE LA LISTA"}, {id: "cfg_dias_no_laborales_cfg_sede_id", class: "form-control", required: true} %> 
	  	</div>
	  </div>
	  <div class="col">
	  	<div class="form-group">
	  	  <%= form.text_field :fecha_no_laboral, {class: "form-control", id: "cfg_dias_no_laborales_fecha_no_laboral", :data => {:mask=> '99/99/9999'}, required: true} %>	
	  	</div>  	
	  </div>  
	</div>
	<br>
    <hr>
    <div class="actions text-center">
      <%= form.submit "Registrar", class: "btn btn-primary" %>    
      <%= link_to 'Regresar', cfg_dias_no_laborales_index_path, class: "btn btn-secondary" %>
    </div>	
<% end %>