<h2>Días No Laborales</h2>
<div class="actions text-left">
  <%= link_to 'Registrar nuevo Día No Laboral', new_cfg_dias_no_laborales_path, method: :get %>
</div>
<br>
<% if @cfg_dias_no_laborales.size > 0 %>
  <table class="table table-bordered table-hover table-striped">
  	<thead>
  	  <tr>
  	  	<th scope="col">Fecha</th>
  	  	<th scope="col">Sede</th>
  	  	<th scope="col">Operación</th>
  	  </tr>
  	</thead>
  	<tbody>
  	<% @cfg_dias_no_laborales.each do |d| %>
  	  <tr>
  	  	<td><%= I18n.l(d.fecha_no_laboral.to_date, format: :long) %></td>
  	  	<td><%= (d.cfg_sede_id == 0) ? 'FERIADO NACIONAL' : d.nombre_sede %></td>
        <td align="center">
          <%= link_to(cfg_dias_no_laborales_path(d), method: :delete, data: { confirm: '¿Está seguro(a) de eliminar este día no laboral?' }) do %>
            <span class="oi oi-x" title="Eliminar" aria-hidden="true"></span>
          <% end %>
        </td>   	  	
  	  </tr>  	  	
  	<% end %>
  	</tbody>
  </table>
<% else %>
  <div class="sin_registros">
    <% if @cfg_dias_no_laborales.nil? %>
      No hay valor en los campos de búsqueda. Inténtelo de nuevo
    <% elsif @cfg_dias_no_laborales.size == 0 %>
      No hay registro de día laboral para mostrar en este listado      
    <% end %>
  </div>  
<% end %>