<h4>Opción de menú</h4>
<hr/>
<div class="row">
  <div class="col titulos-campos">     
    Nombre
  </div>
  <div class="col titulos-campos">     
    Opción Padre
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_opciones_menu.nombre_opcion.upcase %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_opciones_menu.id_opcion_padre %>
    <%= @cfg_opciones_menu.descripcion_opcion_padre %>
    &nbsp;
  </div>  
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Url
  </div>
  <div class="col titulos-campos">     
    Orden
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_opciones_menu.url_opcion %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_opciones_menu.orden %>&nbsp;
  </div>  
</div> 

<div class="row">
  <div class="col titulos-campos">     
    ¿Activo?
  </div>
  <div class="col titulos-campos">     
    Observaciones
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_opciones_menu.estatus?(@cfg_opciones_menu.activo) %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_opciones_menu.observaciones.upcase if !@cfg_opciones_menu.observaciones.blank? %>&nbsp;
  </div>  
</div> 
