<% detalles = obtener_detalle_operacion(operacion_id) %>
<% if !@detalles.nil? and @detalles.size > 0 %>
	<table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
  	  <thead>
        <tr>
          <th>Controlador</th>
          <th>Acción</th>
          <!--<th>¿Activo?</th>-->
        </tr>
  	  </thead>
  	  <tbody>
	    <% @detalles.each do |d| %>
          <tr>
            <td> <%= d.controlador %> </td>
            <td> <%= d.accion %> </td>
            <!--<td> <%# d.estatus?(d.activo) %> </td>-->
          </tr> 
	    <% end %>
	  </tbody>
	</table>
<% else %>
	<div class="sin_registros"> No existe detalles registrados para la operación </div> 
<% end %>