<%= form_for([@cfg_opciones_menu, @cfg_operaciones_opciones_menu]) do |form| %>
  <%= a = []
    a << @cfg_operaciones_opciones_menu
    a << @operaciones_detalle 
    render 'general/errores', modelos: a %>

  <div class="row">
    <div class="col"> 
      <%= form.label :operacion, 'Nombre', class: "control-label required" %>  
    </div>
    <div class="col"> 
      <%= form.label :activo, '¿Activo?', class: "control-label required" %>  
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= form.text_field :operacion, {id: :cfg_opciones_menu_nombre_opcion, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el nombre de la operación", maxlength: 40} %>
      </div>
    </div>
    <div class="col">
       <div class="form-group">   
          <%= select(:cfg_opciones_menu, :activo, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS ACTIVO"  }, {id: "cfg_operaciones_opciones_menu", class: "form-control", required: true }) %>
       </div>
    </div>
  </div>
  <br/>
  <h4>Detalle de la operación</h4>
  <hr/>
  <div class="row">
    <div class="col"> 
      <%= form.label :controlador, 'Controlador', class: "control-label required" %>  
    </div>
    <div class="col"> 
      <%= form.label :accion, 'Acción', class: "control-label required" %>  
    </div>
    <div class="col">
      <label>Agregar más campos</label>
      <input type="button" id="btnAdd" value="+" />
    </div>
  </div>  

<div id="input1"  class="clonedInput">
  <div class="row">
      <div class="col">
        <div class="form-group">                        
          <%= text_field_tag("controlador[]", "", id: "controlador1") %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">                        
          <%= text_field_tag("accion[]", "", id: "accion1") %>
          <input type="button" id="delete" value="-" class="delete"/>
        </div>
      </div>  
      <div class="col"></div>    
  </div>
</div>
<!--</div>-->




  <!-- BOTONES -->
  <br/>
  <hr>
  <div class="actions text-center">
    <%= form.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_opciones_menu_cfg_operaciones_opciones_menu_index_path(@cfg_opciones_menu), class: "btn btn-secondary" %>
  </div>
<% end %>
