<% if !@cfg_operaciones_opciones_menu.nil? and @cfg_operaciones_opciones_menu.size > 0 %>
<table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Detalle</th>
      <th>¿Activo?</th>
      <th colspan="4">Operaciones</th>
    </tr>
  </thead>
  <tbody>
    <% @cfg_operaciones_opciones_menu.each do |cfg_operaciones_opciones_menu| %>
      <tr>
        <td><%= cfg_operaciones_opciones_menu.operacion.upcase %></td>
        <td>
          <%# render 'detalle_operacion', :locals => {:operacion_id => cfg_operaciones_opciones_menu.id }%>
          <%= render 'detalle_operacion' , operacion_id: cfg_operaciones_opciones_menu.id %>
        </td>  
        <td><%= cfg_operaciones_opciones_menu.estatus?(cfg_operaciones_opciones_menu.activo) %></td>
        <td align="center">           
          <%= link_to([cfg_operaciones_opciones_menu.cfg_opciones_menu, cfg_operaciones_opciones_menu]) do %>           
            <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
          <% end %> 
        </td>
        <td align="center">           
          <%= link_to(edit_cfg_opciones_menu_cfg_operaciones_opciones_menu_path(cfg_operaciones_opciones_menu.cfg_opciones_menu, cfg_operaciones_opciones_menu)) do %>
            <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>  
          <% end %>
        </td>
        <td align="center">
            <%= link_to(estatus_operacion_path(cfg_operaciones_opciones_menu.cfg_opciones_menu, cfg_operaciones_opciones_menu, devolver_valor_activo(cfg_operaciones_opciones_menu.activo)), method: :post,data: { confirm: '¿Está seguro que desea activar/inactivar la operación de la opción de menú?' }) do %>           
                 <%= mostrar_operacion_activar(cfg_operaciones_opciones_menu.activo).html_safe  %>
            <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="sin_registros"> No existen operaciones registradas </div> 
<% end %>  
