<script>
	$(document).ready(function() {
      // Generar dinamicamente los campos de controlador y accion
      var cantidad_detalle = <%= @detalles.size %>
      if (cantidad_detalle > 0){        
        // Iterar el arreglo detalle
        var i = 1;  
        <% @detalles.each do |d| %>
          if (i==1){
            // Setear los valores, porque los text_field ya estan construidos
            var campos_input = $('#input'+ i).find( "input" );
            var nombre_controlador = <%= ("'"+d.controlador+"'").html_safe %> ;
            var nombre_accion = <%= ("'"+d.accion+"'").html_safe %> ;
            campos_input.eq(0).attr('value', nombre_controlador);
            campos_input.eq(1).attr('value', nombre_accion);
          }else{
	      	 // create the new element via clone(), and manipulate it's ID using newNum value
	      	  var newNum = new Number(i);
	      	  // create the new element via clone(), and manipulate it's ID using newNum value
	      	  var newElem = $("#input"+ (i-1)).clone().attr('id', 'input' + newNum);
	      	  // manipulate the name/id values of the input inside the new element
	      	  newElem.children(':last')//.attr('id', 'name' + newNum).attr('name', 'name' + newNum);
	      	  // insert the new element after the last "duplicatable" input field
	      	  $('#input'+ (i-1)).after(newElem);
	      	  // Obtener los campos de controlador y accion
	      	  var campos_input = $('#input'+ i).find( "input" );            
            // cambiar el id
            campos_input.eq(0).attr('id', 'controlador' + newNum);
            campos_input.eq(1).attr('id', 'accion' + newNum);
            // Setear los valores
            var nombre_controlador = <%= ("'"+d.controlador+"'").html_safe %> ;
            var nombre_accion = <%= ("'"+d.accion+"'").html_safe %> ;
            campos_input.eq(0).attr('value', nombre_controlador);
            campos_input.eq(1).attr('value', nombre_accion);
          }
          i = i + 1;
	    
        <% end %>
      } // end if cantidad_detalle > 0
    //});
  $('#btnAdd').click(function() {
    var num = $('.clonedInput').length; // how many "duplicatable" input fields we currently have
    //alert(num);
    var newNum = new Number(num + 1); // the numeric ID of the new input field being added
 
    // create the new element via clone(), and manipulate it's ID using newNum value
    var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);
 
    // manipulate the name/id values of the input inside the new element
    newElem.children(':last')//.attr('id', 'name' + newNum).attr('name', 'name' + newNum);
 
    // insert the new element after the last "duplicatable" input field
    $('#input' + num).after(newElem);
 
    // enable the "remove" button
    $('#btnDel').attr('disabled',false);
 
    // business rule: you can only add 10 names
    if (newNum == 10)
      $('#btnAdd').attr('disabled','disabled');
  });

  $("body").on("click", ".delete", function (e) {
    var num = $('.clonedInput').length;

    if (num-1 == 0){

    }else{
      //$(this).parent("div").remove();
      $(this).parent("div").parent("div").parent("div").parent("div").remove();
      //$(this).parent(".clonedInput").remove();
    }
  });
  
});
</script>	
<h2>Editar Operación</h2>
<br/>
<%= render 'datos_opcion' %>
<br/>
<h4>Operación</h4>
<hr/>
<%= render 'form_edit' %>
<BR/>