<h2>Asociar Operaciones a Opciones de Menú </h2>
<br/>
<%= render 'datos_opcion' %>
<br/>
<h4>Operaciones</h4>
<hr/>
<div class="actions text-left">
    <%= link_to 'Operaciones', new_cfg_opciones_menu_cfg_operaciones_opciones_menu_path(params[:cfg_opciones_menu_id]) %> <br/>
    <%# link_to "Buscar ", "#modal_buscar_opciones", "data-toggle" => "modal" %>
</div>
<!-- VENTANA MODAL CON LOS CRITERIOS DE BUSQUEDA-->
<%# render 'modal_buscar_opciones' %>

<!-- LISTA DE LAS OPERACIONES -->
<div id="lista">
   <%= render 'lista_operaciones' %>
</div>
<br/>
<div id="paginacion">
   <%= render 'paginacion' %>
</div>
<!-- BOTONES -->
  <br/>
  <hr>
  <div class="actions text-center">   
    <%= link_to 'Regresar', cfg_opciones_menus_path, class: "btn btn-secondary" %>
  </div>