<h2>Consultar Operación</h2>
<br/>
<%= render 'datos_opcion' %>
<br/>
<h4>Operación</h4>
<hr/>

<div class="row">
  <div class="col titulos-campos">     
    Nombre
  </div>
  <div class="col titulos-campos">     
    Activo
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_operaciones_opciones_menu.operacion.upcase %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_operaciones_opciones_menu.estatus?(@cfg_operaciones_opciones_menu.activo) %>
    &nbsp;
  </div>  
</div> 

<br>
<h4>Detalles de la operación</h4>
<hr/>
<% if !@detalles.nil? and @detalles.size > 0 %>
	<table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
  	  <thead>
        <tr>
          <th>Controlador</th>
          <th>Acción</th>
          <th>¿Activo?</th>
        </tr>
  	  </thead>
  	  <tbody>
	    <% @detalles.each do |d| %>
          <tr>
            <td> <%= d.controlador %> </td>
            <td> <%= d.accion %> </td>
            <td> <%= d.activo %> </td>
          </tr> 
	    <% end %>
	  </tbody>
	</table>
<% else %>
	<div class="sin_registros"> No existe detalles registrados para la operación </div> 
<% end %>

<br>
<hr/>
<div class="actions text-center">
    <%= link_to 'Editar', edit_cfg_opciones_menu_cfg_operaciones_opciones_menu_path(@cfg_operaciones_opciones_menu.cfg_opciones_menu, @cfg_operaciones_opciones_menu), class: "btn btn-primary" %>  
    <%= link_to 'Regresar', cfg_opciones_menu_cfg_operaciones_opciones_menu_index_path(@cfg_operaciones_opciones_menu.cfg_opciones_menu), class: "btn btn-secondary" %>
</div>
<br>