<%= month_calendar events: events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
  	  <%= event.cfg_paciente.nombres + " " + event.cfg_paciente.apellidos %>
  	</div>
  <% end %>
<% end %>