<% if !event.nil? %>
	<div class="row">
	  <div class="col titulos-campos">
	  	Id Turno
	  </div>
	  <div class="col titulos-campos">
	  	Prestador
	  </div>
	  <div class="col titulos-campos">
	  	Especialidad
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	  	<%= event.id %>
	  </div>
	  <div class="col">
	  	<%= event.cfg_usuario.nombre_completo %>
	  </div>
	  <div class="col">
	  	<%= event.cfg_usuario.cfg_especialidad.descripcion %>
	  </div>
	</div>
	<div class="row">
	  <div class="col titulos-campos">
	  	Fecha Cita
	  </div>
	  <div class="col titulos-campos">
	  	Hora de Inicio
	  </div>
	  <div class="col titulos-campos">
	  	Hora de Finalización
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	  	<%= mostrar_fecha(event.fecha) %>
	  </div>
	  <div class="col">
	  	<%= mostrar_hora(event.hora_ini) %>
	  </div>
	  <div class="col">
	  	<%= mostrar_hora(event.hora_fin) %>
	  </div>
	</div>			
	<%= form_for(@cit_cita, url: cit_turno_cit_citas_path(event)) do |form| %>
	    <%= form.hidden_field :cit_turno_id, value: event.id %>
	  <%= render 'general/errores', modelos: [@cit_cita] %>	    
		<div class="row">
		  <div class="col">
		    <%= label_tag 'identificacion', 'Buscar Paciente por Nro. Documento', class: "control-label" %>
		  </div>
		</div>
		<div class="row">
		  <div class="col">
		    <div class="form-group">
		      <%= text_field_tag 'identificacion', params[:identificacion], {class: "form-control", placeholder: 'INGRESE EL NÚMERO DE DOCUMENTO PARA SELECCIONAR PACIENTE'} %>
		    </div>
		  </div>
		</div>	
		<div class="pacientes">
		  <%= render 'cit_citas/lista_pacientes', identificacion: params[:identificacion] %>
		</div>
		<br>
		<h5>Detalles de la Cita</h5>
		<hr>
		<div class="row">
		  <div class="col">
		  	<%= form.label :fac_servicio_id, 'Servicio', class: "control-label required" %>
		  </div>	  
		</div>
		<div class="row">
		  <div class="col">
		  	<div class="form-group">
		  	  <%= form.collection_select :fac_servicio_id, obtener_servicios, :id, :nombre_servicio, {include_blank: true, prompt: "ESCRIBA EL SERVICIO A BUSCAR EN LA LISTA"}, {id: "cit_cita_fac_servicio_id", class: "form-control"} %>	  	  
		  	</div>
		  </div>
		</div>
		<div class="row">
		  <div class="col">
		  	<%= form.label :tipo_cita, 'Motivo Consulta', class: "control-label required" %>
		  </div>
		</div>
		<div class="row">
		  <div class="col">
		  	<div class="form-group">
		  	  <%= form.collection_select :tipo_cita, obtener_motivos_consulta, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL MOTIVO DE LA CONSULTA"}, {id: "cit_cita_tipo_cita", class: "form-control", required: true} %>
		  	</div>
		  </div>	  
		</div>
	    <div class="actions text-center">
	      <%= form.submit "Citar Paciente", class: "btn btn-primary", id: "enviar" %>
	      <%= link_to 'Regresar', cit_turnos_path, class: "btn btn-secondary" %>	      
	    </div>			
	<% end %>
<% end %>	