<script>
  $(document).ready(
  	function(){
      var fac_servicio_id = $("#cit_cita_fac_servicio_id")
      $(fac_servicio_id).select2()  
      $(document).on("change","#identificacion",function(){
        var identificacion = $("#identificacion").val()        
        $.ajax({
          url: "/cit_citas/buscar_paciente_cita",
          type: "POST",
          data: {"identificacion": identificacion}
        })
      })      	  
  	}
  )
</script>
<h2>Registrar Cita</h2>
<div class="cita"> 
  <%= render 'datos_cita', event: @event %>
</div>
<br>