<% modelos.each do |modelo| %>
  <% if !modelo.nil? %>
  <% if modelo.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <h4> Errores al guardar los datos del formulario: </h4>
      <ul>
      <% modelo.errors.each do |campo,msg| %>
        <li> <%= modelo%> <%= campo%> <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>
<% end %>