<%= fields_for :cfg_paciente do |form| %>
 <div class="row">
  <div class="col">
    <%= form.label :fac_administradora_id, 'EPS', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :tipo_afiliado, 'Tipo Afiliado', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :regimen, 'Régimen', class: "control-label" %>    
  </div>
</div> 

 <div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.collection_select(:fac_administradora_id, obtener_all_eps, :id, :razon_social, {include_blank: true, prompt: "SELECCIONE EPS"}, {id: "cfg_paciente_fac_administradora_id", class: "form-control"}) %>  
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.collection_select(:tipo_afiliado, obtener_tipo_afiliado, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL TIPO DE AFILIADO"}, {id: "cfg_paciente_tipo_afiliado", class: "form-control"}) %>    
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.collection_select(:regimen, obtener_regimen, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL REGIMEN"}, {id: "cfg_paciente_regimen", class: "form-control"}) %> 
   </div>
  </div>
 </div>

 <div class="row">
  <div class="col">
    <%= form.label :categoria_paciente, 'Categoría', class: "control-label" %>    
  </div> 
  <div class="col">
    <%= form.label :estrato_id, 'Estrato', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :etnia, 'Etnia', class: "control-label" %>    
  </div> 
 </div> 

 <div class="row">
    <div class="col">
    <div class="form-group"> 
      <%= form.collection_select(:categoria_paciente, obtener_categoria_paciente, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE CATEGORIA PACIENTE"}, {id: "cfg_paciente_categoria_paciente", class: "form-control"}) %>     
    </div>
  </div>
  <div class="col">
   <div class="form-group"> 
        <%= form.collection_select(:estrato_id, obtener_estrato, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE ESTRATO"}, {id: "cfg_paciente_estrato_id", class: "form-control"}) %>  
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
     <%= form.collection_select(:etnia, obtener_etnia, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE ETNIA"}, {id: "cfg_paciente_etnia", class: "form-control"}) %>    
   </div>
  </div>
</div>

 <div class="row">
    <div class="col">
    <%= form.label :escolaridad, 'Escolaridad', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :numero_autorizacion, 'Número Autorización', class: "control-label" %>    
  </div> 
  <div class="col">
    <%= form.label :responsable, 'Responsable', class: "control-label" %>    
  </div>
 </div>  
 
<div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.collection_select(:escolaridad, obtener_escolaridad, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE ESCOLARIDAD"}, {id: "cfg_paciente_escolaridad", class: "form-control"}) %> 
   </div>
  </div>  
  <div class="col">
    <div class="form-group"> 
     <%= form.text_field :numero_autorizacion, id: :cfg_paciente_numero_autorizacion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese numero de autorización", maxlength: 50 %>         
    </div>
  </div>
  <div class="col">
   <div class="form-group"> 
   <%= form.text_field :responsable, id: :cfg_paciente_responsable, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese nombre de persona responsable", maxlength: 50 %>    
   </div>
  </div>  
 </div>

<div class="row">
  <div class="col">
    <%= form.label :telefono_responsable, 'Teléfono Responsable', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :parentesco, 'Parentesco', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :acompanante, 'Acompañante', class: "control-label" %>    
  </div>  
</div>

 <div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.phone_field :telefono_responsable, {id: :cfg_paciente_telefono_responsable, class: "form-control", placeholder: "INGRESE EL TELEFONO", :data => {:mask=> '999-999-9999'} }%>   
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.collection_select(:parentesco, obtener_parentesco, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE PARENTESCO"}, {id: "cfg_paciente_parentesco", class: "form-control"}) %> 
   </div>
  </div> 
  <div class="col">
   <div class="form-group"> 
   <%= form.text_field :acompanante, id: :cfg_paciente_acompanante, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese nombre de persona acompañante", maxlength: 50 %>    
   </div>
  </div> 
 </div>

 <div class="row">
  <div class="col">
    <%= form.label :telefono_acompanante, 'Teléfono Acompañante', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :fecha_afiliacion, 'Fec. Afiliación', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :fecha_sisben, 'Fec. Sisben', class: "control-label" %>    
  </div>  
 </div>

 <div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.phone_field :telefono_acompanante, {id: :cfg_paciente_telefono_acompanante, class: "form-control", placeholder: "INGRESE EL TELEFONO DEL ACOMPAÑANTE", :data => {:mask=> '999-999-9999'} }%>   
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :fecha_afiliacion, {class: "form-control", id: "cfg_paciente_fecha_afiliacion", :data => {:mask=> '99/99/9999'}} %>
   </div>
  </div> 
  <div class="col">
   <div class="form-group"> 
     <%= form.text_field :fecha_sisben, {class: "form-control", id: "cfg_paciente_fecha_sisben", :data => {:mask=> '99/99/9999'}} %>
   </div>
  </div> 
 </div>

 <div class="row">
  <div class="col">
    <%= form.label :carnet, 'Carnet', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :fecha_vence_carnet, 'Fec. Vencimiento Carnet', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :observaciones, 'Observaciones', class: "control-label" %>    
  </div>  
 </div>  

 <div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :carnet, id: :cfg_paciente_carnet, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese informacion de carnet", maxlength: 40 %>  
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :fecha_vence_carnet, {class: "form-control", id: "cfg_paciente_fecha_vence_carnet", :data => {:mask=> '99/99/9999'}} %>
   </div>
  </div>  
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :observaciones, id: :cfg_paciente_observaciones, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese observaciones", maxlength: 100 %>  
   </div>
  </div>
 </div>

<% end %>