<%= form_with(model: cfg_paciente, local: true) do |form| %>
  <% if cfg_paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cfg_paciente.errors.count, "error") %> prohibited this cfg_paciente from being saved:</h2>

      <ul>
      <% cfg_paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identificacion %>
    <%= form.text_field :identificacion, id: :cfg_paciente_identificacion %>
  </div>

  <div class="field">
    <%= form.label :tipo_identificacion %>
    <%= form.text_field :tipo_identificacion, id: :cfg_paciente_tipo_identificacion %>
  </div>

  <div class="field">
    <%= form.label :lugar_expedicion %>
    <%= form.text_field :lugar_expedicion, id: :cfg_paciente_lugar_expedicion %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.text_field :genero, id: :cfg_paciente_genero %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.text_field :fecha_nacimiento, id: :cfg_paciente_fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :primer_apellido %>
    <%= form.text_field :primer_apellido, id: :cfg_paciente_primer_apellido %>
  </div>

  <div class="field">
    <%= form.label :segundo_apellido %>
    <%= form.text_field :segundo_apellido, id: :cfg_paciente_segundo_apellido %>
  </div>

  <div class="field">
    <%= form.label :primer_nombre %>
    <%= form.text_field :primer_nombre, id: :cfg_paciente_primer_nombre %>
  </div>

  <div class="field">
    <%= form.label :segundo_nombre %>
    <%= form.text_field :segundo_nombre, id: :cfg_paciente_segundo_nombre %>
  </div>

  <div class="field">
    <%= form.label :zona %>
    <%= form.text_field :zona, id: :cfg_paciente_zona %>
  </div>

  <div class="field">
    <%= form.label :regimen %>
    <%= form.text_field :regimen, id: :cfg_paciente_regimen %>
  </div>

  <div class="field">
    <%= form.label :nivel %>
    <%= form.text_field :nivel, id: :cfg_paciente_nivel %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.text_field :activo, id: :cfg_paciente_activo %>
  </div>

  <div class="field">
    <%= form.label :foto %>
    <%= form.text_field :foto, id: :cfg_paciente_foto %>
  </div>

  <div class="field">
    <%= form.label :firma %>
    <%= form.text_field :firma, id: :cfg_paciente_firma %>
  </div>

  <div class="field">
    <%= form.label :estado_civil %>
    <%= form.text_field :estado_civil, id: :cfg_paciente_estado_civil %>
  </div>

  <div class="field">
    <%= form.label :grupo_sanguineo %>
    <%= form.text_field :grupo_sanguineo, id: :cfg_paciente_grupo_sanguineo %>
  </div>

  <div class="field">
    <%= form.label :etnia %>
    <%= form.text_field :etnia, id: :cfg_paciente_etnia %>
  </div>

  <div class="field">
    <%= form.label :escolaridad %>
    <%= form.text_field :escolaridad, id: :cfg_paciente_escolaridad %>
  </div>

  <div class="field">
    <%= form.label :ocupacion %>
    <%= form.text_field :ocupacion, id: :cfg_paciente_ocupacion %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :cfg_paciente_direccion %>
  </div>

  <div class="field">
    <%= form.label :telefono_residencia %>
    <%= form.text_field :telefono_residencia, id: :cfg_paciente_telefono_residencia %>
  </div>

  <div class="field">
    <%= form.label :telefono_oficina %>
    <%= form.text_field :telefono_oficina, id: :cfg_paciente_telefono_oficina %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.text_field :celular, id: :cfg_paciente_celular %>
  </div>

  <div class="field">
    <%= form.label :tipo_afiliado %>
    <%= form.text_field :tipo_afiliado, id: :cfg_paciente_tipo_afiliado %>
  </div>

  <div class="field">
    <%= form.label :fecha_afiliacion %>
    <%= form.text_field :fecha_afiliacion, id: :cfg_paciente_fecha_afiliacion %>
  </div>

  <div class="field">
    <%= form.label :fecha_sisben %>
    <%= form.text_field :fecha_sisben, id: :cfg_paciente_fecha_sisben %>
  </div>

  <div class="field">
    <%= form.label :carnet %>
    <%= form.text_field :carnet, id: :cfg_paciente_carnet %>
  </div>

  <div class="field">
    <%= form.label :cfg_departamento_id %>
    <%= form.text_field :cfg_departamento_id, id: :cfg_paciente_cfg_departamento_id %>
  </div>

  <div class="field">
    <%= form.label :cfg_municipio_id %>
    <%= form.text_field :cfg_municipio_id, id: :cfg_paciente_cfg_municipio_id %>
  </div>

  <div class="field">
    <%= form.label :barrio %>
    <%= form.text_field :barrio, id: :cfg_paciente_barrio %>
  </div>

  <div class="field">
    <%= form.label :responsable %>
    <%= form.text_field :responsable, id: :cfg_paciente_responsable %>
  </div>

  <div class="field">
    <%= form.label :acompanante %>
    <%= form.text_field :acompanante, id: :cfg_paciente_acompanante %>
  </div>

  <div class="field">
    <%= form.label :telefono_acompanante %>
    <%= form.text_field :telefono_acompanante, id: :cfg_paciente_telefono_acompanante %>
  </div>

  <div class="field">
    <%= form.label :historia %>
    <%= form.text_field :historia, id: :cfg_paciente_historia %>
  </div>

  <div class="field">
    <%= form.label :fechainsc %>
    <%= form.text_field :fechainsc, id: :cfg_paciente_fechainsc %>
  </div>

  <div class="field">
    <%= form.label :facturarlo %>
    <%= form.text_field :facturarlo, id: :cfg_paciente_facturarlo %>
  </div>

  <div class="field">
    <%= form.label :dircatastrofe %>
    <%= form.text_field :dircatastrofe, id: :cfg_paciente_dircatastrofe %>
  </div>

  <div class="field">
    <%= form.label :municipiocatastrofe %>
    <%= form.text_field :municipiocatastrofe, id: :cfg_paciente_municipiocatastrofe %>
  </div>

  <div class="field">
    <%= form.label :departamentocatastrofe %>
    <%= form.text_field :departamentocatastrofe, id: :cfg_paciente_departamentocatastrofe %>
  </div>

  <div class="field">
    <%= form.label :zonacatastrofe %>
    <%= form.text_field :zonacatastrofe, id: :cfg_paciente_zonacatastrofe %>
  </div>

  <div class="field">
    <%= form.label :fechacatastrofe %>
    <%= form.text_field :fechacatastrofe, id: :cfg_paciente_fechacatastrofe %>
  </div>

  <div class="field">
    <%= form.label :fechaop %>
    <%= form.text_field :fechaop, id: :cfg_paciente_fechaop %>
  </div>

  <div class="field">
    <%= form.label :grado %>
    <%= form.text_field :grado, id: :cfg_paciente_grado %>
  </div>

  <div class="field">
    <%= form.label :parentesco %>
    <%= form.text_field :parentesco, id: :cfg_paciente_parentesco %>
  </div>

  <div class="field">
    <%= form.label :pensionado %>
    <%= form.text_field :pensionado, id: :cfg_paciente_pensionado %>
  </div>

  <div class="field">
    <%= form.label :id_administradora %>
    <%= form.text_field :id_administradora, id: :cfg_paciente_id_administradora %>
  </div>

  <div class="field">
    <%= form.label :dep_nacimiento %>
    <%= form.text_field :dep_nacimiento, id: :cfg_paciente_dep_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :mun_nacimiento %>
    <%= form.text_field :mun_nacimiento, id: :cfg_paciente_mun_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :cfg_paciente_email %>
  </div>

  <div class="field">
    <%= form.label :categoria_paciente %>
    <%= form.text_field :categoria_paciente, id: :cfg_paciente_categoria_paciente %>
  </div>

  <div class="field">
    <%= form.label :numero_autorizacion %>
    <%= form.text_field :numero_autorizacion, id: :cfg_paciente_numero_autorizacion %>
  </div>

  <div class="field">
    <%= form.label :telefono_responsable %>
    <%= form.text_field :telefono_responsable, id: :cfg_paciente_telefono_responsable %>
  </div>

  <div class="field">
    <%= form.label :fecha_vence_carnet %>
    <%= form.text_field :fecha_vence_carnet, id: :cfg_paciente_fecha_vence_carnet %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_field :observaciones, id: :cfg_paciente_observaciones %>
  </div>

  <div class="field">
    <%= form.label :id_discapacidad %>
    <%= form.text_field :id_discapacidad, id: :cfg_paciente_id_discapacidad %>
  </div>

  <div class="field">
    <%= form.label :id_gestacion %>
    <%= form.text_field :id_gestacion, id: :cfg_paciente_id_gestacion %>
  </div>

  <div class="field">
    <%= form.label :poblacion_lbgt %>
    <%= form.text_field :poblacion_lbgt, id: :cfg_paciente_poblacion_lbgt %>
  </div>

  <div class="field">
    <%= form.label :desplazado %>
    <%= form.text_field :desplazado, id: :cfg_paciente_desplazado %>
  </div>

  <div class="field">
    <%= form.label :id_religion %>
    <%= form.text_field :id_religion, id: :cfg_paciente_id_religion %>
  </div>

  <div class="field">
    <%= form.label :victima_maltrato %>
    <%= form.text_field :victima_maltrato, id: :cfg_paciente_victima_maltrato %>
  </div>

  <div class="field">
    <%= form.label :victima_conflicto_armado %>
    <%= form.text_field :victima_conflicto_armado, id: :cfg_paciente_victima_conflicto_armado %>
  </div>

  <div class="field">
    <%= form.label :id_contrato %>
    <%= form.text_field :id_contrato, id: :cfg_paciente_id_contrato %>
  </div>

  <div class="field">
    <%= form.label :parentesco_a %>
    <%= form.number_field :parentesco_a, id: :cfg_paciente_parentesco_a %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
