<%= form_with(model: @cfg_paciente, local: true, id: 'formulario') do |form| %>
  <%= render 'general/errores', modelos: [@cfg_paciente] %>

<!-- Encabezado tabuladores -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Datos Básicos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">Datos Complementarios</a>
  </li>
</ul>

 <!-- Búsqueda de registro de paciente por identificación -->
 <div class="row">
  <div class="col">
    <%= form.label :identificacion, 'Identificacion', class: "control-label required" %>    
  </div>
 </div>
 <div class="row">
  <div class="col">
   <div class="form-group">    
    <%= form.text_field :identificacion, id: :cfg_paciente_identificacion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese identificación para buscar", required: true, maxlength: 50 %>
   </div>
  </div>
  <div class="col">
    <div class="form-group">      
      <%= link_to "Buscar", "#", class: "btn btn-primary", id: "buscar", remote: true %>
    </div>
  </div>
 </div> 

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active container" id="home"><%= render 'home', cfg_paciente: @cfg_paciente %></div>
  <div class="tab-pane container" id="menu1"><%= render 'datos_adicionales', cfg_paciente: @cfg_paciente %></div>
</div>   

<br/>
<hr>
<div class="actions text-center">
    <%= form.submit "Guardar", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_pacientes_path, class: "btn btn-secondary" %>
</div>
<% end %>