<script>
  $(document).ready(
    function(){       
      $("#cfg_paciente_ocupacion").select2();         
    }    
  );
  // Plugin para manejo de campos fecha. Muestra calendario y formato dd/mm/yyyy
  //$('#datepicker').datepicker({format: 'dd/mm/yyyy'});
</script>
<%= fields_for :cfg_paciente do |form| %>
 <div class="row">
  <div class="col">
    <%= form.label :tipo_identificacion, 'Tipo de Identificación', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :lugar_expedicion, 'Lugar de Expedición', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :genero, 'Género', class: "control-label" %>    
  </div>  
 </div>

 <div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.collection_select(:tipo_identificacion, obtener_tipo_identificacion, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL TIPO DE IDENTIFICACION"}, {id: "cfg_empresa_tipo_doc", class: "form-control"}) %> 
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :lugar_expedicion, id: :cfg_paciente_lugar_expedicion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese Lugar de Expedición", maxlength: 30 %>
   </div>
  </div>  
  <div class="col">
    <div class="form-group"> 
      <%= form.collection_select(:genero, obtener_genero, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL GENERO"}, {id: "cfg_paciente_genero", class: "form-control"}) %>     
    </div>
  </div>
 </div>

<div class="row">
  <div class="col">
    <%= form.label :primer_apellido, 'Primer Apellido', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :segundo_apellido, 'Segundo Apellido', class: "control-label" %>    
  </div>
  <div class="col">
    <%= form.label :primer_nombre, 'Primer Nombre', class: "control-label" %>    
  </div>
</div>

<div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :primer_apellido, id: :cfg_paciente_primer_apellido, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese primer apellido", maxlength: 30 %>    
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :segundo_apellido, id: :cfg_paciente_segundo_apellido, class: "form-control", style: "text-transform: uppercase", placeholder: "Segundo apellido", maxlength: 30 %>
   </div>
  </div>
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :primer_nombre, id: :cfg_paciente_primer_nombre, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese primer nombre", maxlength: 30 %>    
   </div>
  </div>  
</div>
<div class="row">
  <div class="col">
    <%= form.label :segundo_nombre, 'Segundo Nombre', class: "control-label" %>    
  </div> 
  <div class="col">
    <%= form.label :fecha_nacimiento, 'Fecha de Nacimiento', class: "control-label" %>
  </div>    
  <div class="col">
    <%= form.label :ocupacion, 'Ocupación', class: "control-label" %>
  </div>    
</div>
<div class="row">
  <div class="col">
   <div class="form-group"> 
    <%= form.text_field :segundo_nombre, id: :cfg_paciente_segundo_nombre, class: "form-control", style: "text-transform: uppercase", placeholder: "Segundo nombre", maxlength: 30 %>   
   </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= form.text_field :fecha_nacimiento, {class: "form-control", id: "cfg_paciente_fecha_nacimiento", :data => {:mask=> '99/99/9999'}} %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= form.collection_select(:ocupacion, obtener_ocupacion, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE OCUPACION"}, {id: "cfg_paciente_ocupacion", class: "form-control"}) %>       
    </div>    
  </div>  
</div>

<div class="row">   
  <div class="col">
    <%= form.label :estado_civil, 'Estado Civil', class: "control-label" %>
  </div>
  <div class="col">
    <%= form.label :grupo_sanguineo, 'RH', class: "control-label" %>
  </div>  
  <div class="col">
    <%= form.label :cfg_municipio_id, 'Departamento-Municipio Nacimiento', class: "control-label" %>
  </div>  
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= form.collection_select(:estado_civil, obtener_estado_civil, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE ESTADO CIVIL"}, {id: "cfg_paciente_estado_civil", class: "form-control"}) %>        
    </div>    
  </div>
  <div class="col">
    <div class="form-group">
      <%= form.collection_select(:grupo_sanguineo, obtener_grupo_sanguineo, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL GRUPO SANGUINEO"}, {id: "cfg_paciente_grupo_sanguineo", class: "form-control"}) %>       
    </div>    
  </div> 
  <div class="col">
    <div class="form-group">
      <%= form.grouped_collection_select :cfg_municipio_id, obtener_departamentos, :cfg_municipios, :nombre, :id, :nombre, {include_blank: true, prompt: "SELECCIONE EL DEPARTAMENTO-MUNICIPIO" }, {class: "form-control"} %>      
    </div>
  </div>     
</div>  

<div class="row">
  <div class="col">
    <%= form.label :zona, 'Zona', class: "control-label" %>
  </div>
  <div class="col">
    <%= form.label :barrio, 'Barrio', class: "control-label" %>
  </div> 
  <div class="col">
    <%= form.label :direccion, 'Dirección', class: "control-label" %>
  </div>   
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= form.collection_select(:zona, obtener_zonas, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE ZONA"}, {id: "cfg_paciente_zona", class: "form-control"}) %>        
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= form.text_field :barrio, id: :cfg_paciente_barrio, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese información de barrio", maxlength: 50 %>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <%= form.text_field :direccion, id: :cfg_paciente_direccion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese dirección", maxlength: 80 %>
    </div>
  </div>  
</div>

<div class="row">
  <div class="col">
    <%= form.label :email, 'Email', class: "control-label" %>
  </div> 
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= form.text_field :email, id: :cfg_paciente_email, class: "form-control", placeholder: "Ingrese correo electrónico" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= form.check_box :activo %>&nbsp;<%= form.label :activo, '¿Paciente activo?' %>  
  </div>
</div>
<% end %>