<% if !@cfg_pacientes.nil? and @cfg_pacientes.size > 0 %>
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Identificación</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Género</th>
      <th scope="col">Fecha Nacimiento</th>      
      <th scope="col" colspan="3">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cfg_pacientes.each do |cfg_paciente| %>
      <tr>
        <td><%= cfg_paciente.identificacion %></td>
        <td><%= cfg_paciente.primer_nombre %>&nbsp;<%= cfg_paciente.segundo_nombre %></td>
        <td><%= cfg_paciente.primer_apellido %>&nbsp;<%= cfg_paciente.segundo_apellido %></td>
        <td><%= cfg_paciente.genero %></td>
        <td><%= mostrar_fecha(cfg_paciente.fecha_nacimiento) %></td>
        
        <td align="center">           
          <%= link_to(cfg_paciente) do %>           
            <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
          <% end %> 
        </td>
        <td align="center">           
          <%= link_to(edit_cfg_paciente_path(cfg_paciente)) do %>
            <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>  
          <% end %>
        </td>
        <td align="center">           
          <%= link_to(edit_cfg_paciente_path(cfg_paciente)) do %>
            <span class="oi oi-pencil" title="Asociar a Cita" aria-hidden="true"></span>  
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="sin_registros">
    <% if @cfg_pacientes.nil? %>
      No hay valor en los campos de búsqueda. Inténtelo de nuevo
    <% elsif @cfg_pacientes.size == 0 %>
      No hay registro de paciente para mostrar en este listado      
    <% end %>
  </div>
<% end %>