<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Buscar por </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :cfg_paciente, url: buscar_pacientes_path, remote: true do |form| %>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <%= label_tag 'identificacion', 'Identificacion', class: "control-label" %>    
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">    
                <%= text_field_tag 'identificacion', nil, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese numero de identificación", maxlength: 50 %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= label_tag 'nombres', 'Nombres y apellidos', class: "control-label" %>    
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">    
                <%= text_field_tag 'nombres', nil, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese nombres y apellidos", maxlength: 50 %>
              </div>
            </div>
          </div>          
        </div>
        <div class="modal-footer">          
          <%# link_to "Buscar", "#", class: "btn btn-primary", id: "enviar", remote: true %>
          <%= form.submit " Buscar ", class: "btn btn-primary", id: "enviar" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>          
        </div>
      <% end %>
    </div>
  </div>
</div>