// Las siguientes dos líneas, aplicarán a la busqueda por identificación, para mostrar valores en los partial del formulario new
$("#home").html("<%= j render 'home', cfg_paciente: @cfg_paciente %>");
$("#profile").html("<%= j render 'datos_adicionales', cfg_paciente: @cfg_paciente %>");
<% if !@cfg_paciente.nil? %>
  $("#formulario :input").prop("disabled", true);
  $("#cfg_paciente_identificacion").removeAttr('disabled');
<% else %>
  $("#formulario :input").removeAttr('disabled');
<% end %>