<script>
  $(document).ready(
    function(){
      // Campos fecha
      $("#cfg_paciente_fecha_nacimiento").datepicker()   
      $("#cfg_paciente_fecha_afiliacion").datepicker()
      $("#cfg_paciente_fecha_sisben").datepicker()
      $("#cfg_paciente_fecha_vence_carnet").datepicker()           
      // Deshabilitar campo de búsqueda e invisibilizamos botón
      $("#cfg_paciente_identificacion").prop("disabled", true); 
      $("#buscar").css({"display": "none"});         
      //$('.handle').css({'left': '300px'});
    }    
  );
  // Plugin para manejo de campos fecha. Muestra calendario y formato dd/mm/yyyy
  //$('#datepicker').datepicker({format: 'dd/mm/yyyy'});
</script>
<h2>Modificar datos Paciente</h2>
<br>
<%= render 'form' %>
<br>



 