<h2>Pacientes</h2>
<br>
<div class="actions text-left">
  <%= link_to 'Datos Paciente', new_cfg_paciente_path %><br>
  <%= link_to "Buscar Pacientes", "#exampleModalCenter", "data-toggle" => "modal" %>
</div>
<div id="lista">
  <%= render 'lista_pacientes' %>
</div>
<br>
<%= render 'modal' %>