<script>
  $(document).ready(
    function(){ 
      // Campos fecha
      $("#cfg_paciente_fecha_nacimiento").datepicker()   
      $("#cfg_paciente_fecha_afiliacion").datepicker()
      $("#cfg_paciente_fecha_sisben").datepicker()
      $("#cfg_paciente_fecha_vence_carnet").datepicker()
      // Habilitar propiedades de selección múltiple   
      $("#cfg_paciente_ocupacion").select2(); 
      // Busca pacientes por identificador, al hacer clic en el enlace Buscar
      $('#buscar').click(function(){        
        var ident = $('#cfg_paciente_identificacion').val() 
        if (ident != '') {          
          $.ajax({
            url: "/cfg_pacientes/buscar_paciente",
            type: "POST",
            data: { "identificacion": ident },
            success: function(data){ 

            }, complete: function(data){
              
            }
          });
        }else{
          alert('Debe ingresar valor en el campo identificador')
        }
      });    
    }    
  );
  // Plugin para manejo de campos fecha. Muestra calendario y formato dd/mm/yyyy
  //$('#datepicker').datepicker({format: 'dd/mm/yyyy'});
</script>
<h2>Datos Paciente</h2>
<br>
<%= render 'form' %>
<br>