<h2>Ver Paciente</h2>
<br/>
<div class="row">
  <div class="col titulos-campos">  
    Identificación
  </div>  
  <div class="col titulos-campos"> 
    Tipo Identificación
  </div>  
  <div class="col titulos-campos"> 
    Lugar de Expedición
  </div>
</div>
<div class="row">
  <div class="col">
    <%= @cfg_paciente.identificacion %>  
  </div>
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.tipo_identificacion) %>    
  </div>
  <div class="col">
    <%= @cfg_paciente.lugar_expedicion %>    
  </div>
</div>
<div class="row">
  <div class="col titulos-campos"> 
    Género
  </div>  
  <div class="col titulos-campos">
    Primer Apellido
  </div>
  <div class="col titulos-campos">
    Segundo Apellido    
  </div>   
</div>
<div class="row">
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.genero) %>       
  </div>
  <div class="col">
    <%= @cfg_paciente.primer_apellido %>  
  </div>  
  <div class="col">
    <%= @cfg_paciente.segundo_apellido %>    
  </div>    
</div>
<div class="row">
  <div class="col titulos-campos">
    Primer Nombre
  </div>   
  <div class="col titulos-campos">
    Segundo Nombre
  </div>
  <div class="col titulos-campos">
    Fecha de Nacimiento
  </div>    
</div>
<div class="row">
  <div class="col">
    <%= @cfg_paciente.primer_nombre %>
  </div>  
  <div class="col">
    <%= @cfg_paciente.segundo_nombre %>
  </div>
  <div class="col">
    <%= mostrar_fecha(@cfg_paciente.fecha_nacimiento) %>
  </div>   
</div>
<div class="row">
  <div class="col titulos-campos">
    Ocupación
  </div>  
  <div class="col titulos-campos">
    Estado Civil
  </div>
  <div class="col titulos-campos">
    RH
  </div>   
</div>
<div class="row">
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.ocupacion) %>    
  </div>   
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.estado_civil) %>       
  </div>
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.grupo_sanguineo) %>
  </div>   
</div>
<div class="row">
  <div class="col titulos-campos">
    Departamento-Municipio Nacimiento
  </div>   
  <div class="col titulos-campos">
    Zona
  </div>
  <div class="col titulos-campos">
    Barrio
  </div>    
</div>
<div class="row">
  <div class="col">
    <%= obtener_departamento_municipio(@cfg_paciente.cfg_municipio_id) %>
  </div>   
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.zona) %>    
  </div>
  <div class="col">
     <%= @cfg_paciente.barrio %>
  </div>   
</div>
<div class="row">
  <div class="col titulos-campos">
    Dirección
  </div>  
  <div class="col titulos-campos">
    Email
  </div>
  <div class="col titulos-campos">
    EPS
  </div>   
</div>
<div class="row">
  <div class="col">
    <%= @cfg_paciente.direccion %>
  </div>   
  <div class="col">
    <%= @cfg_paciente.email %>
  </div>
  <div class="col">
    <%= obtener_eps(@cfg_paciente.fac_administradora_id) %>
  </div>   
</div>
<div class="row">
  <div class="col titulos-campos">
    Tipo Afiliado
  </div>
  <div class="col titulos-campos">
    Régimen
  </div>
  <div class="col titulos-campos">
    Categoría
  </div>    
</div>
<div class="row">
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.tipo_afiliado) %>   
  </div>
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.regimen) %>    
  </div>
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.categoria_paciente) %>    
  </div>    
</div>
<div class="row">
  <div class="col titulos-campos">
    Estrato
  </div>
  <div class="col titulos-campos">
    Etnia
  </div>
  <div class="col titulos-campos">
    Escolaridad
  </div>    
</div>
<div class="row">
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.estrato_id) %>
  </div>
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.etnia) %>    
  </div>
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.escolaridad) %>    
  </div>    
</div>
<div class="row">
  <div class="col titulos-campos">
    Número Autorización
  </div>
  <div class="col titulos-campos">
    Responsable
  </div>
  <div class="col titulos-campos">
    Teléfono Responsable
  </div>    
</div>
<div class="row">
  <div class="col">
    <%= @cfg_paciente.numero_autorizacion %>
  </div>
  <div class="col">
    <%= @cfg_paciente.responsable %>
  </div>
  <div class="col">
    <%= @cfg_paciente.telefono_responsable %>
  </div>    
</div>
<div class="row">
  <div class="col titulos-campos">
    Parentesco
  </div>
  <div class="col titulos-campos">
    Acompañante
  </div>
  <div class="col titulos-campos">
    Teléfono Acompañante
  </div>    
</div>
<div class="row">
  <div class="col">
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_paciente.parentesco) %>    
  </div>
  <div class="col">
    <%= @cfg_paciente.acompanante %>
  </div>
  <div class="col">
    <%= @cfg_paciente.telefono_acompanante %>
  </div>    
</div>
<div class="row">
  <div class="col titulos-campos">
    Fec. Afiliación
  </div>
  <div class="col titulos-campos">
    Fec. Sisben
  </div>
  <div class="col titulos-campos">
    Carnet
  </div>    
</div>
<div class="row">
  <div class="col">
    <%= mostrar_fecha(@cfg_paciente.fecha_afiliacion) %>
  </div>
  <div class="col">
    <%= mostrar_fecha(@cfg_paciente.fecha_sisben) %>
  </div>
  <div class="col">
    <%= @cfg_paciente.carnet %>
  </div>    
</div>
<div class="row">
  <div class="col titulos-campos">
    Fec. Vencimiento Carnet
  </div>
  <div class="col titulos-campos">
    Observaciones
  </div>   
</div>
<div class="row">
  <div class="col">
    <%= mostrar_fecha(@cfg_paciente.fecha_vence_carnet) %>
  </div>
  <div class="col">
    <%= @cfg_paciente.observaciones %>
  </div>   
</div>

<br>
<hr/>
<div class="actions text-center">
    <%= link_to 'Editar', edit_cfg_paciente_path(@cfg_paciente), class: "btn btn-primary" %>  
    <%= link_to 'Regresar', cfg_pacientes_path, class: "btn btn-secondary" %>
</div>
<br>
