<% if !cfg_items_horarios.nil? and cfg_items_horarios.size > 0 %>
  <table class="table table-bordered table-hover table-striped">
  	<thead>
  		<tr>
  			<th scope="col">Día</th>
  			<th scope="col">Hora Inicio</th>
  			<th scope="col">Hora Final</th>
  		</tr>  		
  	</thead>
  	<% cfg_items_horarios.each do |c| %>
  	  <tr>
  	  	<td>
  	  		<%= c.nombredia %>
  	  	</td>
  	  	<td>
  	  		<%= c.hora_inicio %>
  	  	</td>  	  	
  	  	<td>
  	  		<%= c.hora_final %>
  	  	</td>  	  	
  	  </tr>
  	<% end %>
  </table>
<% else %>
  <div class="alert alert-dismissible alert-danger">
    <% if cfg_items_horarios.nil? %>
      No hay valor en los campos de búsqueda. Inténtelo de nuevo
    <% elsif cfg_items_horarios.size == 0 %>
      No hay registro para mostrar en este listado      
    <% end %>
  </div>
<% end %>