<h2>Configurar Horario</h2>
<br>
<div class="actions text-left">
  <%= link_to 'Datos Horario', "#exampleModalCenter", "data-toggle" => "modal" %>
</div>
<div class="row">
  <div class="col">
    <%= label_tag :horario, 'Horario', class: "control-label" %>       
  </div>
</div>
<div class="row">
  <div class="col">
  	<div class="form-group">
  		<%= select_tag 'horario', options_from_collection_for_select(CfgHorario.all, 'id', 'descripcion'), class: 'form-control', style: 'text-transform: uppercase', prompt: 'SELECCIONE FORMATO DE HORARIO DE LA LISTA' %>
  	</div>
  </div>
</div>
<br>
<div id="lista">
  <%= render 'lista_horarios', cfg_items_horarios: @cfg_items_horarios %>	
</div>
<%= render 'modal' %>