<%= form_for(@cit_turno) do |form| %>
  <h5>Buscar Prestador</h5>
  <hr/>
  <div class="row">
    <div class="col">
      <%= label_tag 'cfg_especialidad_id', 'Especialidad', class: "control-label required" %>    
    </div>
    <div class="col">
      <%= form.label :cfg_usuario_id, 'Prestador (Especialidad)', class: "control-label required" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= select_tag "cfg_especialidad_id", options_from_collection_for_select(obtener_especialidades_turno, "id", "descripcion", params[:cfg_especialidad_id]), class: "form-control", required: true, prompt: "SELECCIONE ESPECIALIDAD PARA BUSCAR PRESTADOR", include_blank: true %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <div class="usuario">
          <%= render 'usuario', cfg_especialidad_id: params[:cfg_especialidad_id] %>
        </div>
      </div>    
    </div>   
  </div>

<br>
<h5>Agenda Prestador</h5>
<hr>
<div id="events_calendar">
  <%= render 'cit_turnos/calendar', events: (@cit_turnos + @cfg_dias_no_laborales) %>
</div>
<br>
<h5>Datos Complementarios del Turno</h5>
<hr>
  <div class="row">
    <div class="col">
  	  <%= form.label :cfg_consultorio_id, 'Sede-Consultorio', class: "control-label required" %>
    </div>
    <div class="col">
      <%= label_tag 'duracion', 'Duración (en minutos)', class: "control-label required" %>	
    </div>
    <div class="col">
      <%= form.label :concurrencia, 'Concurrencia', class: "control-label required" %> 	
    </div>
  </div>
  <div class="row">
    <div class="col">
  	  <div class="form-group">
  	  	<%= form.grouped_collection_select :cfg_consultorio_id, obtener_sedes, :cfg_consultorios, :nombre_sede, :id, :nom_consultorio, {include_blank: true, prompt: "SELECCIONE LA SEDE-CONSULTORIO"}, {class: "form-control", required: true} %>
  	  </div>
    </div>
    <div class="col">
  	  <div class="form-group">
        <div class="duracion">
          <%= render 'duracion', cfg_especialidad_id: params[:cfg_especialidad_id] %>  	  	
        </div>
  	  </div>
  	</div>
    <div class="col">
  	  <div class="form-group">
  	  	<%= form.text_field :concurrencia, {class: "form-control", required: true, maxlength: 1} %>
  	  </div>
  	</div>  	
  </div>
  <div class="row">
  	<div class="col">
  	  <%= form.label :cfg_horario_id, 'Horario', class: "control-label required" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '<span class="oi oi-task" title="Ver Horarios" aria-hidden="true"></span>'.html_safe, '#exampleModalCenter', 'data-toggle' => 'modal' %>
  	</div>
  	<div class="col">
      <%= label_tag 'fecha_inicial', 'Fecha Inicial', class: "control-label required" %>
  	</div>
  	<div class="col">
      <%= label_tag 'fecha_final', 'Fecha Final', class: "control-label required" %>
  	</div>  	  	
  </div>
  <div class="row">
  	<div class="col">
  	  <div class="form-group">
	      <%= form.collection_select(:cfg_horario_id, obtener_horarios, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL HORARIO DE LA LISTA"}, {id: "cit_turno_cfg_horario_id", class: "form-control", required: true}) %>      
  	  </div>
  	</div>
  	<div class="col">
  	  <div class="form-group">
  	  	<%= text_field_tag 'fecha_inicial', params[:fecha_inicial], {class: "form-control", id: "fecha_inicial", required: true, :data => {:mask=> '99/99/9999'}} %>        
  	  </div>
  	</div>
  	<div class="col">
  	  <div class="form-group">
  	  	<%= text_field_tag 'fecha_final', params[:fecha_final], {class: "form-control", id: "fecha_final", required: true, :data => {:mask=> '99/99/9999'}} %>
  	  </div>
  	</div>  	  	
  </div>  
  <br>  
  <hr>
  <div class="actions text-center">
      <%= form.submit "Crear Turno", class: "btn btn-primary" %>    
      <%= link_to 'Regresar', cit_turnos_path, class: "btn btn-secondary" %>
  </div>

<% end %>