<% horario = get_horarios(horarios)
if !horario.nil? and horario.size > 0 %>
  <table class="table table-bordered table-hover table-striped">
  	<thead>
      <tr>           
	    <th scope="col">Día</th>
	    <th scope="col">Hora Inicio</th>
	    <th scope="col">Hora Final</th>              
      </tr>	
  	</thead>
  	<tbody>
	 <% horario.each do |x| %>
      <tr>    
  	  	<td>
  	  		<%= x.nombredia %>
  	  	</td>
  	  	<td>
  	  		<%= mostrar_hora(x.hora_inicio) %>
  	  	</td>  	  	
  	  	<td>
  	  		<%= mostrar_hora(x.hora_final) %>
  	  	</td>
      </tr>
     <% end %> 
    </tbody> 	
  </table>
<% else %>
  <div class="sin_registros">
    <% if horario.nil? %>
      No hay valor en el combo de horarios. Inténtelo de nuevo
    <% elsif horario.size == 0 %>
      No hay registro para mostrar en este listado      
    <% end %>
  </div>
<% end %>