<% turnos = turnos
if !turnos.nil? and turnos.size > 0 %>
  <table class="table table-bordered table-hover table-striped">
  	<thead>
      <tr>           
	    <th scope="col">Consultorio</th>
	    <th scope="col">Prestador</th>
      <th scope="col">Especialidad</th>
	    <th scope="col">Fecha Turno</th>              
      <th scope="col">Hora Turno</th>
      <th scope="col">Citas Disponibles</th>
      </tr>	
  	</thead>
  	<tbody>
	 <% turnos.each do |x| %>
      <tr>    
  	  	<td>
  	  		<%= x.nom_consultorio %>
  	  	</td>
  	  	<td>
          <%= mostrar_imagen(x.cfg_usuario.cfg_imagen).html_safe %>
  	  		<%= x.nombre_completo %>
  	  	</td>
        <td><%= x.especialidad %></td>
  	  	<td align="center">
  	  		<%= mostrar_fecha(x.fecha) %>
  	  	</td>
        <td align="center">
          <%= mostrar_hora(x.hora_ini) %>
        </td>
        <td align="center"> 
          <% disp = x.concurrencia.to_i - x.cit_citas.count 
            if disp > 0
          %>
            <%= link_to new_cit_turno_cit_cita_path(x), title: "Registrar Cita en este Turno" do %>
              <span class="badge badge-pill badge-success"><%= x.concurrencia.to_i - x.cit_citas.count %></span> 
            <% end %>
          <% else %>
            <%# link_to new_cit_turno_cit_cita_path(x), title: "Registrar Cita en este Turno" do %>
              <span class="badge badge-pill badge-warning">NO HAY TURNO DISPONIBLE<%# x.concurrencia.to_i - x.cit_citas.count %></span> 
            <%# end %>                
          <% end %>
        </td>
      </tr>
     <% end %> 
    </tbody> 	
  </table>
<% else %>
  <div class="sin_registros">
    <% if turnos.nil? %>
      No hay valor en el combo de turnos. Inténtelo de nuevo
    <% elsif turnos.size == 0 %>
      No hay registro para mostrar en este listado      
    <% end %>
  </div>
<% end %>