<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ver Horarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
	    <div class="modal-body">
        <div class="lista">
          <%= render 'lista_horarios', horarios: @cit_turno.cfg_horario_id %>        
        </div>
	    </div>      
      
      <div class="modal-footer">       
      </div>           

    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Datos Cita</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="cita"> 
          <%= render 'datos_cita', event: nil %>
        </div>
      </div>      
      
      <div class="modal-footer">       
      </div>           

    </div>
  </div>
</div>