<%= select_tag "cfg_usuario_id", options_from_collection_for_select(obtener_prestadores(cfg_especialidad_id), "id", "nombre_especialidad", params[:cfg_especialidad_id]), class: "form-control", prompt: "SELECCIONE PRESTADOR", include_blank: true %>