<%= collection_select :cit_turno, :cfg_usuario_id, obtener_prestadores(cfg_especialidad_id), :id, :nombre_especialidad, {include_blank: true, prompt: "SELECCIONE EL ESPECIALISTA DE LA LISTA"}, {id: "cit_turno_cfg_usuario_id", class: "form-control", required: true} %>