<script>
  $(document).ready(
    function(){   
      var especialidad = $("#cfg_especialidad_id")
      $(especialidad).select2()
      var usuario = $("#cit_turno_cfg_usuario_id")
      $(usuario).select2()      
      var tipo_cita = $("#cit_cita_tipo_cita") 
      $("#fecha_inicial").datepicker()
      $("#fecha_final").datepicker()          

      // Cuando cambie de especialidad, llamará a un método en el controlador y de ahí, al javascript
      $(document).on("change","#cfg_especialidad_id",function(){
      	var especialidad = $("#cfg_especialidad_id")      	
        $.ajax({
          url: "/cit_turnos/buscar_usuario",
          type: "POST",
          data: {"cfg_especialidad_id": $(especialidad).val()},
          complete: function(data){
          	var usuario = $("#cit_turno_cfg_usuario_id")
          	$(usuario).select2()    
          }
        })
      })
      // Actualizar lista de horarios de acuerdo al valor seleccionado en el combo  
      $(document).on("change","#cit_turno_cfg_horario_id",function(){
      	var horario = $("#cit_turno_cfg_horario_id")      	
        $.ajax({
          url: "/cit_turnos/buscar_horarios",
          type: "POST",
          data: {"horario_id": $(horario).val()}
        })
      })   
      // Actualizar agenda del prestador de acuerdo al valor seleccionado en el combo  
      $(document).on("change","#cit_turno_cfg_usuario_id",function(){
      	var usuario = $("#cit_turno_cfg_usuario_id")      	
        $.ajax({
          url: "/cit_turnos/buscar_agenda",
          type: "POST",
          data: {"usuario_id": $(usuario).val()}
        })
      })
      // Validar campos previo al llamado en el controlador
      $("form").submit(function(event){
        var mensaje = ''
        var fechaInicial = $("#fecha_inicial").val()
        var fechaFinal = $("#fecha_final").val() 
        var hoy = new Date($.now())    
        
        if(fechaInicial == ''){
          mensaje = 'Fecha Inicial no puede estar en blanco'
        } else if (fechaFinal == ''){
          mensaje = 'Fecha Final no puede estar en blanco'
        } else if (toDate(fechaInicial) < hoy || toDate(fechaFinal) < hoy){
          mensaje = 'Ninguna fecha no debe ser menor al día de hoy'
        } else if (fechaInicial > fechaFinal) {
          mensaje = 'Fecha Inicial no puede ser mayor a la Fecha Final'
        } if (mensaje != ''){
          alert(mensaje)
          return false
        }      
      })
      $(document).on("click",".link_event",function(){  
        $('.modal-content').css("width", "+=500")
        $.ajax({
          url: "/cit_turnos/buscar_evento",
          type: "POST",
          data: {"evento_id": $(this).attr('id')},
          complete: function(data){

          }          
        })
      })
      $(document).on("change","#identificacion",function(){
        var identificacion = $("#identificacion").val()        
        $.ajax({
          url: "/cit_turnos/buscar_paciente",
          type: "POST",
          data: {"identificacion": identificacion}
        })
      })
    }
  )
  function toDate(dateStr) {
    const [day, month, year] = dateStr.split("/")
    return new Date(year, month - 1, day)
  }
</script>
<h2>Generar Turnos</h2>
<div class="actions text-left">
  <%= link_to 'Buscar Turnos por Especialidad / Prestador', search_cit_turnos_path %>
</div>
<%= render 'form' %>
<br>
<%= render 'modal' %>