<script>
  $(document).ready(
  	function(){
      $("#fecha_inicial").datepicker()
      $("#fecha_final").datepicker()
      var cfg_especialidad_id = $("#cfg_especialidad_id")
      $(cfg_especialidad_id).select2()
      $(cfg_especialidad_id).change(function(){
        $.ajax({
          url: "/cit_turnos/buscar_prestador",
          type: "POST",
          data: {"cfg_especialidad_id" : cfg_especialidad_id.val()}
        })        
      })
      $("form").submit(function(event){
        var fechaDesde = $("#fecha_inicial").val()
        var fechaHasta = $("#fecha_final").val()
        mensaje = ''
        if((fechaDesde != '' && fechaHasta == '') || (fechaDesde == '' && fechaHasta != '')){
          mensaje = 'Una de las fechas no puede estar vacía'
        }else if((fechaDesde != '' && fechaHasta != '') && Date.parse(fechaDesde) > Date.parse(fechaHasta)){
          mensaje = 'Fecha inicial no puede ser mayor a la fecha final'
        }
        if(mensaje != ''){
          alert(mensaje)
          return false
        }
      })
  	}
  )
</script>
<h2>Buscar Turno</h2>
<div class="actions text-left">
  <%= link_to 'Registrar Turno para Prestador', cit_turnos_path %>
</div>
<%= form_for(:cit_turno, url: buscar_cit_turnos_path, remote: true) do |f| %>
  <div class="row">
    <div class="col">
      <%= label_tag 'cfg_especialidad_id', 'Especialidad', class: "control-label required" %>
    </div>
    <div class="col">
    	<%= label_tag 'cfg_usuario_id', 'Prestador (Especialidad)', class: "control-label" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
          <%= select_tag "cfg_especialidad_id", options_from_collection_for_select(obtener_especialidades_turno, "id", "descripcion", params[:cfg_especialidad_id]), class: "form-control", required: true, prompt: "SELECCIONE ESPECIALIDAD PARA BUSCAR PRESTADOR", include_blank: true %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <div class="usuario">
        	<%= render 'search_usuario', cfg_especialidad_id: params[:cfg_especialidad_id] %>
        </div>	
      </div>  	
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= label_tag 'fecha_inicial', 'Fecha Inicial', class: "control-label" %>
    </div>
    <div class="col">
    	<%= label_tag 'fecha_final', 'Fecha Final', class: "control-label" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= text_field_tag 'fecha_inicial', params[:fecha_inicial], {class: "form-control", id: "fecha_inicial", :data => {:mask=> '99/99/9999'}} %>    
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= text_field_tag 'fecha_final', params[:fecha_final], {class: "form-control", id: "fecha_final", :data => {:mask=> '99/99/9999'}} %>	
      </div>  	
    </div>
  </div>
  <div class="row">
    <div class="col">           
      <%= label_tag 'hora_inicio', 'Hora Inicial', class: "control-label" %>          
    </div>
    <div class="col">           
      <%= label_tag 'hora_final', 'Hora Final', class: "control-label" %>         
    </div>                  
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">            
        <%= time_field_tag 'hora_inicio', params[:hora_inicio], {class: "form-control"} %>
      </div>
    </div>
    <div class="col">           
      <div class="form-group">
        <%= time_field_tag 'hora_final', params[:hora_final], {class: "form-control"} %>
      </div>
    </div>   
  </div>
  <div class="actions text-center">
      <%= f.submit "Buscar", class: "btn btn-primary" %>    
      <%# link_to 'Regresar', cit_turnos_path, class: "btn btn-secondary" %>
  </div>  
<% end %>
<br>
<div class="lista">
  <%= render 'lista_turnos', turnos: @cit_turnos %>
</div>