<%# form_with(model: sede, local: true) do |form| %>
<%# form_for @sede do |f| %>
<%= form_for @sede, url: {action: "create"} do |form| %>
  <% if @sede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sede.errors.count, "error") %> prohibited this sede from being saved:</h2>

      <ul>
      <% sede.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo_sede %>
    <%= form.text_field :codigo_sede, id: :sede_codigo_sede %>
  </div>

  <div class="field">
    <%= form.label :nombre_sede %>
    <%= form.text_field :nombre_sede, id: :sede_nombre_sede %>
  </div>

  <div class="field">
    <%= form.label :departamento %>
    <%= form.number_field :departamento, id: :sede_departamento %>
  </div>

  <div class="field">
    <%= form.label :municipio %>
    <%= form.number_field :municipio, id: :sede_municipio %>
  </div>

  <div class="field">
    <%= form.label :encargado %>
    <%= form.text_field :encargado, id: :sede_encargado %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :sede_direccion %>
  </div>

  <div class="field">
    <%= form.label :telefono1 %>
    <%= form.text_field :telefono1, id: :sede_telefono1 %>
  </div>

  <div class="field">
    <%= form.label :telefono2 %>
    <%= form.text_field :telefono2, id: :sede_telefono2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
