<p id="notice"><%= notice %></p>

<h1>Sedes</h1>

<table>
  <thead>
    <tr>
      <th>Codigo sede</th>
      <th>Nombre sede</th>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Encargado</th>
      <th>Direccion</th>
      <th>Telefono1</th>
      <th>Telefono2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sedes.each do |sede| %>
      <tr>
        <td><%= sede.codigo_sede %></td>
        <td><%= sede.nombre_sede %></td>
        <td><%= sede.departamento %></td>
        <td><%= sede.municipio %></td>
        <td><%= sede.encargado %></td>
        <td><%= sede.direccion %></td>
        <td><%= sede.telefono1 %></td>
        <td><%= sede.telefono2 %></td>
        <td><%= link_to 'Show', sede_path(sede) %></td>
        <td><%= link_to 'Edit', edit_sede_path(sede) %></td>
        <td><%= link_to 'Destroy', sede_path(sede), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sede', new_sede_path %>
