<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo sede:</strong>
  <%= @sede.codigo_sede %>
</p>

<p>
  <strong>Nombre sede:</strong>
  <%= @sede.nombre_sede %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @sede.departamento %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @sede.municipio %>
</p>

<p>
  <strong>Encargado:</strong>
  <%= @sede.encargado %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @sede.direccion %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @sede.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @sede.telefono2 %>
</p>

<%= link_to 'Edit', edit_sede_path(@sede) %> |
<%= link_to 'Back', sedes_path %>
