<h2>Sede</h2>
<div class="row">
  <div class="col titulos-campos">     
    Código        
  </div>
  <div class="col titulos-campos">     
    Nombre
  </div>
  <div class="col titulos-campos">     
    Departamento-Municipio       
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= cfg_sede.codigo_sede %>&nbsp;
  </div>
  <div class="col"> 
    <%= cfg_sede.nombre_sede %>&nbsp;
  </div>  
  <div class="col">  
    <%= obtener_departamento_municipio(cfg_sede.cfg_municipio_id) %>&nbsp;
  </div>
</div>   
