<script>
  $(document).ready(
    function(){       
      $("#cfg_consultorio_cod_especialidad").select2();
    }
  );
</script>
<%= form_for([@cfg_empresa, @cfg_sede, @cfg_consultorio]) do |form| %>

  <%= render 'general/errores', modelos: [@cfg_consultorio] %>

 <div class="row">
  <div class="col">     
    <%= form.label :cod_consultorio, 'Código', class: "control-label required" %>        
  </div>
  <div class="col">     
    <%= form.label :nom_consultorio, 'Nombre', class: "control-label required" %> 
  </div>
</div> 
<div class="row">
    <div class="col">
      <div class="form-group">                
        <%= form.text_field :cod_consultorio, {id: :cfg_consultorio_cod_empresa, class: "form-control", required: true, style: "text-transform: uppercase", maxlength: 5 , size: 20, placeholder: "Ingrese el código" }%>
      </div>
    </div>
    <div class="col">
      <div class="form-group">        
        <%= form.text_field :nom_consultorio, {id: :cfg_consultorio_nom_consultorio, class: "form-control", required: true, style: "text-transform: uppercase", maxlength: 60 , size: 40, placeholder: "Ingrese el nombre" } %>
      </div>
    </div>   
</div>

<div class="row">
  <div class="col">     
    <%= form.label :piso_consultorio, 'Piso', class: "control-label required" %>        
  </div>
  <div class="col">     
    <%= form.label :cod_especialidad, 'Especialidad', class: "control-label required" %>     
  </div>
</div> 
<div class="row">
    <div class="col">
      <div class="form-group">                
        <%= form.text_field :piso_consultorio, {id: :cfg_consultorio_piso_consultorio, class: "form-control", placeholder: "INGRESE EL PISO", required: true, maxlength: 5 , size: 20, min:0, max:10, :data => {:mask=> '999'} }%>

      </div>
    </div>
    <div class="col">
      <div class="form-group">        
          <%# form.collection_select(:cod_especialidad, obtener_especialidades, :id, :descripcion, {include_blank: true, required: true}, {"style" => "width: 200px"} ) %>
          <%# form.collection_select(:cod_especialidad, obtener_especialidades, :id, :descripcion, {:prompt => 'Choose a category'}, {:required => true}) %>
          <%= form.collection_select(:cod_especialidad, obtener_especialidades, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE LA ESPECIALIDAD"}, {id: "cfg_consultorio_cod_especialidad",class: "form-control"}) %>
      </div>
    </div>   
</div>  
<br/>
<div class="row">  
  <div class="col">     
    <%= form.check_box :is_consultorio_urgencia %>
    <%= form.label :is_consultorio_urgencia, '¿Es urgencia?' %>  
  </div>
</div> 

<br/>
<hr>
<div class="actions text-center">
    <%= form.submit " Guardar ", class: "btn btn-primary" %>    
    <%# link_to 'Regresar', cfg_empresa_cfg_sede_cfg_consultorios_path(@cfg_empresa, @cfg_sede), class: "btn btn-primary" %>
    <a class="btn btn-secondary" href="<%=params[:regresar]%>">Regresar</a>
</div>

<% end %>