<!-- LISTA DE CONSULTORIOS -->
<% cfg_consultorios = lista_todos_consultorios_por_sede(@cfg_empresa, @cfg_sede) %>
<% if !cfg_consultorios.nil? and cfg_consultorios.size > 0 %>
    <table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
      <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Piso</th>
            <th>Especialidad</th>
            <th scope="col">¿Activo?</th>  
            <th scope="col" colspan="3">Operaciones</th>
          </tr>
      </thead>
      <% cfg_consultorios.each do |cfg_consultorio| %>
          <tr>
            <td><%= cfg_consultorio.cod_consultorio %></td>
            <td><%= cfg_consultorio.nom_consultorio %></td>
            <td><%= cfg_consultorio.piso_consultorio %></td>
            <td>
              <%# obtener_descripcion_cfg_clasificaciones(cfg_consultorio.cod_especialidad) %>
              <%=  cfg_consultorio.descripcion_especialidad %>    
            </td>
            <td><%= cfg_consultorio.esta_activo?%></td>
            
            <td align="center">           
              <%= link_to(cfg_empresa_cfg_sede_cfg_consultorio_path(@cfg_empresa,@cfg_sede,cfg_consultorio) ) do %>           
                <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
              <% end %> 
            </td>
            <td align="center">           
              <%= link_to(edit_cfg_empresa_cfg_sede_cfg_consultorio_path(@cfg_empresa,@cfg_sede, cfg_consultorio)) do %>
                  <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>  
              <% end %>
            </td>
            <td align="center">
              <%= link_to(estatus_consultorio_path(@cfg_empresa, @cfg_sede, cfg_consultorio, devolver_valor_activo(cfg_consultorio.activo)), method: :post,data: { confirm: '¿Está seguro que desea activar/inactivar el consultorio?' }) do %>         
                  <%= mostrar_operacion_activar(cfg_consultorio.activo).html_safe  %>
              <% end %> 
            </td> 
          </tr>
      <% end %>
    </table>
<% else %>
  <div class="sin_registros"> No existen consultorios para la sede seleccionada </div>  
<% end %>