<!-- INFORMACION DE LA EMPRESA SELECCIONADA -->
<%= render 'cfg_sedes/datos_empresa', cfg_empresa: @cfg_empresa %>
<!-- INFORMACION DE LA SEDE SELECCIONADA -->
<%= render 'datos_sede', cfg_sede: @cfg_sede %>
<br/>
<h2>Consultorios</h2>
<div class="actions text-left">
    <%# link_to 'Crear consultorio', new_cfg_empresa_cfg_sede_cfg_consultorio_path(params[:cfg_empresa_id],params[:cfg_sede_id]) %>
    <a href="/cfg_empresas/<%=@cfg_empresa.id%>/cfg_sedes/<%=@cfg_sede.id%>/cfg_consultorios/new?regresar=<%=request.fullpath%>">Consultorio</a>
</div>

<!-- LISTA DE LOS CONSULTORIOS -->
<%= render 'lista_consultorios', cfg_empresa: @cfg_empresa, cfg_sede: @cfg_sede %>
<br/>
<hr/>
<div class="actions text-center">    
    <%= link_to 'Regresar', cfg_empresa_cfg_sedes_path, class: "btn btn-primary" %>
</div>


