<!-- INFORMACION DE LA EMPRESA SELECCIONADA -->
<%= render 'cfg_sedes/datos_empresa', cfg_empresa: @cfg_empresa %>
<!-- INFORMACION DE LA SEDE SELECCIONADA -->
<%= render 'datos_sede', cfg_sede: @cfg_sede %>
<br/>
<h2>Consultorio</h2>
<br/>
<%= render 'form' %>