<!-- INFORMACION DE LA EMPRESA SELECCIONADA -->
<%= render 'cfg_sedes/datos_empresa', cfg_empresa: @cfg_empresa %>
<!-- INFORMACION DE LA SEDE SELECCIONADA -->
<%= render 'datos_sede', cfg_sede: @cfg_sede %>
<br/>
<h1>Consultar Consultorio</h1>
<br/>

<div class="row">
  <div class="col titulos-campos">     
    Código         
  </div>
  <div class="col titulos-campos">     
    Nombre
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_consultorio.cod_consultorio %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_consultorio.nom_consultorio %>&nbsp;
  </div>  
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Piso         
  </div>
  <div class="col titulos-campos">     
    Especialidad
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_consultorio.piso_consultorio %>&nbsp;
  </div>
  <div class="col"> 
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_consultorio.cod_especialidad) %>&nbsp;
  </div>  
</div>  

<div class="row">
  <div class="col titulos-campos">     
    ¿Es de urgencia?         
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_consultorio.is_consultorio_urgencia == false ?'No':'Si'%>
  </div>
</div>  

<br>
<hr/>
<div class="actions text-center">
    <%= link_to 'Editar', edit_cfg_empresa_cfg_sede_cfg_consultorio_path(@cfg_empresa,@cfg_sede, @cfg_consultorio), class: "btn btn-primary" %>  
    <%= link_to 'Regresar', cfg_empresa_cfg_sede_cfg_consultorios_path(@cfg_empresa,@cfg_sede), class: "btn btn-primary" %>
</div>
