<p>	
	<%= flash[:tipo_error] %>
	<br/>
	<%= flash[:mensaje] %>	
</p>

<br>
<hr/>
<div class="actions text-center">    
    <%= link_to 'Regresar', bienvenida_index_path, class: "btn btn-primary" %>
</div>