<div class="simple-calendar">
  <div class="calendar-heading"><h5>
    <span class="previous"><%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view, remote: true, title: 'Ir al mes anterior' %></span>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month].upcase %> <%= start_date.year %></span>
    <span class="next"><%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view, remote: true, title: 'Ir al mes siguiente' %></span></h5>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday].upcase %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
