<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <main>
    <center>      
      <div >
        <!--<img src="<%= asset_url('open_medical.png')%>"></img><BR>-->
        <!--<h5>OPEN MEDICAL </h5>-->
      </div>    


      <!--<div class="container_login">-->




        <div class="caja-login" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <!--z-depth-1 grey lighten-4 row -->
          <div class="titulo_empresa"> OPEN MEDICAL </div>
          <BR>
          <!--<form class="col" method="post">-->
            <!--<div class='row'>-->
              <!--
              <div class='col input-field'>                
                <%# f.label :username, 'Usuario', class: "control-label required" %> <br />
                <%# f.text_field :username, autofocus: true, autocomplete: "username", required: true%>   
              </div>
            -->
              <div class="form-component input--medium">
                <div class="input--with-icon">
                  <i class="fa fa-user"></i>
                  <!--<input type="text" placeholder="Username">-->
                  <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Usuario" , required: true %> 
                </div>
              </div>
            <!--</div>-->
            <!--<div class='row'>-->
              <!--
              <div class='input-field col'>
                <%= f.label :password, 'Clave', class: "control-label required" %> <br />
                <%= f.password_field :password, autocomplete: "off", required: true %>
              </div>
              -->
              <br/>
              <div class="form-component input--medium">
                <div class="input--with-icon">
                  <i class="fa fa-key"></i>
                  <!--<input type="password" placeholder="Password">-->
                  <%= f.password_field :password, autocomplete: "off", placeholder: "Clave", required: true %>
                </div>
              </div>
              <!--<label style='float: right;'>
                <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
              </label>-->
            <!--</div>-->
            
            <!--<i class="fas fa-camera-retro"></i>
            <i class="fas fa-flag"></i>-->
            <!-- MENSAJES DE EXITO/ERROR -->
            <div>          
              <%= render 'layouts/mensajes_login' %>
            </div>
            <br/>
            <center>
              <div class='row'>                  
                <button type='submit' name='btn_login' class='boton'>Ingresar</button>                    
              </div>
              <br/>
              <div class='row'>                  
                <center>Si olvidó su clave haga click &nbsp; <a href='#'><b> aquí</b></a></center>
              </div>
            </center>
            <br/><br/>
          <!--</form>-->
        </div>
      <!--</div>-->
    </center>
  </main>  

<% end %>