<% if !cfg_horarios.nil? and cfg_horarios.size > 0 %>
  <table class="table table-bordered table-hover table-striped">
  	<thead>
  		<tr>
        <th scope="col">Nombre Horario</th>
        <th>
          <table> 
            <tr>           
        			<th scope="col">Día</th>
        			<th scope="col">Hora Inicio</th>
        			<th scope="col">Hora Final</th>
              <th scope="col">Acción</th>
            </tr>
          </table>
        </th>
        <th scope="col">Operaciones</th>
  		</tr>  		
  	</thead>
  	<% cfg_horarios.each do |c| %>
  	  <tr>
        <td>
          <%= c.descripcion %>
        </td>  
        <td> 
          <table> 
            <% c.cfg_items_horarios.each do |x| %>
              <tr>    
          	  	<td>
          	  		<%= x.nombredia %>
          	  	</td>
          	  	<td>
          	  		<%= x.hora_inicio %>
          	  	</td>  	  	
          	  	<td>
          	  		<%= x.hora_final %>
          	  	</td> 
                <td>
                  <%= link_to(cfg_items_horario_path(x), method: :delete, data: { confirm: '¿Está seguro(a) de eliminar esta entrada de horario?' }, remote: true) do %>
                    <span class="oi oi-x" title="Eliminar" aria-hidden="true"></span>
                  <% end %>
                </td> 
              </tr>
            <% end %>
          </table>	  
        </td>
        <td align="center">           
          <%= link_to(c) do %>           
            <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
          <% end %> 
        </td>	
  	  </tr>
  	<% end %>
  </table>
<% else %>
  <div class="sin_registros">
    <% if cfg_horarios.nil? %>
      No hay valor en los campos de búsqueda. Inténtelo de nuevo
    <% elsif cfg_horarios.size == 0 %>
      No hay registro para mostrar en este listado      
    <% end %>
  </div>
<% end %>