<script>
  $(document).ready(
    function(){      
      var wrapper = $('.tabla-horarios')
      var addButton = $('#buscar')
      var horarios = $('.horarios')
     
      // Para filtrar combos de horarios en el index
      $('#horario').change(function(){
        var horario = $('#horario').val()
        $.ajax({
          url: "/cfg_horarios/listar_horarios",
          type: "POST",
          data: {"horario": horario}
        });
      });

      // Enviar datos para su validación
      $("form").submit(function(event){
        var mensaje = ''
        var descripcion = $('#cfg_horario_descripcion').val()
        var horaInicio = $('#cfg_items_horario_hora_inicio').val()
        var horaFinal = $('#cfg_items_horario_hora_final').val()
        var dias = $("input[name='dia[]']:checked")
        var cfg_horario = $('#cfg_horario_id').val()
        
        // Cuando el objeto de horario no existe
        if (cfg_horario == ''){
          if (descripcion == ''){
            mensaje = 'Descripción de Horario no puede estar en blanco'
          } else if (horaInicio == '') {
            mensaje = 'Hora de Inicio no puede estar en blanco'
          } else if (horaFinal == '') {
            mensaje = 'Hora de Finalización no puede estar en blanco'
          } else if (dias.length == 0){
            mensaje = 'Debe seleccionar al menos un valor del dato Días Laborales'
          }
        } else {
          if (descripcion == ''){
            mensaje = 'Descripción de Horario no puede estar en blanco'
          } else if (dias.length > 0 && horaInicio == ''){
            mensaje = 'Hora de Inicio no puede estar en blanco'
          } else if (dias.length > 0 && horaFinal == ''){
            mensaje = 'Hora de Finalización no puede estar en blanco'
          }
        } if (horaInicio != '' && horaFinal != '' && horaInicio > horaFinal){
          mensaje = 'Hora de Inicio no puede ser mayor a la hora de Finalización'
        }
        if (mensaje != '') {
          alert(mensaje)
          return false
        }        
      })

      $(".link_horarios").click(function(){
      	$.ajax({
      	  url: "cfg_horarios/editar_horarios",
      	  type: "POST",
      	  data: {"id": $(this).attr('id')},
      	  complete: function(data){
      	  	$('.modal-content').css("width", "+=800")
      	  }
      	})
      })      

    }
  );
</script>

<div class="container">
  <%= render 'layouts/mensajes' %> 
</div>
<%= form_for(@cfg_horario, remote: true) do |form| %>
  <%= a = []
      a << @cfg_items_horario if !@cfg_items_horario.nil?
      a << @cfg_horario if !@cfg_horario.nil?
  render 'general/errores', modelos: a %>  
	  <div class="row">
	  	<div class="col">
	  	  <%= label :cfg_items_horario, :nombredia, 'Días Laborales', class: "control-label required" %>        
	  	</div>	      	
	  </div>
	  <div class="row">
	  	<div class="col">
	  	  <div class="form-group">	  	  	
	  	    <% CfgItemsHorario::DIAS.each do |day, number| %>
	  	      <label class="switch">
			    <%= check_box_tag "dia[]", number, false, {"data-toggle" => "toggle", "data-style" => "ios"} %>&nbsp;<span class="slider round"></span>			    
			  </label>&nbsp;<%= t('date.abbr_day_names')[number].upcase %>			  
			<% end %>			
	  	  </div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col">
	  	  <%= form.label :descripcion, 'Descripción Horario', class: "control-label required" %>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col">
	  	  <div class="form-group">
	  	  	<%= form.text_field :descripcion, {id: :cfg_horario_descripcion, class: "form-control", placeholder: "NOMBRE HORARIO", style: "text-transform: uppercase"} %>
	  	  </div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col">	      		
	  	  <%= label :cfg_items_horario, :hora_inicio, 'Hora Inicial', class: "control-label required" %>	      	
	  	</div>
	  	<div class="col">	      		
	  	  <%= label :cfg_items_horario, :hora_final, 'Hora Final', class: "control-label required" %>	      	
	  	</div>
	  	<div class="col">	      		
	  	  &nbsp;
	  	</div>	      		      	
	  </div>
	  <div class="row">
	  	<div class="col">
	  	  <div class="form-group">	      		
	  	    <%= time_field :cfg_items_horario, :hora_inicio, {id: :cfg_items_horario_hora_inicio, class: "form-control"} %>
	  	  </div>
	  	</div>
	  	<div class="col">	      		
	  	  <div class="form-group">
	  	    <%= time_field :cfg_items_horario, :hora_final, {id: :cfg_items_horario_hora_final, class: "form-control"} %>
	  	  </div>
	  	</div>	 
	  	<div class="col">	      		
	  	  <div class="form-group">
	  	    &nbsp;
	  	  </div>
	  	</div>		      	     	
	  </div>
	  <div class="actions text-center">
	    <%= form.submit "Agregar", class: "btn btn-primary", id: "enviar" %>
	    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 	
	  </div>     
  <% end %> 
<br>
<% if !horarios.nil? and horarios.size > 0 %>
	<table class="table table-bordered table-hover table-striped">
	  <thead>
	    <tr>	      
	  	  <th>Día</th>
	  	  <th>Hora Inicial</th>
	  	  <th>Hora Final</th>
	  	  <th>Operación</th>
	    </tr>
	  </thead>
	  <% horarios.each do |x| %>
	    <tbody class="tabla-horarios">
	      <tr>
	  	    <td><%= x.nombredia %></td>
	  	    <td><%= mostrar_hora(x.hora_inicio) %></td>
	  	    <td><%= mostrar_hora(x.hora_final) %></td>
         	<td align="center">
              <%= link_to(cfg_items_horario_path(x), method: :delete, data: { confirm: '¿Está seguro(a) de eliminar esta entrada de horario?' }, remote: true) do %>
                <span class="oi oi-x" title="Eliminar" aria-hidden="true"></span>
              <% end %>
            </td> 	  	    
	      </tr>	      
	    </tbody>
	  <% end %>
	</table>
<% else %>
  <div class="sin_registros">
    <% if horarios.nil? %>
      No hay registro para mostrar en este listado
    <% elsif horarios.size == 0 %>
      No hay registro para mostrar en este listado      
    <% end %>
  </div>	
<% end %>