<h2>Configurar Horario</h2>
<br>
<div class="actions text-left">
  <%= link_to 'Nuevo Horario', new_cfg_horario_path %>
</div>
<br>
<% if @cfg_horarios.size > 0 %>
  <table class="table table-bordered table-hover table-striped">
  	<thead>
  	  <tr>
  	  	<th scope="col">Nombre Horario</th>
  	  	<th scope="col" colspan="2">Operaciones</th>
  	  </tr>
  	</thead>
  	<% @cfg_horarios.each do |x| %>
  	  <tbody>
  	  	<tr>
  	  	  <td>
  	  	  	<%= x.descripcion %>
  	  	  </td>
  	  	  <td align="center">
			<%= link_to '<span class="oi oi-task" title="Ver Horarios" aria-hidden="true"></span>'.html_safe, '#exampleModalCenter', class: "link_horarios", id: x.id, title: "Vincular ítems a este Horario" %>  	
  	  	  </td>
          <td align="center">
            <%= link_to(cfg_horario_path(x), method: :delete, data: { confirm: '¿Está seguro(a) de eliminar esta entrada de horario?' }) do %>
              <span class="oi oi-x" title="Eliminar" aria-hidden="true"></span>
            <% end %>
          </td>  	  	  
  	  	</tr>
  	  </tbody>
  	<% end %>
  </table>
<% end %>
<%= render 'modal' %>