<h2>Configurar Horario</h2>
<br>
<div class="actions text-left">
  <%= link_to 'Datos Horario', "#exampleModalCenter", "data-toggle" => "modal", title: 'Nuevo Horario' %>
</div>
<br>
<div id="lista">
  <%= render 'cfg_horarios/lista_horarios', cfg_horarios: @cfg_horarios %>	
</div>
<%= render 'modal' %>