<h2>Datos Horario</h2>
<br>
<%= form_for(@cfg_horario) do |form| %>
  <%= render 'general/errores', modelos: [@cfg_horario] %>
  <div class="row">
  	<div class="col">
  	  <%= form.label :descripcion, 'Descripción', class: "control-label required" %>
  	</div>
  	<div class="col">
      <%= form.label :codigo, 'Código', class: "control-label" %>
  	</div>
  </div>
  <div class="row">
  	<div class="col">
  	  <div class="form-group">
    	<%= form.text_field :descripcion, id: :cfg_horario_descripcion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese descripción del horario", required: true, maxlength: 150 %>  	  	
  	  </div>
  	</div>
  	<div class="col">
  	  <div class="form-group">
    	<%= form.text_field :codigo, id: :cfg_horario_codigo, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese código del horario",maxlength: 5 %>  	  	
  	  </div>
  	</div>  	
  </div>  
  <br>
  <hr>
  <div class="actions text-center">
    <%= form.submit "Agregar Horario", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_horarios_path, class: "btn btn-secondary" %>
  </div>  
<% end %>