<%= form_with(model: cfg_perfiles_usuario, local: true) do |form| %>
  
  <%= a = []
    a << @cfg_perfiles_usuario
    render 'general/errores', modelos: a %>

  <div class="row">
    <div class="col">     
      <%= form.label :nombre_perfil, 'Nombre', class: "control-label required" %>        
    </div>
    <div class="col">     
      <%= form.label :activo, '¿Activo?', class: "control-label required" %> 
    </div>
    <div class="col">         
      <%= form.label :asociado_empresa, '¿Asociado a Empresa?', class: "control-label required" %>        
    </div>
  </div> 
  <div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= form.text_field :nombre_perfil, {id: :cfg_perfiles_usuario_nombre_perfil, class: "form-control", style: "text-transform: uppercase",  required: true, placeholder: "Ingrese el nombre del perfil", maxlength: 50,  
          readonly: @readonly } %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">  
        <%# form.check_box :activo, id: :cfg_perfiles_usuario_activo %>
        <%= select(:cfg_perfiles_usuario, :activo, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS ACTIVO"  }, {id: "cfg_perfiles_usuario_activo", class: "form-control", required: true, readonly: @readonly }) %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">  
        <%# form.check_box :asociado_empresa, id: :cfg_perfiles_usuario_asociado_empresa %>
        <%= select(:cfg_perfiles_usuario, :asociado_empresa, obtener_estatus_si_no, { prompt: "SELECCIONE EL ESTATUS ASOCIADO A EMPRESA"  }, {id: "cfg_perfiles_usuario_asociado_empresa", class: "form-control", required: true, readonly: @readonly }) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">     
      <%= form.label :observaciones, 'Observaciones', class: "control-label" %>        
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group"> 
         <%= form.text_area :observaciones, {id: :cfg_perfiles_usuario_observaciones, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese las observaciones", maxlength: 400, readonly: @readonly } %>
      </div>
    </div>    
  </div>  
  <!-- BOTONES -->
  <br/>
  <hr>
  <div class="actions text-center">
    <% if action_name == "show" %>
       SI
    <% end %>
    <%= form.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_perfiles_usuarios_path, class: "btn btn-primary" %>
  </div>
<% end %>
