<% if !@cfg_perfiles_usuarios.nil? and @cfg_perfiles_usuarios.size > 0 %>
  <table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
  	<thead>
	    <tr>
	      <th>Nombre</th>
	      <th>¿Activo?</th>
	      <th>¿Asociado empresa?</th>
	      <th colspan="4">Operaciones</th>
	    </tr>
	</thead>
	<tbody>
	    <% @cfg_perfiles_usuarios.each do |cfg_perfil_usuario| %>
	      <tr>
	        <td><%= cfg_perfil_usuario.nombre_perfil %></td>
	        <td><%= cfg_perfil_usuario.estatus?(cfg_perfil_usuario.activo) %></td>
	        <td><%= cfg_perfil_usuario.estatus?(cfg_perfil_usuario.asociado_empresa) %></td>
	        <td align="center">	        	
	        	<%= link_to(cfg_perfil_usuario) do %>  					
  					<span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
				<% end %>	
	        </td>
	        <td align="center">	        	
	        	<%= link_to(edit_cfg_perfiles_usuario_path(cfg_perfil_usuario)) do %>
  					<span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>	
				<% end %>
	        </td>
	        <td align="center">
	        	<%= link_to(estatus_perfil_path(cfg_perfil_usuario, devolver_valor_activo(cfg_perfil_usuario.activo)), method: :post,data: { confirm: '¿Está seguro que desea activar/inactivar el perfil de usuario?' }) do %>	        	
	        	     <%= mostrar_operacion_activar(cfg_perfil_usuario.activo).html_safe  %>
	        	<% end %>	
	        </td>
	        <td align="center">
				<%= link_to(asociar_opciones_menu_cfg_perfiles_usuario_path(cfg_perfil_usuario)) do %>				  
				  <span class="oi oi-list" title="Asociar Opciones de Menú" aria-hidden="true"></span>
				<% end %>
	        </td>
	      </tr>
	    <% end %>
	</tbody>
  </table>	
<% else %>
  <div class="sin_registros"> No existen perfiles registrados </div> 
<% end %>  