<script>
  $(document).ready(
    function(){    
      
      //$("#ckeck_operaciones").change(function() {
      $(document).on('change', '#ckeck_operaciones', function() { 
        //alert("ckeck_operaciones change...");
        //alert( $(this).val() );
        //var marcado = $(this).is(':checked'); 
        var marcado = "0"
        if ($(this).is(':checked')) {
          marcado = "1";
        }
        //alert( marcado );
        var opcion_menu_id = $("#opcion_id").val() ;
        var perfil_id = $("#perfil_id").val() ;
        $.ajax({
          url: "/cfg_perfiles_usuarios/guardar_operacion_opcion",
          type: "POST",
          data: { operacion_id: $(this).val(),
                  marcado: marcado,
                  opcion_menu_id: opcion_menu_id,
                  perfil_id: perfil_id,
                },
          success: function(resp){

          }
        });
      });

      $(document).on('change', '#ckeck_all_operaciones', function() {           
          // Obtener los valores del perfil, opcion_menu y 
          // si esta marcado o no el seleccionar todo
          var marcado = "0"
          if ($(this).is(':checked')) {
            marcado = "1";
          }
          var opcion_menu_id = $("#opcion_id").val() ;
          var perfil_id = $("#perfil_id").val() ;          
          // Colocar en un arreglo los ids de las operaciones
          var ids = [];
          $( "input[name*='ckeck_operaciones']").each(function(){
            ids.push($(this).val());
          });
          // Marcar / desmarcar los checkbox
          var checkboxes = $(this).closest('form').find(':checkbox');
          checkboxes.prop('checked', $(this).is(':checked'));
          // Llamado al ajax para actualizar  
          $.ajax({
          url: "/cfg_perfiles_usuarios/guardar_todas_operacion_opcion",
          type: "POST",
          data: { operaciones_id: ids,
                  marcado: marcado,
                  opcion_menu_id: opcion_menu_id,
                  perfil_id: perfil_id,
                },
          success: function(resp){
          }
        });  
      });

    }    
  ); //fin del document.ready

</script>
<div id="modal_opcion" class="modal fade"><!-- #{opcion_id}-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Operaciones
        </h5>
      </div>
      <%= form_for :cfg_perfiles_usuario, url: guardar_asociar_opciones_menu_cfg_perfiles_usuario_path,  
          remote: true, :html => {:method => "post", :id => "form" } do |f| %>
        <!-- modal-body -->
        <div class="modal-body">
            <div class="clase_modal">
            <%= render 'operaciones', :locals => {:opcion_id => @opcion_id, :nombre_perfil => @nombre_perfil, :perfil_id => @perfil_id }%>
          </div>
        </div><!-- fin modal-body-->
        <!-- BOTONES -->
        <div class="modal-footer">   
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
        </div>

      <% end %>
    </div>
  </div>
</div>
