
<div id="modal_buscar_perfiles" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar perfiles de usuarios</h5>
      </div>
      <%= form_for :cfg_perfiles_usuario, url: buscar_cfg_perfiles_usuarios_path,  
          remote: true, :html => {:method => "get", :id => "form" } do |f| %>
        <!-- modal-body -->
        <div class="modal-body">
            <!-- Búsqueda por nombre -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'nombre', 'Nombre', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">
                  <div class="form-group">    
                  <%= text_field_tag 'nombre', nil, class: "form-control", placeholder: "INGRESE EL NOMBRE ", maxlength: 15, style: "text-transform: uppercase" %>
                </div>
              </div>
            </div>   
            <!-- Búsqueda por activo / asociado a emoresa -->
            <div class="row">
              <div class="col">
                  <%= label_tag 'activo', '¿Activo?', class: "control-label" %>    
              </div>
              <div class="col">
                  <%= label_tag 'asociado_empresa', 'Asociado a Empresa?', class: "control-label" %>    
              </div>
            </div>  
            <div class="row">
              <div class="col">
                <div class="form-group"> 
                  <% estatus = obtener_estatus_si_no %>
                  <%= select_tag 'activo', options_for_select(estatus.collect{ |u| [u[0], u[1]] }), {class: "form-control", :include_blank => true} %>
                </div>    
              </div>
              <div class="col">
                <div class="form-group"> 
                  <%# estatus = obtener_estatus_si_no %>
                  <%= select_tag 'asociado_empresa', options_for_select(estatus.collect{ |u| [u[0], u[1]] }), {class: "form-control", :include_blank => true} %>
                </div>    
              </div>
            </div> 


            <!-- --> 
        </div><!-- fin modal-body-->
        <!-- BOTONES -->
        <div class="modal-footer">          
          <%= f.submit "Buscar", class: "btn btn-primary", id: "enviar" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
        </div>

      <% end %>
    </div>
  </div>
</div>
