
<b>Perfil de Usuario: </b> <%= @perfil_id%> - <%= @nombre_perfil %> <br/>		
<b>Opción de menú:    </b> <%= @opcion_id  %> - <%= @nombre_opcion%> <br/>
<%= hidden_field_tag "opcion_id", @opcion_id %>
<%= hidden_field_tag "perfil_id", @perfil_id %>
<hr>
<!-- -->
<% 
   if !@perfil_id.blank?
   @operaciones_marcadas_perfil = Array.new
   operaciones_marcadas_perfil = CfgOperacionesPerfil.select("cfg_operaciones_opciones_menu_id")
      .where("cfg_perfiles_usuario_id = ?", @perfil_id)
    if !operaciones_marcadas_perfil.nil?  and operaciones_marcadas_perfil.size > 0
      operaciones_marcadas_perfil.each do |operacion|
        @operaciones_marcadas_perfil << operacion.cfg_operaciones_opciones_menu_id
      end
    end
    end
%>
<!-- Operaciones según la opcion seleccionada-->
<b>Permiso a las Operaciones: </b><br/>
<div style="text-align: right;">
  <%= check_box_tag("ckeck_all_operaciones" )%> 
  Seleccionar todo
</div>
<% operaciones = operaciones_segun_opcion(@opcion_id) %>
<% if !operaciones.nil? and operaciones.size > 0 %>
	<% operaciones.each do |o| %>
		<div>
		<%# check_box_tag :ckeck_operaciones, o.id, "", :onchange => "js:actualizar_operacion(this)"  %> &nbsp;

		<%= check_box_tag("ckeck_operaciones", o.id, @operaciones_marcadas_perfil.include?(o.id)    )%>
		<%# check_box_tag("opciones[]",opcion_nivel_2.id, @opciones_marcadas_perfil.include?(opcion_nivel_2.id)  ) %>
		<!-- + "&marcado=" + this.checked + "&opcion_id=" + @opcion_id-->
		<%= o.operacion %> &nbsp;&nbsp;&nbsp;
		</div>
    <% end %>
<% end %>