$(".clase_modal").html("<%= j render(:partial => 'operaciones.html.erb', :locals => {:opcion_id => @opcion_id, :nombre_opcion => @nombre_opcion, :nombre_perfil => @nombre_perfil, :perfil_id => @perfil_id } ) %>");