<script>
  $(document).ready(
    function(){    
      // Evento 
      $("input[type=checkbox]").change(function() {
        var marcado = "0"
        if ($(this).is(':checked')) {
          marcado = "1";
        }
        $.ajax({
          url: "/cfg_perfiles_usuarios/<%=@cfg_perfiles_usuario.id%>/guardar_asociar_opciones_menu",
          type: "POST",
          data: { opcion_id: $(this).val(),
                  marcado: marcado
                },
          success: function(resp){

          }
        }); 
      }); 
    }    
  );
</script>
<h2>Asociar Opciones de Menú al Perfil de Usuario</h2>
<br/>
<h4>Perfil de Usuario</h4>
<hr/>
<div class="row">
  <div class="col titulos-campos">     
    Nombre
  </div>
  <div class="col titulos-campos">     
    ¿Activo?
  </div>
  <div class="col titulos-campos">     
    ¿Asociado a Empresa?
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_perfiles_usuario.nombre_perfil %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_perfiles_usuario.estatus?(@cfg_perfiles_usuario.activo) %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_perfiles_usuario.estatus?(@cfg_perfiles_usuario.asociado_empresa) %>&nbsp;
  </div>
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Observaciones
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_perfiles_usuario.observaciones.upcase if !@cfg_perfiles_usuario.observaciones.blank? %>&nbsp;
  </div> 
</div>  

<br/>
<h4>Opciones de Menú</h4>
<hr/>
<%= form_for(@cfg_perfiles_usuario, url: guardar_asociar_opciones_menu_cfg_perfiles_usuario_path(@cfg_perfiles_usuario), method: :post) do |form| %>

<% # Obtener las opciones padre del menú segun el perfil
  opciones_padre = obtener_opciones_padre_menu_activas 
%>
  <% if !opciones_padre.nil? and opciones_padre.size > 0 %>
      <% opciones_padre.each do |opcion_padre| %>




      
         <div class="row">         
           <div class="col">
            <div class="clase1">
              <%= check_box_tag("opciones[]",opcion_padre.id, @opciones_marcadas_perfil.include?(opcion_padre.id)  ) %>
              <%# opcion_padre.id %>  <%# opcion_padre.nombre_opcion %> 
              <% titulo = opcion_padre.id.to_s + " - " + opcion_padre.nombre_opcion  %>
              <%= link_to titulo, cfg_opciones_menu_path(opcion_padre) %>
              <br/>
            </div>  
           </div>   
         </div>
         <% # Buscar las opciones nivel 1
            opciones_nivel_1 = obtener_subopciones_activas(opcion_padre.id)
         %>
         <% opciones_nivel_1.each do |opcion_nivel_1| %>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <%= check_box_tag("opciones[]",opcion_nivel_1.id, @opciones_marcadas_perfil.include?(opcion_nivel_1.id)  ) %> 
           <%# opcion_nivel_1.id %>  <%# opcion_nivel_1.nombre_opcion %> 
           <% titulo = opcion_nivel_1.id.to_s + " - " + opcion_nivel_1.nombre_opcion  %>
           <%= link_to titulo, cfg_opciones_menu_path(opcion_nivel_1) %>
           <br/>
           <% # Buscar las opciones nivel 2
            opciones_nivel_2 = obtener_subopciones_activas(opcion_nivel_1.id)
           %>
           <% opciones_nivel_2.each do |opcion_nivel_2| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= check_box_tag("opciones[]",opcion_nivel_2.id, @opciones_marcadas_perfil.include?(opcion_nivel_2.id)  ) %>
              <% titulo = opcion_nivel_2.id.to_s + " - " + opcion_nivel_2.nombre_opcion  %>
              <%= link_to titulo, cfg_opciones_menu_path(opcion_nivel_2) %>
              <br/>
           <% end %>
         <% end %>
      <% end %>
  <% else %>
    No existen opciones de menú registradas
  <% end %>


<br>
<hr/>
<div class="actions text-center"> 
    <%= link_to 'Regresar', cfg_perfiles_usuarios_path, class: "btn btn-primary" %>
</div>
<% end %>