<script>
  $(document).ready(
    function(){    
      // Evento 
      $("input[type=checkbox]").change(function() {
        //alert("checkbox change...");
        var marcado = "0"
        if ($(this).is(':checked')) {
          marcado = "1";
        }
        $.ajax({
          url: "/cfg_perfiles_usuarios/<%=@cfg_perfiles_usuario.id%>/guardar_asociar_opciones_menu",
          type: "POST",
          data: { opcion_id: $(this).val(),
                  marcado: marcado
                },
          success: function(resp){

          }
        }); 
      });       
      // Actualizar el area de las operaciones en el modal
      // dependiendo de la opción del menu seleccionada
      $("#link a").click(function() {         
        var opcion_id = $(this).parent('#link').attr('name');
        var nombre_perfil = $("#nombre_perfil").val();
        var perfil_id = $("#perfil_id").val();
         //alert("onclick: " + opcion_id );
         //alert("nombre_perfil: " + nombre_perfil );
         $.ajax({
          url: "/cfg_perfiles_usuarios/actualizar_operaciones",
          type: "POST",
          data: { opcion_id: opcion_id, nombre_perfil: nombre_perfil, perfil_id: perfil_id  },
          success: function(resp){

          }
        }); 
      });        

      
    }    
  );
</script>
<h2>Asociar Opciones de Menú al Perfil de Usuario</h2>
<form id="form">
<%= hidden_field_tag "nombre_perfil", @cfg_perfiles_usuario.nombre_perfil %>
<%= hidden_field_tag "perfil_id", @cfg_perfiles_usuario.id %>
</form>
<br/>
<h4>Perfil de Usuario</h4>
<hr/>
<div class="row">
  <div class="col titulos-campos">     
    Nombre
  </div>
  <div class="col titulos-campos">     
    ¿Activo?
  </div>
  <div class="col titulos-campos">     
    ¿Asociado a Empresa?
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_perfiles_usuario.nombre_perfil %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_perfiles_usuario.estatus?(@cfg_perfiles_usuario.activo) %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_perfiles_usuario.estatus?(@cfg_perfiles_usuario.asociado_empresa) %>&nbsp;
  </div>
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Observaciones
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_perfiles_usuario.observaciones.upcase if !@cfg_perfiles_usuario.observaciones.blank? %>&nbsp;
  </div> 
</div>  

<br/>
<h4>Opciones de Menú</h4>
<hr/>
<%= form_for(@cfg_perfiles_usuario, url: guardar_asociar_opciones_menu_cfg_perfiles_usuario_path(@cfg_perfiles_usuario), method: :post) do |form| %>

<% # Obtener las opciones padre del menú segun el perfil
  opciones_padre = obtener_opciones_padre_menu_activas 
%>
  <% if !opciones_padre.nil? and opciones_padre.size > 0 %>  
      <!-- Mostrar el tab con las opciones padres-->    
      <ul class="nav nav-tabs">
        <!-- Tab de Resumen-->
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#resumen">RESUMEN</a>
        </li>  
        <% opciones_padre.each do |opcion_padre| %>
          <% titulo =  opcion_padre.nombre_opcion  %>                
          <%# titulo = opcion_padre.id.to_s + " - " + opcion_padre.nombre_opcion  %>                
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#opcion_<%=opcion_padre.id%>"><%=titulo%></a>
            </li>                         
        <% end %>
      </ul> 
      <br/>
      <!-- Generar el contenido del tab de cada opcion padre -->
      <div class="tab-content">
        <!-- Contenido del Tab de Resumen-->
        <div class="tab-pane active container" id="resumen">
          <div class="titulos-campos"> Resumen </div>  
          <br/>
          <%= render 'resumen_operaciones' %>
        </div>
      <% opciones_padre.each do |opcion_padre| %>             
         <!-- Tab panes -->        
          <div class="tab-pane container" id="opcion_<%=opcion_padre.id%>">                        
            <% titulo =  opcion_padre.nombre_opcion  %>      
            <%# titulo = opcion_padre.id.to_s + " - " + opcion_padre.nombre_opcion  %>      
            <div class="titulos-campos"> Opción de menú: <%= titulo%> </div>  
            <br/>
            <% # Buscar las opciones nivel 1
                opciones_nivel_1 = obtener_subopciones_activas(opcion_padre.id)
            %>
            <% opciones_nivel_1.each do |opcion_nivel_1| %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% titulo =  opcion_nivel_1.nombre_opcion  %>                              
              <%# titulo = opcion_nivel_1.id.to_s + " - " + opcion_nivel_1.nombre_opcion  %>                              
              <% # Buscar las opciones nivel 2
                opciones_nivel_2 = obtener_subopciones_activas(opcion_nivel_1.id)
              %>
              <% if !opciones_nivel_2.nil? and opciones_nivel_2.size > 0  %>
                 <span class=""> <%= titulo%> </span><br/>  
                 <% opciones_nivel_2.each do |opcion_nivel_2| %>
                    <!-- Mostrar el check y el nombre de la opcion -->
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    
                    <%= check_box_tag("opciones[]",opcion_nivel_2.id, @opciones_marcadas_perfil.include?(opcion_nivel_2.id)  ) %>
                    <% titulo = opcion_nivel_2.nombre_opcion  %>
                    <%# titulo = opcion_nivel_2.id.to_s + " - " + opcion_nivel_2.nombre_opcion  %>
                    <span id="link" name="<%=opcion_nivel_2.id%>">
                      <%= link_to titulo, "#modal_opcion", "data-toggle" => "modal" %>                      
                    </span>        
                    <!-- OPERACIONES DE LA OPCION -->
                    <span id="operaciones_opcion_<%=opcion_nivel_2.id%>" >   
                      <%# render 'texto_operaciones_opcion', :locals => {:opcion_id => opcion_nivel_2.id}  %>     
                      <%= render 'texto_operaciones_opcion', perfil_id: @cfg_perfiles_usuario.id , opcion_id:  opcion_nivel_2.id %>
                    </span>
                    <br/>
                 <% end # FIN DO OPCIONES_NIVEL_2 %>
              <% else %>
                 <%= check_box_tag("opciones[]",opcion_nivel_1.id, @opciones_marcadas_perfil.include?(opcion_nivel_1.id)  ) %>
                 <%# link_to titulo, cfg_opciones_menu_path(opcion_nivel_1) %>
                 <span id="link" name="<%=opcion_nivel_1.id%>">
                   <%= link_to titulo, "#modal_opcion", "data-toggle" => "modal", id: "link" %>                   
                 </span> 
                 <!-- OPERACIONES DE LA OPCION -->
                 <span id="operaciones_opcion_<%=opcion_nivel_1.id%>" >    
                    <%# render 'texto_operaciones_opcion', :locals => {:opcion_id => opcion_nivel_1.id}  %>  
                    <%= render 'texto_operaciones_opcion', perfil_id: @cfg_perfiles_usuario.id , opcion_id:  opcion_nivel_1.id %>
                 </span>
                 <br/>    
              <% end  %> 
            <% end  # FIN DO OPCIONES_NIVEL_1 %>  
          </div><!--FIN class="tab-pane active container"-->
      <% end # FIN DEL DO OPCION PADRE %>
      </div>  <!-- FIN class="tab-content"-->  
      <!-- -->
  <% else %>
    No existen opciones de menú registradas
  <% end %>
<br>
<hr/>
<div class="actions text-center"> 
    <%= link_to 'Regresar', cfg_perfiles_usuarios_path, class: "btn btn-primary" %>
</div>
<% end %>
<!-- VENTANA MODAL CON LAS OPERACIONES DE LA OPCION-->
<%= render 'modal_opcion_operaciones'%>



