// Mostrar el mensaje de exito/fracaso de la operacion
alert("<%= @mensaje %>");
// Refrescar el area de las operaciones de la opcion seleccionada
$("#operaciones_opcion_<%=@opcion_id%>").html("<%= j render(:partial => 'texto_operaciones_opcion.html.erb', :locals => {perfil_id: @perfil_id, :opcion_id => @opcion_id } ) %>");
