<h2> Perfiles de Usuario</h2>
<br/>
<div class="actions text-left">
    <%= link_to 'Perfil de Usuario', new_cfg_perfiles_usuario_path %> <br/>
    <%= link_to "Buscar", "#modal_buscar_perfiles", "data-toggle" => "modal" %>
</div>
<!-- VENTANA MODAL CON LOS CRITERIOS DE BUSQUEDA-->
<%= render 'modal_buscar_perfiles' %>

<!-- LISTA DE LOS PERFILES -->
<div id="lista">
   <%= render 'lista_perfiles' %>
</div>
<br/>
<div id="paginacion">
   <%= render 'paginacion' %>
</div>