<h2>Consultar Perfil de Usuario</h2>
<br/>
<div class="row">
  <div class="col titulos-campos">     
    Nombre
  </div>
  <div class="col titulos-campos">     
    ¿Activo?
  </div>
  <div class="col titulos-campos">     
    ¿Asociado a Empresa?
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_perfiles_usuario.nombre_perfil %>&nbsp;
  </div>  
  <div class="col"> 
    <%= @cfg_perfiles_usuario.estatus?(@cfg_perfiles_usuario.activo) %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_perfiles_usuario.estatus?(@cfg_perfiles_usuario.asociado_empresa) %>&nbsp;
  </div>
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Observaciones
  </div>
</div>  
<div class="row">
  <div class="col">     
    <%= @cfg_perfiles_usuario.observaciones.upcase if !@cfg_perfiles_usuario.observaciones.blank? %>&nbsp;
  </div> 
</div>  

<br>
<hr/>
<div class="actions text-center">
    <%= link_to 'Editar', edit_cfg_perfiles_usuario_path(@cfg_perfiles_usuario), class: "btn btn-primary" %>  
    <%= link_to 'Regresar', cfg_perfiles_usuarios_path, class: "btn btn-primary" %>
</div>