<%= form_with(model: cfg_empresa, local: true) do |form| %>
  <% if cfg_empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cfg_empresa.errors.count, "error") %> prohibited this cfg_empresa from being saved:</h2>

      <ul>
      <% cfg_empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod_departamento %>
    <%= form.number_field :cod_departamento, id: :cfg_empresa_cod_departamento %>
  </div>

  <div class="field">
    <%= form.label :cod_municipio %>
    <%= form.number_field :cod_municipio, id: :cfg_empresa_cod_municipio %>
  </div>

  <div class="field">
    <%= form.label :tipo_doc %>
    <%= form.number_field :tipo_doc, id: :cfg_empresa_tipo_doc %>
  </div>

  <div class="field">
    <%= form.label :num_identificacion %>
    <%= form.text_field :num_identificacion, id: :cfg_empresa_num_identificacion %>
  </div>

  <div class="field">
    <%= form.label :dv %>
    <%= form.text_field :dv, id: :cfg_empresa_dv %>
  </div>

  <div class="field">
    <%= form.label :razon_social %>
    <%= form.text_field :razon_social, id: :cfg_empresa_razon_social %>
  </div>

  <div class="field">
    <%= form.label :tipo_doc_rep_legal %>
    <%= form.number_field :tipo_doc_rep_legal, id: :cfg_empresa_tipo_doc_rep_legal %>
  </div>

  <div class="field">
    <%= form.label :num_doc_rep_legal %>
    <%= form.text_field :num_doc_rep_legal, id: :cfg_empresa_num_doc_rep_legal %>
  </div>

  <div class="field">
    <%= form.label :nom_rep_legal %>
    <%= form.text_field :nom_rep_legal, id: :cfg_empresa_nom_rep_legal %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :cfg_empresa_direccion %>
  </div>

  <div class="field">
    <%= form.label :telefono_1 %>
    <%= form.text_field :telefono_1, id: :cfg_empresa_telefono_1 %>
  </div>

  <div class="field">
    <%= form.label :telefono_2 %>
    <%= form.text_field :telefono_2, id: :cfg_empresa_telefono_2 %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :cfg_empresa_website %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.number_field :logo, id: :cfg_empresa_logo %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_field :observaciones, id: :cfg_empresa_observaciones %>
  </div>

  <div class="field">
    <%= form.label :codigo_empresa %>
    <%= form.text_field :codigo_empresa, id: :cfg_empresa_codigo_empresa %>
  </div>

  <div class="field">
    <%= form.label :regimen %>
    <%= form.text_field :regimen, id: :cfg_empresa_regimen %>
  </div>

  <div class="field">
    <%= form.label :razon_rip %>
    <%= form.text_field :razon_rip, id: :cfg_empresa_razon_rip %>
  </div>

  <div class="field">
    <%= form.label :nivel %>
    <%= form.text_field :nivel, id: :cfg_empresa_nivel %>
  </div>

  <div class="field">
    <%= form.label :cfg_municipio_id %>
    <%= form.number_field :cfg_municipio_id, id: :cfg_empresa_cfg_municipio_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
