<%= form_with(model: cfg_empresa, local: true) do |form| %>

<%= render 'general/errores', modelos: [@cfg_empresa] %>
<!--div class="form-group"-->
<div class="row">
  <div class="col">     
    <%= form.label :codigo_empresa, 'Código empresa', class: "control-label required" %>        
  </div>
  <div class="col">     
    <%= form.label :razon_social, 'Razón social ', class: "control-label required" %> 
  </div>
  <div class="col">         
    <%= form.label :municipio_id, 'Departamento-Municipio', class: "control-label required" %>        
  </div>
</div>  
<div class="row">
    <div class="col">
      <div class="field">                
        <%= form.text_field :codigo_empresa, id: :cfg_empresa_cod_empresa, required: true%>
      </div>
    </div>
    <div class="col">
      <div class="field">        
        <%= form.text_field :razon_social, id: :cfg_empresa_razon_social, required: true, style: "text-transform: uppercase" %>
      </div>
    </div>   
    <div class="col"> 
      <div class="field">
        <%= form.grouped_collection_select :cfg_municipio_id, CfgDepartamento.order(:nombre), :cfg_municipios, :nombre, :id, :nombre, required: true, width: "150px", include_blank: true %>
      </div>
    </div>
</div>
<div class="row">
  <div class="col"> 
    <%= form.label :tipo_doc, 'Tipo de documento', class: "control-label" %>  
  </div>
  <div class="col"> 
    <%= form.label :num_identificacion, 'Número de identificación ', class: "control-label" %>    
  </div>
  <div class="col">   
    <%= form.label :dv, 'Dv ', class: "control-label" %>    
  </div>
</div>  
<div class="row">    
    <div class="col">  
      <div class="field">
        <%= form.text_field :tipo_doc, id: :cfg_empresa_tipo_doc %>
      </div>
    </div>
    <div class="col">   
      <div class="field">
        <%= form.text_field :num_identificacion, id: :cfg_empresa_num_identificacion %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= form.text_field :dv, id: :cfg_empresa_dv %>
      </div>
    </div>
</div>      
<div class="row">  
  <div class="col">    
    <%= form.label :tipo_doc_rep_legal, 'Tipo de doc. representante legal', class: "control-label" %>  
  </div>
  <div class="col">    
    <%= form.label :num_doc_rep_legal, 'Número de doc. representante legal ', class: "control-label" %>  
  </div>
  <div class="col">   
    <%= form.label :nom_rep_legal, 'Nombre representante legal', class: "control-label" %>  
  </div>
</div>  
<div class="row">        
    <div class="col">  
      <div class="field">
        <%= form.text_field :tipo_doc_rep_legal, id: :cfg_empresa_tipo_doc_rep_legal %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= form.text_field :num_doc_rep_legal, id: :cfg_empresa_num_doc_rep_legal %>
      </div>
    </div>     
    <div class="col">
      <div class="field">
        <%= form.text_field :nom_rep_legal, id: :cfg_empresa_nom_rep_legal %>
      </div>
    </div>   
</div>    
<div class="row">  
  <div class="col"> 
    <%= form.label :direccion, 'Dirección', class: "control-label" %>     
  </div>
  <div class="col"> 
    <%= form.label :telefono_1, 'Teléfono 1', class: "control-label" %>         
  </div>
  <div class="col">     
    <%= form.label :telefono_2, 'Teléfono 2', class: "control-label" %>         
  </div>
</div>  
<div class="row">           
    <div class="col">  
      <div class="field">
        <%= form.text_field :direccion, id: :cfg_empresa_direccion, style: "text-transform: uppercase" %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= form.phone_field :telefono_1, id: :cfg_empresa_telefono_1, :data => {:mask=> '999-999-9999'} %>
      </div>
    </div>  
    <div class="col">
      <div class="field">
        <%= form.phone_field :telefono_2, id: :cfg_empresa_telefono_2, :data => {:mask=> '999-999-9999'}  %>
      </div>
    </div>
</div>
<div class="row">  
  <div class="col"> 
    <%= form.label :website, 'Website', class: "control-label" %>      
</div>
  <div class="col"> 
   <%= form.label :logo, 'Logo', class: "control-label" %>       
</div>
  <div class="col">    
  <%= form.label :regimen, 'Régimen', class: "control-label" %>       
</div>
</div>  
<div class="row">    
    <div class="col">  
      <div class="field">
        <%= form.text_field :website, id: :cfg_empresa_website %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= form.text_field :logo, id: :cfg_empresa_logo %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.text_field :regimen, id: :cfg_empresa_regimen %>
      </div>
    </div>
</div>
<div class="row">   
  <div class="col">   
    <%= form.label :razon_rip, 'Razón Rip ', class: "control-label" %>   
  </div>
  <div class="col">    
    <%= form.label :nivel, 'Nivel', class: "control-label" %>    
  </div>
  <div class="col">     
    <%= form.label :observaciones, 'Observaciones', class: "control-label" %>    
  </div> 
</div>  
  
<div class="row">      
  <div class="col">
      <div class="field">
        <%= form.text_field :razon_rip, id: :cfg_empresa_razon_rip, style: "text-transform: uppercase" %>
      </div>  
  </div>
   <div class="col">
    <div class="field">
        <%= form.text_field :nivel, id: :cfg_empresa_nivel %>
    </div>
  </div>
    <div class="col">
      <div class="field">
        <%= form.text_field :observaciones, id: :cfg_empresa_observaciones, style: "text-transform: uppercase" %>
      </div>
    </div>        
</div>



<div class="form-group">
  <img id="img_prev" width=100 height=100 src="#" alt="Logo" class="img-thumbnail hidden"/> <br/>
  <span class="btn btn-default btn-file">
    Upload Avatar Image
    <%= form.file_field :avatar, id: "avatar-upload" %>
  </span>
  <%= form.hidden_field :avatar_cache %>
</div>



<br/>
<hr>
<div class="actions text-center">
    <%= form.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_empresas_path, class: "btn btn-primary" %>
</div>

<% end %>

<script>
$(function() {
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#avatar-upload").change(function(){
    $('#img_prev').removeClass('hidden');
    readURL(this);
  });
});
</script>