<script>
  $(document).ready(
    function(){       
      $("#cfg_empresa_tipo_doc").select2();
      $("#cfg_empresa_tipo_doc_rep_legal").select2();
    }
  );
</script>
<%= form_with(model: cfg_empresa, local: true, multipart: true) do |form| %>

<%= a = []
    a << @cfg_empresa
    a << @cfg_sede if !@cfg_sede.nil?
    render 'general/errores', modelos: a %>
<!--div class="form-group"-->
<div class="row">
  <div class="col">     
    <%= form.label :codigo_empresa, 'Código empresa', class: "control-label required" %>        
  </div>
  <div class="col">     
    <%= form.label :razon_social, 'Razón social', class: "control-label required" %> 
  </div>
  <div class="col">         
    <%= form.label :cfg_municipio_id, 'Departamento-Municipio', class: "control-label required" %>        
  </div>
</div>  
<div class="row">
    <div class="col">
      <div class="form-group">                        
        <%= form.text_field :codigo_empresa, {id: :cfg_empresa_cod_empresa, class: "form-control", style: "text-transform: uppercase", required: true, placeholder: "Ingrese el código de la empresa", maxlength: 50} %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">        
        <%= form.text_field :razon_social, {id: :cfg_empresa_razon_social, class: "form-control" , style: "text-transform: uppercase", required: true, placeholder: "Ingrese la razón social", maxlength: 200} %>
      </div>
    </div>   
    <div class="col"> 
      <div class="form-group">
        <%= form.grouped_collection_select :cfg_municipio_id, obtener_departamentos, :cfg_municipios, :nombre, :id, :nombre, {include_blank: true, prompt: "SELECCIONE EL DEPARTAMENTO-MUNICIPIO" }, {class: "form-control",required: true} %>
      </div>
    </div>
</div>
<div class="row">
  <div class="col"> 
    <%= form.label :tipo_doc, 'Tipo de documento', class: "control-label" %>  
  </div>
  <div class="col"> 
    <%= form.label :num_identificacion, 'No. de identificación ', class: "control-label" %>    
  </div>
  <div class="col">   
    <%= form.label :dv, 'Dígito de verificación ', class: "control-label" %>    
  </div>
</div>  
<div class="row">    
    <div class="col">  
      <div class="form-group">
        <%# form.text_field :tipo_doc, id: :cfg_empresa_tipo_doc %>
        <%= form.collection_select(:tipo_doc, obtener_tipo_documentos, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL TIPO DE DOCUMENTO"}, {id: "cfg_empresa_tipo_doc", class: "form-control"}) %>
      </div>
    </div>
    <div class="col">   
      <div class="field">
        <%= form.text_field :num_identificacion, {id: :cfg_empresa_num_identificacion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el no. de identificación", maxlength: 20 } %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= form.text_field :dv, {id: :cfg_empresa_dv, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el dígito de verificación", maxlength: 1, :data => {:mask=> '9'} }%>
      </div>
    </div>
</div>      
<div class="row">  
  <div class="col">    
    <%= form.label :tipo_doc_rep_legal, 'Tipo de doc. representante legal', class: "control-label" %>  
  </div>
  <div class="col">    
    <%= form.label :num_doc_rep_legal, 'No. de doc. representante legal ', class: "control-label" %>  
  </div>
  <div class="col">   
    <%= form.label :nom_rep_legal, 'Nombre representante legal', class: "control-label" %>  
  </div>
</div>  
<div class="row">        
    <div class="col">  
      <div class="field">
        <%# form.text_field :tipo_doc_rep_legal, id: :cfg_empresa_tipo_doc_rep_legal %>
        <%= form.collection_select(:tipo_doc_rep_legal, obtener_tipo_documentos, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL TIPO DE DOCUMENTO"}, {id: "cfg_empresa_tipo_doc_rep_legal",class: "form-control"}) %>
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= form.text_field :num_doc_rep_legal, {id: :cfg_empresa_num_doc_rep_legal, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el No. de documento del representante legal", maxlength: 20 }%>
      </div>
    </div>     
    <div class="col">
      <div class="field">
        <%= form.text_field :nom_rep_legal, {id: :cfg_empresa_nom_rep_legal, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el nombre representante legal", maxlength: 200 } %>
      </div>
    </div>   
</div>    
<div class="row">  
  <div class="col"> 
    <%= form.label :direccion, 'Dirección', class: "control-label" %>     
  </div>
</div>
<div class="row">  
  <div class="col"> 
    <div class="field">
        <%= form.text_field :direccion, {id: :cfg_empresa_direccion, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese la dirección", maxlength: 200 }%>
    </div>
  </div>
</div>
<div class="row">    
  <div class="col"> 
    <%= form.label :telefono_1, 'Teléfono 1', class: "control-label" %>         
  </div>
  <div class="col">     
    <%= form.label :telefono_2, 'Teléfono 2', class: "control-label" %>         
  </div>
  <div class="col"> 
    <%= form.label :website, 'Website', class: "control-label" %>      
  </div>
</div>  
<div class="row">           
    <div class="col">  
      <div class="field">
        <%= form.phone_field :telefono_1, {id: :cfg_empresa_telefono_1, class: "form-control", placeholder: "INGRESE EL TELEFONO", :data => {:mask=> '999-999-9999'} }%>
      </div>
    </div>  
    <div class="col">
      <div class="field">
        <%= form.phone_field :telefono_2, {id: :cfg_empresa_telefono_2, class: "form-control", placeholder: "INGRESE EL TELEFONO", :data => {:mask=> '999-999-9999'}  }%>        
      </div>
    </div>
    <div class="col">  
      <div class="field">
        <%= form.text_field :website, {id: :cfg_empresa_website, class: "form-control", placeholder: "Ingrese el sitio web", style: "text-transform: uppercase", maxlength: 200 }%>
      </div>
    </div>
</div>

<div class="row">    
  <div class="col">    
    <%= form.label :regimen, 'Régimen', class: "control-label" %>       
  </div>
  <div class="col">   
    <%= form.label :razon_rip, 'Razón Rip ', class: "control-label" %>   
  </div>
  <div class="col">    
    <%= form.label :nivel, 'Nivel', class: "control-label" %>    
  </div>
</div>  
<div class="row">    
    <div class="col">
      <div class="field">
        <%= form.text_field :regimen, { id: :cfg_empresa_regimen, class: "form-control", style: "text-transform: uppercase", placeholder: "ingrese el régimen", maxlength: 50 }%>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.text_field :razon_rip, {id: :cfg_empresa_razon_rip, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese la razón social de los rips", maxlength: 50 }%>
      </div>  
    </div>
    <div class="col">
      <div class="field">
        <%= form.text_field :nivel, {id: :cfg_empresa_nivel, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese el nivel", maxlength: 100 }%>
      </div>
    </div>
</div>

<div class="row">    
  <div class="col">     
    <%= form.label :observaciones, 'Observaciones', class: "control-label" %>    
  </div> 
</div>    
<div class="row">        
  <div class="col">
    <div class="field">
      <%= form.text_field :observaciones, {id: :cfg_empresa_observaciones, class: "form-control", style: "text-transform: uppercase", placeholder: "Ingrese las observaciones", maxlength: 200 }%>
    </div>
  </div>        
</div>

 <div class="row">
  <div class="col">
    <%= label :cfg_imagen, :imagen, 'Imagen', class: "control-label" %>   
  </div>
 </div>
 <div class="row">
  <div class="col">
    <div class="field">
      <%= file_field :cfg_imagen, :image %>&nbsp;
      <%= mostrar_imagen(@cfg_imagen).html_safe %>
    </div>
  </div>
 </div>

<br/>
<hr>
<div class="actions text-center">
    <%= form.submit " Guardar ", class: "btn btn-primary" %>    
    <%= link_to 'Regresar', cfg_empresas_path, class: "btn btn-secondary" %>
</div>

<% end %>
