<% if !@cfg_empresas.nil? and @cfg_empresas.size > 0 %>
<table class="table table-bordered table-hover table-striped"><!--  table-responsive-->
  <thead>
    <tr>
      <th scope="col">Código </th>
      <th scope="col">Razón social</th>
      <th scope="col">Departamento / Municipio</th> 
      <th scope="col">¿Activo?</th>     
      <th scope="col" colspan="3"> Operaciones </th>
      <th scope="col"> Sedes </th>
    </tr>
  </thead>

  <tbody>
    <% @cfg_empresas.each do |cfg_empresa| %>
      <tr>                
        <td><%= cfg_empresa.codigo_empresa %></td>
        <td><%= cfg_empresa.razon_social %></td>
        <td><%= obtener_departamento_municipio(cfg_empresa.cfg_municipio_id) %></td>
        <td><%= cfg_empresa.esta_activo?%></td>
        
        <td align="center">           
          <%= link_to(cfg_empresa) do %>           
            <span class="oi oi-magnifying-glass" title="Consultar" aria-hidden="true"></span>
          <% end %> 
        </td>
        <td align="center">           
          <%= link_to(edit_cfg_empresa_path(cfg_empresa)) do %>
              <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>  
          <% end %>
        </td>
        <td align="center">
          <%= link_to(estatus_empresa_path(cfg_empresa, devolver_valor_activo(cfg_empresa.activo)), method: :post,data: { confirm: '¿Está seguro que desea activar/inactivar la empresa?' }) do %>           
              <%= mostrar_operacion_activar(cfg_empresa.activo).html_safe  %>
          <% end %> 
        </td> 
        <td>
          <%# link_to 'Crear', new_cfg_empresa_cfg_sede_path(cfg_empresa) %>
          <a href="/cfg_empresas/<%=cfg_empresa.id%>/cfg_sedes/new?regresar=<%=request.fullpath%>">Sede</a> <br/>
          <%= link_to 'Listar', cfg_empresa_cfg_sedes_path(cfg_empresa) %>          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="sin_registros"> No existen empresas registradas </div>  
<% end %>