<h2> Empresas</h2>
<br/>
<div class="actions text-left">
  <%= link_to 'Empresa', new_cfg_empresa_path %>
</div>
<!-- LISTA DE LAS EMPRESAS -->
<%= render 'lista_empresas' %>
<br/>

<center>
<%= paginate @cfg_empresas %>
<%= page_entries_info @cfg_empresas %>
</center>
