<h2>Consultar Empresa</h2>
<br/>
<div class="row">
  <div class="col titulos-campos">     
    Código empresa        
  </div>
  <div class="col titulos-campos">     
    Razón social
  </div>
  <div class="col titulos-campos">     
    Departamento-Municipio       
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_empresa.codigo_empresa %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_empresa.razon_social %>&nbsp;
  </div>  
  <div class="col">  
    <%= obtener_departamento_municipio(@cfg_empresa.cfg_municipio_id) %>&nbsp;
  </div>
</div>    

<div class="row">
  <div class="col titulos-campos">     
    Tipo de documento    
  </div>
  <div class="col titulos-campos">     
    No. de identificación      
  </div>
  <div class="col titulos-campos">     
    Dv
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%# @cfg_empresa.tipo_doc %> 
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_empresa.tipo_doc) %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_empresa.num_identificacion %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_empresa.dv %>&nbsp;
  </div>
</div>   

<div class="row">
  <div class="col titulos-campos">     
    Tipo de doc. representante legal
  </div>
  <div class="col titulos-campos">     
    No. de doc. representante legal       
  </div>
  <div class="col titulos-campos">     
    Nombre representante legal
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%# @cfg_empresa.tipo_doc_rep_legal %>
    <%= obtener_descripcion_cfg_clasificaciones(@cfg_empresa.tipo_doc_rep_legal) %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_empresa.num_doc_rep_legal %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_empresa.nom_rep_legal %>&nbsp;
  </div>
</div>  

<div class="row">
  <div class="col titulos-campos">     
    Dirección
  </div>
  <div class="col titulos-campos">     
    Teléfono 1      
  </div>
  <div class="col titulos-campos">     
    Teléfono 2
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_empresa.direccion %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_empresa.telefono_1 %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_empresa.telefono_2 %>&nbsp;
  </div>
</div> 

<div class="row">
  <div class="col titulos-campos">     
    Website
  </div>
  <div class="col titulos-campos">     
    Logo      
  </div>
  <div class="col titulos-campos">     
    Régimen
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_empresa.website %>&nbsp;
  </div>
  <div class="col"> 
    <%# @cfg_empresa.logo %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_empresa.regimen %>&nbsp;
  </div>
</div> 

<div class="row">
  <div class="col titulos-campos">     
     Razon rip
  </div>
  <div class="col titulos-campos">     
     Nivel      
  </div>
  <div class="col titulos-campos">     
     Observaciones
  </div>
</div>  
<div class="row">
  <div class="col"> 
    <%= @cfg_empresa.razon_rip %>&nbsp;
  </div>
  <div class="col"> 
    <%= @cfg_empresa.nivel %>&nbsp;
  </div>  
  <div class="col">  
    <%= @cfg_empresa.observaciones %>&nbsp;
  </div>
</div> 

<div class="row">
  <div class="col titulos-campos">
    Imagen
  </div>
</div>
<div class="row">
  <div class="col">
    <%# image_tag(@cfg_empresa.image_url.to_s) %>
    <%# image_tag @cfg_empresa.file_contents %>
    <%# send_data(@cfg_empresa.file_contents, type: @cfg_empresa.content_type, filename: @cfg_empresa.filename, :disposition => 'inline') %>
    <%# image_tag @cfg_imagen.image.url(:med) if !@cfg_imagen.nil? %>
    <%= mostrar_imagen(@cfg_imagen).html_safe %>
  </div>
</div>

<BR>
<hr>
<h4> Lista de sedes </h4>
<a href="/cfg_empresas/<%=@cfg_empresa.id%>/cfg_sedes/new?regresar=<%=request.fullpath%>">Crear Sede</a>
<!-- LISTA DE LAS SEDES -->
<%= render 'cfg_sedes/lista_sedes', cfg_empresa: @cfg_empresa %>

<br>
<hr/>
<div class="actions text-center">
    <%= link_to 'Editar', edit_cfg_empresa_path(@cfg_empresa), class: "btn btn-primary" %>  
    <%= link_to 'Regresar', cfg_empresas_path, class: "btn btn-primary" %>
</div>
<br>