<style>
.green {
    color: green;
}
.disponible {
    color: blue;
}
.red {
    color: red;
}
</style>
<%= month_calendar events: events, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, events| %>
  <%= date.day %>
  <% if events.size > 0 %><h6>Turnos (disponibilidad):</h6><% end %>
  <% events.each do |event| %>
    <% if event.instance_of? CitTurno %>
      <% disp = event.concurrencia.to_i - event.cit_citas.count 
         if disp > 0
      %>     
        <div class='<%= event.estado %>'>
          <%= radio_button("cit_cita", "cit_turno_id", event.id, {required: true}) %>&nbsp;<%= label 'cit_cita', 'cit_turno_id', DateTime.parse(event.hora_ini).strftime("%I:%M %p"), {title: "Registrar Cita en este Turno"} %> 
        </div>
      <% else %>
        <div class='<%= event.estado %>'>
          <%= label 'cit_cita', 'cit_turno_id', DateTime.parse(event.hora_ini).strftime("%I:%M %p"), {title: "No hay disponibilidad de turno en este horario"} %>&nbsp;<span class="badge badge-pill badge-warning"><%= disp %></span>
        </div>      
      <% end %>
    <% elsif event.instance_of? CfgDiasNoLaborales %>
      <div class="red">FERIADO</div>
    <% end %>
  <% end %>  
<% end %>