<div class="row">
  <div class="col">
    <%= label_tag 'identificacion', 'Buscar Paciente por Nro. Documento', class: "control-label" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form-group">
      <%= text_field_tag 'identificacion', params[:identificacion], {class: "form-control", placeholder: 'INGRESE EL NÚMERO DE DOCUMENTO PARA SELECCIONAR PACIENTE'} %>
    </div>
  </div>
</div>	
<div class="pacientes">
  <%= render 'citas/lista_pacientes', identificacion: params[:identificacion] %>
</div>
<br>
<h5>Detalles de la Cita</h5>
<hr>
<div class="row">
  <div class="col">
  	<%= label :cit_cita, :fac_servicio_id, 'Servicio', class: "control-label required" %>
  </div>	  
</div>
<div class="row">
  <div class="col">
  	<div class="form-group">
  	  <%= collection_select :cit_cita, :fac_servicio_id, obtener_servicios, :id, :nombre_servicio, {include_blank: true, prompt: "ESCRIBA EL SERVICIO A BUSCAR EN LA LISTA"}, {id: "cit_cita_fac_servicio_id", class: "form-control", required: true} %>	  	  
  	</div>
  </div>
</div>
<div class="row">
  <div class="col">
  	<%= label :cit_cita, :tipo_cita, 'Motivo Consulta', class: "control-label required" %>
  </div>
</div>
<div class="row">
  <div class="col">
  	<div class="form-group">
  	  <%= collection_select :cit_cita, :tipo_cita, obtener_motivos_consulta, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE EL MOTIVO DE LA CONSULTA"}, {id: "cit_cita_tipo_cita", class: "form-control", required: true} %>
  	</div>
  </div>	  
</div>