<%= form_for(:cit_cita, :html => { :method => :delete }) do |form| %>
  <%= hidden_field_tag('id_cita', cit_cita.id) %>
  <div class="row">
    <div class="col titulos-campos">
      ID Cita
    </div>
  </div>        
  <div class="row">
    <div class="col">
      <%= cit_cita.id %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label 'Motivo de Cancelación' %>
    </div>
  </div>        
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.collection_select :motivo_cancelacion, obtener_motivos_cancelacion, :id, :descripcion, {include_blank: true, prompt: "SELECCIONE DE LA LISTA EL MOTIVO DE LA CANCELACION DE LA CITA"}, {id: "cit_cita_motivo_cancelacion", class: "form-control", required: true} %>
      </div>      
    </div>
  </div>  
  <div class="row">
    <div class="col">
      <%= form.label 'Descripción del Motivo' %>
    </div>
  </div>        
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.text_area(:desc_cancelacion, cols: 63, rows: 4, id: :cit_cita_desc_cancelacion, class: "form-control", required: true, placeholder: "DESCRIPCIÓN DEL MOTIVO DE LA CANCELACIÓN", style: "text-transform: uppercase") %>
      </div>      
    </div>
  </div>   
  <div class="actions text-center">
    <%= form.submit "Cancelar Cita", class: "btn btn-primary" %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>  
  </div>          
<% end %>