<% pacientes = get_pacientes(identificacion) 
	if pacientes.size > 0
%>
	<table class="table table-bordered table-hover table-striped">		
	  <tr>
	  	<th scope="col">Nro. Documento</th>
	  	<th scope="col">Nombre Paciente</th>
	  	<th scope="col">Género</th>
	  	<th scope="col">Fec. Nacimiento</th>
	  	<th scope="col">Seleccionar</th>
	  </tr>
	  <% pacientes.each do |p| %>
	   <tr>
	  	<td><%= p.identificacion %></td>
	  	<td><%= p.nombres + " " + p.apellidos %></td>
	  	<td><%= obtener_descripcion_cfg_clasificaciones(p.genero) %></td>
	  	<td><%= mostrar_fecha(p.fecha_nacimiento) %></td>
	  	<td align="center"><%= radio_button("cit_cita", "cfg_paciente_id", p.id, {class: "form-control", required: true}) %></td>
	   </tr>		  
	  <% end %>
	</table>
<% end %>
