<%= collection_select :cit_cita, :cfg_usuario_id, obtener_prestadores(cfg_especialidad_id), :id, :nombre_especialidad, { id: "cit_cita_cfg_usuario_id", class: "form-control", required: true, include_blank: true } %>