<script>
  $(document).ready(function(){
    $('.link_cita').click(function(){
      $.ajax({
        url: "/citas/cancelar_cita",
        type: "POST",
        data: {"id": $(this).attr('id')},
        complete: function(data){
          
        }
      })            
    })
  })
</script>
<h2>Lista de Citas</h2>
<br>
<div class="actions text-left">
  <%= link_to 'Citar Paciente', new_cita_path %>
</div>
<% if @cit_citas.size > 0 %>
  <table class="table table-bordered table-hover table-striped">
  	<thead>
  	  <tr>
  	    <th scope="col">Paciente</th>
  	    <th scope="col">Prestador / Especialidad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Turno</th>
        <th scope="col">Servicio</th>
        <th scope="col">Motivo Consulta</th>
        <th scope="col">Operación</th>
  	  </tr>
    </thead>
  	<% @cit_citas.each do |x| %>
  	  <tbody>
  	    <tr>
  	      <td><%= x.nombre_completo_paciente %></td>
  	      <td><%= mostrar_imagen(x.cfg_usuario.cfg_imagen).html_safe %><%= x.nombre_completo_usuario %>&nbsp;(<%= x.especialidad %>)</td>
          <td><%= mostrar_fecha(x.fecha) %></td>
          <td><%= DateTime.parse(x.hora_ini).strftime("%I:%M %p") %></td>
          <td><%= x.nombre_servicio %></td>
          <td><%= obtener_descripcion_cfg_clasificaciones(x.tipo_cita) %></td>
          <td align="center">   
            <% if x.cancelada == false %>       
              <%= link_to '<span class="oi oi-x" title="Cancelar Cita" aria-hidden="true"></span>'.html_safe, '#exampleModalCenter', class: "link_cita", id: x.id %> 
            <% else %>
              <%= '<span class="oi oi-ban" title="Cita cancelada previamente"></span>'.html_safe %>                
            <% end %>
          </td>
  	    </tr>
  	  </tbody>
  	<% end %>
  </table>
<% else %>
  <div class="sin_registros">
    <% if @cit_citas.nil? %>
      No hay valor en los campos de búsqueda. Inténtelo de nuevo
    <% elsif @cit_citas.size == 0 %>
      No hay registro de cita para mostrar en este listado      
    <% end %>
  </div>  
<% end %>

<%= render 'modal' %>