<script>
  $(document).ready(
    function(){
      // Combo de usuarios. De entrada, muestra foto del prestador
      $("#cit_cita_cfg_usuario_id").select2({
        ajax: {
          url: "/citas/usuarios", //URL for searching companies    
          delay: 200,
          dataType: "json",
          data: function (params) {           
            return {
              search: params.term, //params send to companies controller
            };
          },
          processResults: function (data) {      
            return {
              results: data
            };
          },    
          cache: true
        },
        width: "100%",
        placeholder: "SELECCIONE PRESTADOR DE LA LISTA",
        allowClear: true,
        minimumInputLength: 5,
        language: "es",
        templateResult: format  
      });
 
      // Combo de especialidades
      var especialidad = $("#cfg_especialidad_id")
      $(especialidad).select2({
        allowClear: true,
        placeholder: 'SELECCIONE ESPECIALIDAD PARA BUSCAR PRESTADOR'
      })
 
      // Combo para listar servicios
      var fac_servicio_id = $("#cit_cita_fac_servicio_id")
      $(fac_servicio_id).select2()           
      var tipo_cita = $("#cit_cita_tipo_cita") 
      $("#fecha_inicial").datepicker()
      $("#fecha_final").datepicker()          

      // Cuando cambie de especialidad, llamará a un método en el controlador y de ahí, al javascript
      $(document).on("change","#cfg_especialidad_id",function(){
      	var especialidad = $("#cfg_especialidad_id")
        $.ajax({
          url: "/citas/buscar_usuario",
          type: "POST",
          data: {"cfg_especialidad_id": $(especialidad).val()},
          complete: function(data){
            var usuario = $("#cit_cita_cfg_usuario_id")
            $(usuario).select2({
              placeholder: "SELECCIONE PRESTADOR DE LA LISTA",
              width: "100%",
              allowClear: true              
            })    
          }
        })
      })

      // Actualizar lista de horarios de acuerdo al valor seleccionado en el combo  
      $(document).on("change","#cit_turno_cfg_horario_id",function(){
      	var horario = $("#cit_turno_cfg_horario_id")      	
        $.ajax({
          url: "/cit_turnos/buscar_horarios",
          type: "POST",
          data: {"horario_id": $(horario).val()}
        })
      })   

      // Actualizar agenda del prestador de acuerdo al valor seleccionado en el combo  
      $(document).on("change","#cit_cita_cfg_usuario_id",function(){
      	var usuario = $("#cit_cita_cfg_usuario_id")      	
        $.ajax({
          url: "/citas/buscar_agenda",
          type: "POST",
          data: {"usuario_id": $(usuario).val()}
        })
      })

      // Validar campos previo al llamado en el controlador
      $("form").submit(function(event){
        var mensaje = ''
        var fechaInicial = $("#fecha_inicial").val()
        var fechaFinal = $("#fecha_final").val() 
        var hoy = new Date($.now())    
        
        if(fechaInicial == ''){
          mensaje = 'Fecha Inicial no puede estar en blanco'
        } else if (fechaFinal == ''){
          mensaje = 'Fecha Final no puede estar en blanco'
        } else if (toDate(fechaInicial) < hoy || toDate(fechaFinal) < hoy){
          mensaje = 'Ninguna fecha no debe ser menor al día de hoy'
        } else if (fechaInicial > fechaFinal) {
          mensaje = 'Fecha Inicial no puede ser mayor a la Fecha Final'
        } if (mensaje != ''){
          alert(mensaje)
          return false
        }      
      })

      $(document).on("click",".link_event",function(){  
        $('.modal-content').css("width", "+=500")
        $.ajax({
          url: "/cit_turnos/buscar_evento",
          type: "POST",
          data: {"evento_id": $(this).attr('id')},
          complete: function(data){

          }          
        })
      })

      // Para buscar paciente de acuerdo al número del documento
      $(document).on("change","#identificacion",function(){
        var identificacion = $("#identificacion").val()        
        $.ajax({
          url: "/citas/buscar_paciente",
          type: "POST",
          data: {"identificacion": identificacion}
        })
      })
    }
  )

  // Devuelve fecha en formato postgresql
  function toDate(dateStr) {
    const [day, month, year] = dateStr.split("/")
    return new Date(year, month - 1, day)
  }
 
  // Para mostrar datos de prestadores, incluso imagen (de existir)
  function format (option) {      
    if (!option.id) { return option.text; }      
    var $ob = $('<span><img src="' + option.imagen + '" class="img-flag" /> ' + option.text + '</span>');
    return $ob;
  };  
</script>
<h2>Citar Paciente</h2>
<hr>
<h5>Buscar Prestador</h5>
<hr/>
<%= form_for(@cit_cita, url: citas_path) do |form| %>
  <%= render 'general/errores', modelos: [@cit_cita] %>    
  <div class="row">
    <!--div class="col"-->
      <%# label_tag 'cfg_especialidad_id', 'Especialidad', class: "control-label required" %>    
    <!--/div-->
    <div class="col">
      <%= label :cit_cita, :cfg_usuario_id, 'Prestador / Especialidad', class: "control-label required" %>
    </div>
  </div>
  <div class="row">
    <!--div class="col">
      <div class="form-group"-->
        <%# select_tag "cfg_especialidad_id", options_from_collection_for_select(obtener_especialidades_turno, "id", "descripcion", params[:cfg_especialidad_id]), class: "form-control", required: true, include_blank: true %>
      <!--/div>
    </div-->
    <div class="col">
      <div class="form-group">
        <div class="usuario">
          <%= render 'usuario', cfg_especialidad_id: params[:cfg_especialidad_id] %>
        </div>
      </div>    
    </div>   
  </div>
  <div id="events_calendar">
    <%= render 'citas/calendar', events: (@cit_turnos + @cfg_dias_no_laborales) %>
  </div>
  <div class="cita"> 
    <%= render 'citas/datos_cita' %>
  </div>
  <div class="actions text-center">
    <%= form.submit "Citar Paciente", class: "btn btn-primary", id: "enviar" %>
    <%= link_to 'Regresar', citas_path, class: "btn btn-secondary" %>       
  </div>      
<% end %>
<br>
