<%# h opciones_menu(session[:perfil_usuario_id]).html_safe %>
<%
  # Setear la variable del menu
  if session[:menu].blank?
    session[:menu] = opciones_menu(session[:perfil_usuario_id]) 
  end
%>
<%= session[:menu].html_safe %>