<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="../" class="navbar-brand">OPEN MEDICAL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
                Configuración <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="/cfg_empresas">Empresas, Sedes y Consultorios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../cerulean/">Especialidades</a>
                <a class="dropdown-item" href="../cosmo/">Medicinas</a>
                <a class="dropdown-item" href="/cfg_usuarios">Usuarios</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../help/">Citas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://blog.bootswatch.com">Pacientes</a>
            </li>
            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">
                Yeti <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item" href="https://jsfiddle.net/bootswatch/vdr1vx77/">Open in JSFiddle</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../4/yeti/bootstrap.min.css">bootstrap.min.css</a>
                <a class="dropdown-item" href="../4/yeti/bootstrap.css">bootstrap.css</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../4/yeti/_variables.scss">_variables.scss</a>
                <a class="dropdown-item" href="../4/yeti/_bootswatch.scss">_bootswatch.scss</a>
              </div>
            </li>
          -->
          </ul>
            
          <ul class="nav navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <!--<a class="nav-link" href="/users/sign_out">Salir</a>-->
                <%= link_to 'Salir', destroy_user_session_path, :method => :delete, class: "nav-link" %>
                <%# link_to 'Sign out', '/users/sign_out', :method => :delete, class: "nav-link" %>
              </li>
            <% end %> 
            <!--
            <li class="nav-item">
              <a class="nav-link" href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a>
            </li>
            -->            
          </ul>
          
        </div>
      </div>
    </div>