<div class="caja-informacion-usuario">
		<!-- class='caja-informacion-usuario' style='display: inline-block; padding: 10px 10px 10px 10px; border: 1px solid #EEE;' -->
	Usuario: <%= session[:nombre_usuario] %>
	<br/>
	Perfil: <%= session[:perfil_usuario]  %>
	<% if !session[:empresa_id].blank? %>
	  <br/>
      Empresa: <%= session[:empresa_nombre] %>
	<% end %>
	<% if !session[:empresa_id].blank? %>
	  / Sede: <%= session[:sede_nombre] %>
	<% end %>

</div>
<br/>