<% flash.each do |key, value| %> 
  <% if key == 'notice' or key == 'alert' %>            
     <% if key == 'notice' and !value.blank? %>       
        <div class="alert alert-dismissible alert-success">
     <% elsif key == 'alert' and !value.blank? %>
        <div class="alert alert-dismissible alert-danger">
     <% end %>
     <%= value.html_safe %>          
     </div>
  <% end %>
<% end %>
