      <!-- MENSAJES DE EXITO/ERROR -->
      <% flash.each do |key, value| %> 
        <% if key == 'notice' or key == 'alert' %>            
           <% if key == 'notice' and !value.blank? %>       
              <div class="login_exito">
           <% elsif key == 'alert' and !value.blank? %>
              <div class="login_error">
           <% end %>
           <%= value %>          
           </div>
        <% end %>
      <% end %>