<!DOCTYPE html>
<html>
  <head>
    <title>..</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] if params[:controller] == "cfg_horarios" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(function(){
         // Find any date inputs and override their functionality
         $('input[type="date"]').datepicker({format: "dd/mm/yyyy",language: "es"})
      });
  </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/encabezado' %>      
    </header>    
    <br/><br/>  
    <!-- CONTENIDO DE LA PAGINA-->      
    <br/>      
    <div class="container">  
      <!-- INFORMACION DEL USUARIO-->
      <%= render 'layouts/informacion_usuario' %>      
      <!-- MENSAJES DE EXITO/ERROR -->
      <%= render 'layouts/mensajes' %>      
      <!-- CONTENIDO -->
      <%= yield %>
    </div>
    <!-- PIE DE PAGINA-->
    <footer>
      
    </footer>
  </body>
</html>
