<!DOCTYPE html>
<html>
  <head>
    <title>..</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        /*
        background: #fff;
        background-image: <%# asset_url('medicina2.jpg')%>;  */
        /*background: <%# asset_url('medicina3.jpg') %>;*/
        background-repeat: no-repeat;  
        background-image: <%= asset_url('medicina3.jpg') %>;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
      }
      main {
        flex: 1 0 auto;
      }
    </style>
  </head>

  <!-- background="<%# asset_url('medicina2.jpg')%>"-->
  <body background="<%= asset_url('medicina3.jpg')%>"> 
    <header>      
    </header>
    <br/><br/><br/>    
  	<div class="container">      
      <!-- CONTENIDO DE LA PAGINA-->      
      <%= yield %>
    </div>
    <!-- PIE DE PAGINA-->
    <footer>
      
    </footer>
  </body>
</html>