<!DOCTYPE html>
<html>
  <head>
    <title>..</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
    </header>

    <br/><br/><br/>
    
  	<div class="container">
      <!-- MENSAJES DE EXITO/ERROR -->
      <%= render 'layouts/mensajes' %>
      <!-- CONTENIDO DE LA PAGINA-->
      <%= yield %>
    </div>
    <!-- PIE DE PAGINA-->
    <footer>
      
    </footer>
  </body>
</html>